h2 Verb: Past Tense
p The Past tense is used to describe any action that took place in the past.
p
	| "Этот молодой человек раньше не говорил по-русски, а теперь говорит". - "Previously, this young man did not speak Russian but now he does."
p
	| "Маша уже говорила тебе, где можно купить сувениры." - "Masha told you before where to buy souvenirs."
p
	| To form the Past Tense verbal forms: first, drop the verb Infinitive ending and add to the verb stem the Past tense suffix "-л", then follow the suffix with the ending "-а" for feminine nouns,  with the ending "-о" for neuter nouns, and the ending "-и" for plural nouns.
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t1.gif')
p
	b Please, remember!
	| The Past tense verbal form agrees with the noun in gender and number.
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t2.jpg')

