h2 IMPERATIVE
p The Imperative is used to express a request or an order.
p
	| There are two Imperative forms in Russian, and the choice of a particular form depends on whom you are addressing:
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t3.gif')
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t4.gif')
h3 Imperative forms.
p This is how the Imperative forms are constructed:
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t5.gif')
p
	b Please, remember!
p
	| If the verb stem ends in a vowel ("a", "о", "у", "и", etc.), then the suffix "-Й-" is added to the stem. If the stem ends in a consonant ("б","в", "г", "д", "ж", etc.), then the suffix "-И-" is added.
