h1 Reflexive verbs (continued)
p
  | In the Russian language, there are several groups of reflexive verbs. Verbs in the first group describe actions performed by the agent and directed back at the agent ("одева́ться" = "dress oneself", "умыва́ться" = "wash one’s own face"). Verbs in the second group describe reciprocal actions performed by two or more people towards one another (здоро́ваться = greet each, обнима́ться = hug each another). Verbs in the third group describe actions that are neither reflexive nor reciprocal. These verbs are simply never used without "-ся", and they have to be memorized. Here they are:
br
br
table
  tr
    td
      img(src='/images/' + course + '/grammar/lesson10/10.jpg', width='80%')
    td
      img(src='/images/' + course + '/grammar/lesson10/07.jpg')
  tr
    td
      img(src='/images/' + course + '/grammar/lesson10/11.jpg', width='80%')
    td
      br
      img(src='/images/' + course + '/grammar/lesson10/08.jpg')
  tr
    td
      img(src='/images/' + course + '/grammar/lesson10/12.jpg', width='80%')
    td
      br
      img(src='/images/' + course + '/grammar/lesson10/09.jpg')
