ul
	li Извините́, где бага́ж?
	li Бага́ж там,
	li бага́ж сле́ва.
	li Большо́е спаси́бо.
	li Прости́те...
	li Я Джон, я тури́ст. А вы?
	li Я? Я Мари́я, я то́же тури́стка. И ещё я …
	li Ме́неджер?
	li Нет, нет, не ме́неджер.
	li Студе́нтка?
	li Нет, не студе́нтка.
	li Вы до́ктор?
	li Нет, я не до́ктор.
	li Вы инжене́р?
	li Нет, я не инжене́р.
	li А кто вы?
	li Я журнали́стка! Я журнали́стка и тури́стка!
	li А… вот и бага́ж!