ul
	li Вам кого, простите?
	li Извините, а Мария здесь живёт?
	li Мария? А, поняла - вы пришли к Марии. Мария! К тебе пришли!
	li А, Джон приехал! Вот здорово - наконец я получу свои вещи назад,
	li Познакомьтесь: это Джон, я познакомилась с ним в аэропорту, он канадский музыкант, приехал посмотреть Москву.
	li Это его друг Лёва. А это моя подруга Юля, это её квартира.
	li Сегодня у Юли день рожденья, поэтому мы здесь собрались на вечеринку, хотим весело провести время с гостями.
	li Дорогая Юля, мы поздравляем вас с днём рожденья!
	li Видишь, как хорошо, что мы пришли с подарком!