div Вам кого, простите?
div Извините, а Мария здесь живёт?
div Мария? А, поняла - вы пришли к Марии. Мария! К тебе пришли!
div А, Джон приехал! Вот здорово - наконец я получу свои вещи назад,
div Познакомьтесь: это Джон, я познакомилась с ним в аэропорту, он канадский музыкант, приехал посмотреть Москву.
div Это его друг Лёва. А это моя подруга Юля, это её квартира.
div Сегодня у Юли день рожденья, поэтому мы здесь собрались на вечеринку, хотим весело провести время с гостями.
div Дорогая Юля, мы поздравляем вас с днём рожденья!
div Видишь, как хорошо, что мы пришли с подарком!