h2 Plural nouns (continued)
p
  img(src='/images/' + course + '/grammar/lesson02/ls2s2t1.gif')
p
  b Please, remember!
  |  These are exceptions.
img(src='/images/' + course + '/grammar/lesson02/tabl.jpg')
p
  b Attention!
  |  These nouns have only the Plural form:
p
  img(src='/images/' + course + '/grammar/lesson02/tabl3.jpg')
p
  b Please, remember!
  |  Borrowed foreign words which end in -о, -и, -ю, -у never change their from (are invariant).
p
  img(width='300px', src='/images/' + course + '/grammar/lesson02/tabl2.jpg')