ul
	li Здра́вствуйте!
	li До́брый день!
	li До́брый день!
	li Как вас зову́т?
	li Одну́ мину́ту, пожа́луйста!
	li Меня́ зову́т Джон Де́йсон, вот мой па́спорт.
	li Вот анке́та и ру́чка.
	li Напиши́те вот тут:
	li кто вы,
	li ваша́ фами́лия,
	li ваша́ страна́,
	li ваш а́дрес,
	li ваша́ профе́ссия,
	li телефо́н…
	li Прости́те, э́то не ваша́ ру́чка! Э́то моя́ ру́чка!
	li Э́то не ваша́ ру́чка, э́то её ру́чка! Мину́ту!