ul
	li Извини́те.
	li Ничего́, ничего́… Мои́ фотогра́фии.
	li Э́то моя́ семья́: мои́ де́ти, моя́ жена́. Её зову́т Викто́рия.
	li Вот мой брат Андре́й. Здесь е́го дом, маши́на, цветы́, сад...
	li Э-э-э… прости́те…
	li … мой брат, его́ зову́т Андре́й, его́ семья́…
	li Что? Как меня́ зову́т? Меня́ зову́т Лев Бори́сович, а вас как зову́т?
	li Меня́ зову́т Джон, я кана́дец…
	li Мои́ роди́тели украи́нцы, я то́же украи́нец.
	li Моя́ ро́дина - Украи́на. Столи́ца Украи́ны – Ки́ев.
	li Там моя́ семья́, моя́ жена́ Викто́рия, она́ ру́сская, э́то мои́ де́ти.
	li Вот мой брат, его́ зову́т Андре́й, вот его́ семья́…
	li Прости́те, ру́чка. Мо́жно?
	li …а э́то его́ до́чка. А э́то моя́ до́чка, её зову́т Га́ля.
	li Чей э́то сын? О, э́то наш сын. Его́ зову́т Никола́й, Ко́ля, он студе́нт…
	li Молодо́й челове́к! Вот ваш ключ.
	li Ваш но́мер 54, э́то наверху́, эта́ж 20. Анке́та пото́м.
	li Де́вушка! Чей э́то ключ? Э́то его́ ключ? А где мой ключ?! Где мой но́мер?!
	li Де́вушка! Чья э́то анке́та? Где моя́ анке́та?
	li Пожа́луйста, вот ваш ключ. Ваш но́мер 56, он наверху́, то́же эта́ж 20.
	li Лифт там, спра́ва. Эта́ж 20, коридо́р, ваш но́мер то́же сле́ва.
	li За́втрак у́тром в 8, рестора́н внизу́.
	li Джон, мы сосе́ди, э́то хорошо́!