h2 PERSONAL PRONOUNS
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s1t6.gif')
p
	| Pronouns HE, SHE can serve as substitutes for both animate and inanimate nouns. The pronoun IT serves as a substitute for inanimate nouns only.
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s1t7.gif')