h2 Plural nouns (continued)
p
  img(src='/images/grammar/lesson02/ls2s2t1.gif')
p
  b Please, remember!
  |  These are exceptions.
//
  <table class="tblGrammar" style="text-align: center;">
  <tr class="trBordered">
  <td>Masculine gender:</td>
  <td>Feminine gender:</td>
  <td>Neuter gender:</td>
  </tr><tr>
  <td><img src="/images/grammar/lesson02/ls2s2t2.gif"/><br/>
  <img src="/images/grammar/lesson02/ls2s2t3.gif"/><br/>
  <img src="/images/grammar/lesson02/ls2s2t8.gif"/><br/>
  <img src="/images/grammar/lesson02/ls2s2t9.gif"/></td>
  <td><img src="/images/grammar/lesson02/ls2s2t4.gif"/><br/>
  <img src="/images/grammar/lesson02/ls2s2t5.gif"/></td>
  <td><img src="/images/grammar/lesson02/ls2s2t6.gif"/><br/>
  <img src="/images/grammar/lesson02/ls2s2t7.gif"/></td>
  </tr>
  </table>
img(src='/images/grammar/lesson02/tabl.jpg')
p
  b Attention!
  |  These nouns have only the Plural form:
p
  img(src='/images/grammar/lesson02/tabl3.jpg')
p
  b Please, remember!
  |  Borrowed foreign words which end in -о, -и, -ю, -у never change their from (are invariant).
p
  img(width='300px', src='/images/grammar/lesson02/tabl2.jpg')

