h2
  | Using adverbs ("по-русски" - "in Russian") with verbs "говорить" ("to speak") and "понимать" ("to understand").
p
  img(src='/images/grammar/lesson05/s5.gif')
li
  | Мы хорошо говорим по-английски.
li
  | Друзья не пишут по-итальянски, но читают по-итальянски.
li
  | Иван неплохо понимает по-украински.
  p
    img(src='/images/grammar/lesson05/s6.gif')

