ul
	li Извините, вы не скажете, где в Москве находится Дом Журналиста?
	li Дом Журналиста находится в центре Москвы.
	li Извините, я не могу говорить, у меня нет времени!
	li Скажите, пожалуйста, вы не знаете, где здесь станция метро?
	li Станция метро находится недалеко от гостиницы, станция называется «ВДНХ».
	li Какое странное название! Почему станция метро так называется?
	li Слово, конечно, странно, но я могу его объяснить.
	li В слове ВДНХ первая буква В - от слова выставка, потому что здесь находится большая выставка.
	li Станция метро вон там. Смотрите: вот прямо - большая широкая улица, она называется Проспект мира.
	li А дальше - круглое здание, на нём наверху красная буква М, видите? Это вход в метро.
	li А где можно купить билет на метро? В гостинице можно купить билет?
	li Нет, в гостинице нет кассы метро, там нельзя купить билет.
	li Можно купить билет на улице в киоске, где продают газеты?
	li Нет, в киоске билет тоже нельзя купить. Вы можете купить его в кассе на станции метро. Не помню точно, сколько стоит билет, но это недорого.
	li Спасибо за помощь, очень полезная информация. Так, сейчас 12 часов, пресс-конференция – после обеда, в 4. Я ещё ничего не видел в Москве, потому что не был в центре. А сейчас у меня есть свободное время, поэтому я могу посмотреть центр Москвы. Брать чемодан Марии или не брать? Чемодан очень тяжёлый, большой… Нет, не буду брать её чемодан, буду искать Марию…