div Извините, вы не скажете, где в Москве находится Дом Журналиста?
div Дом Журналиста находится в центре Москвы.
div Извините, я не могу говорить, у меня нет времени!
div Скажите, пожалуйста, вы не знаете, где здесь станция метро?
div Станция метро находится недалеко от гостиницы, станция называется «ВДНХ».
div Какое странное название! Почему станция метро так называется?
div Слово, конечно, странно, но я могу его объяснить.
div В слове ВДНХ первая буква В - от слова выставка, потому что здесь находится большая выставка.
div Станция метро вон там. Смотрите: вот прямо - большая широкая улица, она называется Проспект мира.
div А дальше - круглое здание, на нём наверху красная буква М, видите? Это вход в метро.
div А где можно купить билет на метро? В гостинице можно купить билет?
div Нет, в гостинице нет кассы метро, там нельзя купить билет.
div Можно купить билет на улице в киоске, где продают газеты?
div Нет, в киоске билет тоже нельзя купить. Вы можете купить его в кассе на станции метро. Не помню точно, сколько стоит билет, но это недорого.
div Спасибо за помощь, очень полезная информация. Так, сейчас 12 часов, пресс-конференция – после обеда, в 4. Я ещё ничего не видел в Москве, потому что не был в центре. А сейчас у меня есть свободное время, поэтому я могу посмотреть центр Москвы. Брать чемодан Марии или не брать? Чемодан очень тяжёлый, большой… Нет, не буду брать её чемодан, буду искать Марию…