div Здра́вствуйте!
div До́брый день!
div До́брый день!
div Как вас зову́т?
div Одну́ мину́ту, пожа́луйста!
div Меня́ зову́т Джон Де́йсон, вот мой па́спорт.
div Вот анке́та и ру́чка.
div Напиши́те вот тут:
div кто вы,
div ваша́ фами́лия,
div ваша́ страна́,
div ваш а́дрес,
div ваша́ профе́ссия,
div телефо́н…
div Прости́те, э́то не ваша́ ру́чка! Э́то моя́ ру́чка!
div Э́то не ваша́ ру́чка, э́то её ру́чка! Мину́ту!