extends ../layout

block paths
	- var s_title = course.title.ru.value

block title
	title= 'КУРС | ' + course.title.ru.value.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/course.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)
	script(type='text/javascript', src='/build/js/course.js' + version)


block navigate
	.lessons_navigator_block
		.lessons_block
			.circles
				#lesson1.circle(l_title='Урок 1', l_fail='20', l_success='60')
				#lesson2.circle(l_title='Урок 2', l_fail='35', l_success='25')
				#lesson3.circle(l_title='Урок 3', l_fail='50', l_success='40')
				#lesson4.circle(l_title='Урок 4', l_fail='15', l_success='65')
				#lesson5.circle(l_title='Урок 5', l_fail='50', l_success='30')
		.blocks_navigator_block
			.lesson_blocks_item

				.block_item
					.block_item_title Сцена 1: паспортный контроль
					.block_item_study
						.study_block
							.study_exercises_block
								.study_exercises_title Задания
								.study_exercises_items
									a.study_exercise_item(href='/cool') Выучите новые слова
									.study_exercise_item Проверьте себя
									.study_exercise_item Выучите новые выражения
									.study_exercise_item Диалог
									.study_exercise_item Задание на понимание
							.study_content_block
								.study_content_title Страноведение
								.study_content_items
									.content_item Миграционная карта
						.study_block.stat
							.study_exercises_block
								.study_exercises_title Упражнения
								.study_exercises_items
									.study_exercise_item Грамматические
									.study_exercise_item Лексические
									.study_exercise_item Речевые
							.study_content_block
								.study_content_title Грамматика
								.study_content_items
									.content_item род, число существительных
									.content_item личные местоимения
					.block_item_test Тест


				.block_item
					.block_item_title Сцена 2: профессии
					.block_item_study
						.study_block
							.study_exercises_block
								.study_exercises_title Задания
								.study_exercises_items
									.study_exercise_item Выучите новые слова
									.study_exercise_item Проверьте себя
									.study_exercise_item Выучите новые выражения
									.study_exercise_item Диалог
									.study_exercise_item Задание на понимание
							.study_content_block
								.study_content_title Страноведение
								.study_content_items
									.content_item Аэропорты Москвы
						.study_block.stat
							.study_exercises_block
								.study_exercises_title Упражнения
								.study_exercises_items
									.study_exercise_item Грамматические
									.study_exercise_item Лексические
									.study_exercise_item Речевые
							.study_content_block
								.study_content_title Грамматика
								.study_content_items
									.content_item существительные женского рода, профессии
									.content_item отрицательные конструкции
					.block_item_test Тест


				.block_item
					.block_item_title Сцена 3: багаж
					.block_item_study
						.study_block
							.study_exercises_block
								.study_exercises_title Задания
								.study_exercises_items
									.study_exercise_item Выучите новые слова
									.study_exercise_item Проверьте себя
									.study_exercise_item Диалог
									.study_exercise_item Задание на понимание
							.study_content_block
								.study_content_title Страноведение
								.study_content_items
									.content_item Почему русские не улыбаются?
						.study_block.stat
							.study_exercises_block
								.study_exercises_title Упражнения
								.study_exercises_items
									.study_exercise_item Грамматические
									.study_exercise_item Речевые
							.study_content_block
								.study_content_title Грамматика
								.study_content_items
									.content_item притяжательные местоимения
					.block_item_test Тест


			.dictionary_block
				.dictionary_title Словарь:
				.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я


block content
	h3 Благодаря нашей программе вы сможете:
	ul
		li сдать тест элементарного уровня владения русским языком в рамках Российской государственной системы тестирования (тест можно сдавать не только в России в специальных центрах тестирования, но и за рубежом),
		li овладеть лексическим минимумом в размере около 1000 единиц,
		li читать адаптированные тексты бытового, учебного и социально-культурного характера,
		li читать и понимать названия городов, улиц на карте, названия магазинов и простые объявления, ориентироваться в меню ресторанов и т.п.,
		li понимать на слух русскую речь (небольшого объема, 80-100 слов) и поддерживать простой разговор по-русски,
		li выражать желание, просьбу, несогласие и т.д.,
		li а также будете иметь общее представление о структуре русского языка,
		li познакомитесь с особенностями русского этикета и узнаете много интересной информации о жизни в России сегодня.
	h3 Если Вы заинтересовались русским языком, потому что
	ul
		li скоро собираетесь поехать в Россию учиться, работать или как турист,
		li считаете знакомство с русским языком полезным для себя в будущем,
		li давно знаете и любите русскую культуру и особенно литературу,
		li предпочитаете учиться индивидуально за компьютером,
		li когда-то учили русский язык, но все забыли и хотели бы его восстановить,
		li уже живете в России и Вам очень трудно без знания языка (а заниматься на специальных языковых курсах или в группе нет времени),
		li вам легче (или доступнее) изучать иностранный язык с помощью современных технологий, чем традиционными методами,
		li надеетесь больше узнать о жизни в России, -
		li то наша программа для Вас! Мы стремились сделать наш курс доступным, интересным, динамичным, веселым, не перегруженным научной терминологией и грамматикой.
