extends ../layout

block paths
	- var s_title = 'Courses › ' + course.i18n.title.get('ru')

block title
	title= 'COURSE | ' + course.i18n.title.get('ru').toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/course.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/exercises.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)
	script(type='text/javascript', src='/build/js/course.js' + version)
	script(type='text/javascript', src='/build/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/build/js/exercises.js' + version)


block navigate
	- var lessons = course.lessons
	include ../navigate.jade


block content
	.course_description_block
		h3 Our program will allow you

		ul
			li to learn Russian on the elementary level Russian (State programm Test System ТЭУ).You can take the exam in special language test centers not only in Russia, but also abroad.
			li to know the minimum basic vocabulary
			li to read adopted texts about everyday russian lives
			li to read and understand place names and advertisments
			li to understand the language by ear (80-100 words) and-participate in simple discussions and conversations in Russian
			li to express your feelings and requests in Russian
			li to know the overall structure of the Russian language
			li become acquainted with the Russian traditions and find out very useful details of everyday Russian life

		p If you are interested in Russian because

		ul
			li you are going to Russia to work, to study or just as a tourist,
			li you think that knowing Russian can be useful for you in the future,
			li you know and like Russian culture and literature,
			li you like to study at the computer,
			li you knew Russian a long time ago, forgot it and would like to remember it,
			li you live in Russia and it is difficult to live there without knowing the language (and you don’t have time to take a Russian class),
			li it is easier for you to learn a foreign language using an internet version of study rather than a traditional way,
			li you hope to know more about the Russian life,

		p then our program is for you! We try to make our program easy to understand, interesting, dynamic, funny and not overwhelming with terminology and grammar.