extends ../layout

block paths
	- var s_title = 'Courses › ' + 'Grammar Notes'

block title
	title= 'COURSE | ' + 'Grammar Notes'.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/course.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/exercises.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)
	script(type='text/javascript', src='/build/js/course.js' + version)
	script(type='text/javascript', src='/build/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/build/js/exercises.js' + version)


block navigate
	include ../navigate/gram.jade


block content
	.course_description_block
		h3 Grammar Notes