extends ../layout

block paths
	- var s_title = 'Courses'

block title
	title COURSES

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/courses.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/courses.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)


block content
	.courses

		.courses_item
			a.course_title(href='/courses/speak-russian') Время говорить по-русски
			.course_lessons
				.circles
					a.circle(href='/courses/' + 'speak-russian' + '#1', l_title='Lesson 1', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#2', l_title='Lesson 2', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#3', l_title='Lesson 3', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#4', l_title='Lesson 4', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#5', l_title='Lesson 5', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#6', l_title='Lesson 6', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#7', l_title='Lesson 7', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#8', l_title='Lesson 8', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#9', l_title='Lesson 9', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'speak-russian' + '#10', l_title='Lesson 10', l_fail='50', l_success='50')

		.courses_item
			a.course_title(href='/courses/phonetic') Phonetics. Introduction
			.course_lessons
				.circles
					a.circle(href='/courses/' + 'phonetic' + '#1', l_title='Lesson 1', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'phonetic' + '#2', l_title='Lesson 2', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'phonetic' + '#3', l_title='Lesson 3', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'phonetic' + '#4', l_title='Lesson 4', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'phonetic' + '#5', l_title='Lesson 5', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'phonetic' + '#6', l_title='Lesson 6', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'phonetic' + '#7', l_title='Lesson 7', l_fail='50', l_success='50')

		.courses_item
			a.course_title(href='/courses/gram') Grammar Notes
			.course_lessons
				.circles
					a.circle(href='/courses/' + 'gram' + '#1', l_title='Nouns', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'gram' + '#2', l_title='Pronouns', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'gram' + '#3', l_title='Adjectives', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'gram' + '#4', l_title='Verbs', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'gram' + '#5', l_title='Adverbs', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'gram' + '#6', l_title='Numerals', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'gram' + '#7', l_title='Syntax', l_fail='50', l_success='50')

		.courses_item
			a.course_title(href='/courses/listening') Listening
			.course_lessons
				.circles
					a.circle(href='/courses/' + 'listening' + '#1', l_title='Elementary level', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'listening' + '#2', l_title='Basic level', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'listening' + '#3', l_title='Advanced level', l_fail='50', l_success='50')

		.courses_item
			a.course_title(href='/courses/reading') Reading
			.course_lessons
				.circles
					a.circle(href='/courses/' + 'reading' + '#1', l_title='Elementary level', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'reading' + '#2', l_title='Basic level', l_fail='50', l_success='50')
					a.circle(href='/courses/' + 'reading' + '#3', l_title='Advanced level', l_fail='50', l_success='50')