extends ../layout

block paths
	- var s_title = 'Courses › ' + 'Phonetics. Introduction'

block title
	title= 'COURSE | ' + 'Phonetics. Introduction'.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/course.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/exercises.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)
	script(type='text/javascript', src='/build/js/course.js' + version)
	script(type='text/javascript', src='/build/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/build/js/exercises.js' + version)


block navigate
	include ../navigate/phonetic.jade


block content
	.course_description_block
		h3 Phonetics. Introduction
		p This is an introductory course to Russian phonetics.
		p Here you will learn Russian letters and basic reading rules.
		p You will also learn how to pronounce the most difficult Russian sounds and how to tell the difference between them when you hear them.
		p Good luck!