extends ../layout

block paths
	- var s_title = 'Courses › ' + 'Reading'

block title
	title= 'COURSE | ' + 'Reading'.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/course.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/exercises.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)
	script(type='text/javascript', src='/build/js/course.js' + version)
	script(type='text/javascript', src='/build/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/build/js/exercises.js' + version)


block navigate
	include ../navigate/reading.jade


block content
	.course_description_block
		h3 Reading
		p The Reading Course consists of texts on different topics - including everyday situations as well as historical and cultural information.The course includes texts for learners with different levels of knowledge of the Russian language, from A1 to B2.Each grammar topic is accompanied by exercises that can be completed by a student independently or with a teacher.