extends ../layout

block paths
	- var title = 'REGISTRATION FOR THE PROGRAM'
	- var s_title = 'Registration for the Program'

block title
	title= 'Registration for the Program'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/request.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/request.js' + version)


block content
	form(action="/request/course", method="post", enctype="multipart/form-data")
		.content_title STEP 1
		.content_text
			p First, you have to choose the course you are interested in taking. There are two options:
			input.type(type='radio', id='one', name='subscribe', value='1')
			label(for='one') A personalised course covering a subject of your particular interest — 5 online lessons, 60 minutes each
			div $150.00
			br
			input.type(type='radio', id='two', name='subscribe', value='2')
			label(for='two') A course for beginners — 5 online lessons, 60 minutes each
			div $150.00, with a possibility of prolongation and one free extra lesson upon prolongation of the course.
		br
		.content_title STEP 2
		.content_text
			p You have to fill out the following forms:
			ul
				li
					a(href='/files/docs/en/application.docx') an application to register for the program
				li
					a(href='/files/docs/en/contract.doc') a learning contract with Moscow State University
				li
					a(href='/files/docs/en/invoice.jpg') a bank receipt that confirms that payment for the program has been made
			p The application and the learning contract are offered in Russian and in English. Fields “name”, “last name”, “term of study”, “date” and “signature” must be carefully filled in. The bank receipt must also contain your last name and country.
			p Please make scanned copies of the documents that you have filled out, and upload them here using the buttons below.
			p As soon as we receive the forms, Anna or Yulia will contact you and and you will start your course.
			p We look forward to hearing from you soon!
			.form_title Applicaton
			input(type='file', name='application')
			br
			br
			.form_title Contract
			input.files(type='file', name='contract')
			br
			br
			.form_title Invoice
			input.files(type='file', name='invoice')
			br
			br
			input.files(type='submit', value='send')