extends ../layout

block paths
	- var title = 'FREE LESSON'
	- var s_title = 'Registration for the Program'

block title
	title= 'Registration for the Program'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title FREE LESSON
	.content_text
		form(action="", method="post")
			p My level of knowledge of the Russian language
			select(name='level')
				option(value='1') I don't know Russian at all
				option(value='2') I know some things
				option(value='3') I know Russian quite well
			p I would like to have a lesson
			select(name='time')
				option(value='1') in the morning / evening
				option(value='2') on weekday / weekend
			br
			br
			input(type='submit', value='send')