extends ../layout

block paths
	- var title = 'ЗАЯВКА НА ОБУЧЕНИЕ'
	- var s_title = 'Заявка на обучение'

block title
	title= 'Заявка на обучение'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	//- .content_title ЗАЯВКА
	.content_text
		p Мы рады, что вы заинтересовались нашим дистанционным проектом.
		p В настоящий момент мы приступаем к работе с учащимися начального уровня по курсу для начинающих «Время говорить по-русски!». Уроки по этому курсу будут вести его авторы Анна Петанова и Юлия Коваленко.
		p В обучающую программу по курсу входят уроки в режиме онлайн с преподавателем и самостоятельная работа учащегося по индивидуальному плану под контролем преподавателя-тьютора. Все занятия индивидуальные. Первое онлайн-занятие  с преподавателем продолжительностью 30 минут мы проводим для всех желающих БЕСПЛАТНО!
		p Если вам понравилось это занятие и вы решили учить с нами русский язык, вам необходимо записаться на курс и оформить документы.
		button(onclick="location.href='/request/one'") Записаться на занятие