extends ../layout

block paths
	- var title = 'ЗАЯВКА НА ОБУЧЕНИЕ | ШАГ 2'
	- var s_title = 'Заявка на обучение'

block title
	title= 'Заявка на обучение'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title ШАГ 2
	.content_text
		p Вам нужно заполнить несколько документов
		ul
			li заявление для зачисления на программу.
			li
				a(href='/files/docs/ru/app.doc') договор с МГУ об обучении по образовательной программе
			li оплаченный банковский счет, подтверждающий оплату и перевод денег за обучение.
		p Заявление и договор предоставляются по-русски и с переводом на английский язык. В заявлении и договоре нужно четко заполнить поля: имя, фамилия, период обучения, дата, подпись. В копии банковского счета должна быть указана также страна и фамилия.
		p Как только мы получим от вас письмо, подтверждающее ваше желание учить русский язык по нашему курсу, а также документы, о которых шла речь выше, — с вами сразу же свяжутся Анна или Юлия, и мы приступим к занятиям. Ждем всех с нетерпением!
		div Заявление
		input(type='file')
		br
		br
		div Договор
		input(type='file')
		br
		br
		div Счет
		input(type='file')
		br
		br
		button Отправить заявку