extends ../layout

block paths
	- var title = 'ЗАЯВКА НА ОБУЧЕНИЕ | ШАГ 1'
	- var s_title = 'Заявка на обучение'

block title
	title= 'Заявка на обучение'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title ШАГ 1
	.content_text
		p В качестве первого шага вам нужно определиться с выбором учебного модуля по курсу для начинающих «Время говорить по-русски!». Мы предлагаем 3 варианта:
		form
			input(type='radio', id='one', name='type', value='1')
			label(for='one') Полный курс для начинающих, который составляет 228 академических часов. По времени он занимает от 4 до 8 месяцев в зависимости от составленного расписания. Пройдя полный курс вы достигаете элементарного уровня владения русским языком (A2).
			div Общая стоимость 2340 долларов.
			br
			input(type='radio', id='two', name='type', value='2')
			label(for='two') Неполный курс, который составляет 114 академических часов. По времени он занимает от 2 до 4 месяцев в зависимости от составленного расписания. Пройдя неполный курс вы достигаете элементарного уровня владения русским языком (A1).
			div Общая стоимость 1170 долларов.
			br
			input(type='radio', id='three', name='type', value='3')
			label(for='three') Тематический курс по индивидуально составленной программе для студента , состоящий из 5 онлайн уроков продолжительностью 45 минут.
			div Стоимость тематического курса 200 долларов.
		br
		button(onclick="location.href='/request/two'") Далее