extends ../layout

block paths
	- var title = 'REGISTRATION FOR THE PROGRAM | STEP 1'
	- var s_title = 'Registration for the Program'

block title
	title= 'Registration for the Program'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title STEP 1
	.content_text
		p First, you have to choose the course you are interested in taking. There are 3 options:
		form
			input(type='radio', id='one', name='type', value='1')
			label(for='one') A complete course for beginners — Basic level of Russian (A2), 288 academic hours (1 academic hour is 45 min.), 4 to 8 months
			div $2340.00
			br
			input(type='radio', id='two', name='type', value='2')
			label(for='two') A brief course — Elementary level (A1), 114 academic hours (1 academic hour is 45 min.), 2 to 5 months
			div $1170.00
			br
			input(type='radio', id='three', name='type', value='3')
			label(for='three') A personalised course covering a subject of your particular interest — 5 online lessons, 60 minutes each
			div $150.00
		br
		button(onclick="location.href='/request/two'") Next