extends ../layout

block paths
	- var title = 'ЗАЯВКА НА ОБУЧЕНИЕ | ШАГ 1'
	- var s_title = 'Заявка на обучение'

block title
	title= 'Заявка на обучение'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title ШАГ 1
	.content_text
		p В качестве первого шага вам нужно определиться с выбором учебного модуля по курсу для начинающих «Время говорить по-русски!». Мы предлагаем 3 варианта:
		form
			input(type='radio', id='one', name='type', value='1')
			label(for='one') Полный курс для начинающих. Элементарный уровень владения русским языком А2. (228 академических часов, продолжительность 4-8 месяцев)
			div Общая стоимость 2340 долларов.
			br
			input(type='radio', id='two', name='type', value='2')
			label(for='two') Неполный курс. Элементарный уровень владения русским языком А1. (114 академических часов, продолжительность 2-4 месяца)
			div Общая стоимость 1170 долларов.
			br
			input(type='radio', id='three', name='type', value='3')
			label(for='three') тематический курс по индивидуально составленной программе (5 онлайн-уроков продолжительностью 45 минут)
			div Стоимость тематического курса 200 долларов.
		br
		button(onclick="location.href='/request/two'") Далее