extends ../layout

block paths
	- var title = 'REGISTRATION FOR THE PROGRAM | STEP 2'
	- var s_title = 'Registration for the Program'

block title
	title= 'Registration for the Program'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title STEP 2
	.content_text
		p You have to fill out the following forms:
		ul
			li
				a(href='/files/docs/en/application.docx') an application to register for the program
			li
				a(href='/files/docs/en/contract.doc') a learning contract with Moscow State University
			li
				a(href='/files/docs/en/invoice.jpg') a bank receipt that confirms that payment for the program has been made
		p The application and the learning contract are offered in Russian and in English. Fields “name”, “last name”, “term of study”, “date” and “signature” must be carefully filled in. The bank receipt must also contain your last name and country.
		p Please make scanned copies of the documents that you have filled out, and upload them here using the buttons below.
		p As soon as we receive the forms, Anna or Yulia will contact you and and you will start your course.
		p We look forward to hearing from you soon!
		div Applicaton
		input(type='file')
		br
		br
		div Contract
		input(type='file')
		br
		br
		div Invoice
		input(type='file')
		br
		br
		button Send