extends ../layout

block paths
	- var title = 'ABOUT'
	- var s_title = 'About'

block title
	title= 'ABOUT'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	//- .content_title О ПРОГРАММЕ
	.content_text
		p The beginner course "Time to Speak Russian!”, a part of the multifunctional platform “Easier, better, faster!”, is designed for independent unaided work (as an open free online course) as well as for work with a tutor (for terms and fees see the “Sign up” section).
		p The course contains separate lessons in strict succession. It’s base is a plot about a guy called John, a Canadian who is visiting Russia, and it’s built as an animated series, with shared subject and characters.
		p Having finished the full 10 lesson course, the student will acquire general knowledge of the structure of the Russian language, master the minimum vocabulary and grammar rules that are necessary for communication in Russian.
		p “Time to Speak Russian!” consists of several sections — lessons with exercises, vocabulary, and a grammar reference. You can track your progress in the “Statistics” section.
		p The “Vocabulary” section contains the minimum vocabulary required for the beginner level of knowledge of the Russian language as well as all the words that you’ll see in the basic course. Words are placed in alphabetical order.
		p If you choose to study with a tutor, the course of your work will be displayed on the tutor’s page as well as the student’s. The tutor will be able to analyse the results, work out personalised strategies and use specific methods so you can achieve the best results. The tutor’s remarks and corrections will be also saved in the student’s portfolio.
		p Each lesson of the “Time to Speak Russian!” course is a module that consists of the following blocks:
		ul
			li preparatory vocabulary and grammar tasks before viewing a video episode
			li viewing an episode of the series
			li tasks fulfilled after viewing the episode — grammar notes and exercises to practice your Russian language skills







