extends ../layout

block paths
	- var title = 'О ПРОГРАММЕ'
	- var s_title = 'О программе'

block title
	title= 'О ПРОГРАММЕ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	.content_title О ПРОГРАММЕ
	.content_text
		p О ПРОГРАММЕ