extends ../layout

block paths
	- var title = 'ABOUT'
	- var s_title = 'About'

block title
	title= 'ABOUT'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	//- .content_title О ПРОГРАММЕ
	.content_text
		p We are happy that you are interested in our distance learning project.
		p Currently, we are starting to work with beginner students. Lessons will be held by authors of distance leaning course «Time to speak Russian!» Anna Petanova and Yulia Kovalenko.
		p Your personalised course will consist of private online Skype sessions and offline assignments prepared and checked by a tutor.
		p If you wish to try the course you have a possibility to take a placemant test and then take one lesson for FREE. If you like the lesson and you decide to take the course, you will have to sign up for it and fill out some forms.
		p First, you have to choose the course you are interested in taking. There are two options:
		p A personalised course covering a subject of your particular interest — 5 online lessons, 60 minutes each  — $150.00
		p A course for beginners — 5 online lessons, 60 minutes each — $150.00, with a possibility of prolongation and one free extra lesson upon prolongation of the course.
		p We look forward to hearing from you soon!





