extends ../layout

block paths
	- var title = 'О ПРОГРАММЕ'
	- var s_title = 'О программе'

block title
	title= 'О ПРОГРАММЕ'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/about.js' + version)


block content
	//- .content_title О ПРОГРАММЕ
	.content_text
		p Курс для начинающих «Время говорить по-русски!» состоит из отдельных уроков, построенных по строгому модульному принципу. Он построен как многосерийный анимационный фильм, части которого объединены единым занимательным сюжетом и сквозными персонажами. В основе сюжета – приключения иностранца Джона, приехавшего в Россию.
		p Овладев русским языком в объеме полного курса «Время говорить по-русски!» (состоит из 10 уроков), учащийся должен иметь представление об общей структуре русского языка, овладеть минимальным лексическим набором и набором грамматических правил и уметь использовать полученные знания и навыки в реальных ситуациях языкового общения.
		p Курс «Время говорить по-русски!» включает в себя несколько разделов: главный, состоящий из обучающих уроков с упраженениями, словарь, грамматический справочник, тест, раздел со страноведческой информацией.
		p Словарь включает в себя необходимый лексический минимум для начального уровня владения языком. Словарь построен по тематическому и алфавитному принципу и содержит все слова, встречающиеся в основном курсе.
		p Грамматический справочник содержит грамматический минимум, необходимый для общения на русском языке в объеме начального уровня. Грамматический справочник объединяет все грамматические комментарии, представленные в каждом уроке. Таким образом учащийся всегда может обратиться с вопросами по грамматике в один раздел.
		p Тесты курса – это сводные блоки контрольных заданий, которые учащемуся рекомендуется проходить после завершения работы над определенной лексико-грамматической темой. При работе с тьютором, результаты тестов автоматически отсылаются тьютору, который сразу дает комментарии и рекомендации.
		p Раздел страноведческой информации помогает иностранцу познакомиться с реалиями русской жизни, особенностями общения с русскими людьми, с культурой русского быта.
		p Дополнительные разделы нашего учебного комплекса призваны сделать изучение такого сложного языка, как русский, максимально занимательным и веселым, чтобы изучение языка не сводилось только к бесконечному скучному заучиванию грамматических правил и исключений.
		p Каждый Урок курса «Время говорить по-русски!»представляет собой модуль, состоящий из следующих элементов-блоков:
		ul
			li лексико-грамматические задания до просмотра сцены (предъявление новой лексики, запоминание и проверка запоминания лексических единиц, знакомство с ключевыми фразами)
			li просмотр сцены-диалога в двух режимах: в аутентичном режиме с субтитрами на русском языке и одновременной демонстрацией текста на русском языке с переводом. Второй режим: без субтитров с возможностью привлечения или игнорирования текста с переводом
			li словарь сцены-диалога
			li послепросмотровые задания на понимание увиденного
			li грамматическая часть: описание грамматики, представленной в данном уроке
			li упражнения на усвоение и закрепление полученных навыков (фонетические, лексические, грамматические, письменные, речевые и т.д.).
			li тест к уроку
