extends ../../index.jade

block vars
	- var task = 'Выучите новые слова'
	- var items = 8

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/exercises/new_words/01.png'
			include ../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/01.m4a'
			include ../../types/audio.jade
