h1 Time expressions with the words «через» и «назад» («in» and «ago»)
p
  | To express that an action happened some time ago in the past or will happen some time in the future, we use a grammar construction with the prepositions "через" and "назад". For example:
p
  b Два дня назад
  |  Мария покупала на рынке фрукты и овощи.
img(src='/images/' + course + '/grammar/lesson07/rr.jpg')
p
  b Через три часа
  |  у Марии дома будет вечеринка.
img(src='/images/' + course + '/grammar/lesson07/dd.jpg')
p
  b PLEASE, NOTE!
p
  | When we speak about the past, first, we name the time period - the noun is in the Accusative (4) case - and then add the word "назад" (ago): "минуту назад" (a minute ago), "два часа назад" (two hours ago), "день назад" (a day ago", "неделю назад" (a week ago), "год назад" (a year ago).
p
  | When we speak about the future, we start with the word "через" (in) and then add an Accusative noun (4) to indicate the time period: "через минуту" (in a minute), "через день" (in a day), "через месяц" (in a month), "через год" (in a year).
h1 Invitation to action: "Давайте пойдём вместе" ("Let’s go together")
p
  | If you want to suggest that you and your friend or friends should do something together, you need to use one of the following two grammar constructions:
p
  | 1. The Imperative form of the verb "давать" –  "дава́й / дава́йте" +  the infinitive form of the verb describing the action
| Дава́й дружи́ть!
br
| Дава́йте игра́ть вме́сте!
p
  | 2. Императив от глагола давать – дава́й / дава́йте – плюс форма 1 лица множественного числа глагола, обозначающего действие. Обычно после дава́й / дава́йте используется форма глагола совершенного вида множественного числа первого лица
p
  img(src='/images/' + course + '/grammar/lesson07/25.jpg')
p Давай познакомимся!
p
  img(src='/images/' + course + '/grammar/lesson07/26.jpg')
h1 ХОДИТЬ-ЕЗДИТЬ
p
  | In the Russian language, beside the pair of imperfective verbs of motion идти – ехать, there is another pair of verbs of motion:пешком – ходи́ть (как идти́)on foot – ходи́ть (like идти́)или на транспорте – е́здить (как е́хать):or by transport – е́здить (like е́хать):
p
  | пешком – ходи́ть (как идти́)
  br
  | или на транспорте – е́здить (как е́хать):
center
  table
    tr
      td
        img(src='/images/' + course + '/grammar/lesson07/27.jpg')
      td         
      td
        img(src='/images/' + course + '/grammar/lesson07/28.jpg')
h1 Which verb to select: ИДТИ́ / Е́ХАТЬ or ХОДИ́ТЬ / Е́ЗДИТЬ?
p
  | The verb pair "идти́ / е́хать", as you already know, describes an action taking place at a specific moment:
p A street conversation.
p
  | – Приве́т! Куда́ ты сейча́с идёшь?
  br
  | – Я иду́ в магази́н. А ты?
  br
  | – А я иду́ в библиоте́ку.
p Сего́дня у́тром я е́хал на рабо́ту на маши́не и до́лго стоя́л в про́бке.
p За́втра ве́чером я бу́ду е́хать в по́езде и смотре́ть в окно́.
p
  | Please, note: the verbs "идти" and "ехать" are used only to describe a one-way motion, or motion in one particular direction:
p
  | идти в магазин
  br
  | ехать на работу
  br
  |  ехать в Москву
  br
  |  идти в музей
p
  | In contrast to the verbs "идти – ехать", the verbs "ходить" and "ездить" are used to describe a repetitive or regular action:
p
  | Я е́зжу на ра́боту на метро́ ка́ждый день. А ра́ньше я е́здил на работу́ на маши́не.
  br
  | Ка́ждые выходны́е мы с друзья́ми хо́дим в кино́.
  br
  | Ка́ждый день я ходи́л на рабо́ту пешком, когда́ рабо́тал на фи́рме в Петербурге.
  br
  | Мы регуля́рно е́здили на метро́, когда́ жи́ли в Росси́и.
  br
p
  | The verbs "ходить" and "ездить" are also used when we describe motion in different directions:
p
  | Андре́й лю́бит путеше́ствовать и ча́сто е́здит в ра́зные стра́ны.
  br
  | Ната́ша лю́бит вку́сную еду́ и ча́сто хо́дит в рестора́ны.
p Compare:
p
  | Сейчас я еду в Петербург. Я очень люблю ездить по России.
  br
  | Мы идём сейчас на выставку. В Москве мы каждую неделю ходим на выставки, в музеи или театры.
p Remember!
p
  | In Russian, the construction with the verbs "ходить / ездить" in the past tense is often used similarly to the construction with the verb "быть" in the past tense:
p
  | "Мы ходи́ли на конце́рт." (We went to a concert) =  "Мы бы́ли на конце́рте". (We were at a concert)
p
  | Please, note! To indicate location, the verb "быть" is followed by the noun in the Prepositional case: "быть где?" (6) (to be where?) – "быть на работе" (to be at work), "быть в офисе" (to be in the office). But to indicate the motion direction, the verbs "ходить / ездить" (as well as the verb "идти / ехать") are followed by nouns in the Accusative case: "куда?" (4) (to go where?): "ездить в офис" (to go to the office), "ходить в школу" (to go to school).
center
  p
    img(src='/images/' + course + '/grammar/lesson07/29.jpg')
h1 ПОЙТИ, ПОЕХАТЬ
p
  | The verbs ПОЙТИ́ and ПОЕ́ХАТЬ are derived from the verbs ИДТИ́ и ЕХ́АТЬ; the prefix ПО- is added, and they become perfective verbs. Take a look at how "идти́ / пойти́", "е́хать / пое́хать" conjugate and compare them:
p
  img(src='/images/' + course + '/grammar/lesson07/30.jpg')
p
  img(src='/images/' + course + '/grammar/lesson07/31.jpg')
p Verbs with the prefix "ПО-" are used in the following cases:
p
  | 1.To express a wish, intention or ability to go somewhere, we use the construction: хоте́ть, мочь + пойти / поехать:
p Я хочу́ пойти́ в кино́.
p Я могу́ пое́хать в Петербу́рг че́рез неде́лю.
p Вы хоти́те пойти́ на конце́рт за́втра?
p Ты мо́жешь пое́хать на метро́?
p
  | 2. The prefix "ПО-" indicates the beginning of a motion, therefore "пойти / поехать" are used to indicate the beginning of a motion in a particular direction:
center
  table
    tr
      td Она пошла в кино́.
      td Он пое́хал в Ки́ев.
    tr
      td
        img(src='/images/' + course + '/grammar/lesson07/32.jpg', width='320pt')
      td
        img(src='/images/' + course + '/grammar/lesson07/33.jpg', width='350pt')
p
  | To describe a succession of movements, we also use verbs with the "ПО-" prefix to indicate a beginning of each successive motion.
img(src='/images/' + course + '/grammar/lesson07/34.jpg', width='750pt')
p
  | Вчера́ я снача́ла пошла́ в магази́н, пото́м пошла́ в кино́, пото́м пошла́ в парк, пото́м пое́хала к подру́ге.
p – Каки́е у тебя́ пла́ны на за́втра?
p
  | – У́тром в пое́ду на ры́нок, пото́м пое́ду магази́н, пото́м пойду́ в бассе́йн, а ве́чером пойду́ с дру́гом в рестора́н.
p
  | Please, note! To denote one and the same event that took place before, is taking place now or will take place in the future, in the Russian language three different verbs of motion are used:
p Вчера́ А́нна ходи́ла в кино́. = А́нна была́ в кино́.
p А́нна идёт в кино́ сейча́с. = А́нна сейча́с на пути́ в кино́.
p А́нна пойдёт в кино́ за́втра.
h2 Давай пойдём! Давай поедем!
p
  | If you want to suggest to your friend(s) that you do something together, you can use the construction with "дава́й" (singular) or "дава́йте" (plural):
p Дава́й пое́дем на метро́! Дава́йте пое́дем на метро!
p
  | Давай ку́пим биле́ты на э́тот конце́рт! Дава́йте ку́пим биле́ты на э́тот конце́рт!

