extends ../../../index.jade

block vars
	- var task = 'Compose a word from the syllables:'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['... комната', '... фильм', '... дети', '... вода', 'Он не ...', 'Виктор сейчас в ...', 'Вы ... плохо.', 'Эта машина ...', 'Твой номер ...']
			include ../../../types/text.jade
			- var sortable = [['кра', 'си', 'в', 'ая'], ['ин', 'те', 'ресн', 'ый'], ['ве', 'сёл', 'ые'], ['пл', 'ох', 'ая'], ['по', 'ни', 'ма', 'ет'], ['д', 'о', 'м', 'е'], ['го', 'во', 'ри', 'те'], ['до', 'ро', 'га', 'я'], ['хо', 'ро', 'ш', 'ий']]
			include ../../../types/sort.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + course + '/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../../types/audio.jade
