h2 Demonstrative Pronouns
p
	| To specify an object found in a group of objects, you can use a demonstrative pronoun "этот, эта, это, эти" ("this, these") which has to "agree" in gender and number with the noun denoting the object.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t6.gif')
ul
	li – Какой телевизор недорогой и хороший?
	li – Этот. // Этот телевизор.
	li  
	li – Какая комната очень удобная?
	li – Эта комната.
	li  
	li – Какое кино очень интересное?
	li – Это американское кино.
	li  
	li – Какие вещи твои?
	li – Эти вещи мои.
p Compare:
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t7.gif')
p Please, note the word order in such sentences:
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t8.gif')
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t9.gif')
