extends ../../../index.jade

block vars
	- var task = 'Listen, repeat, read:'
	- var items = 10

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['хоро́шее меню́', 'овощно́й сала́т', 'ру́сские блины́ и кра́сная икра́.', 'больша́я ры́ба', 'вку́сные пельме́ни', 'больша́я котле́та', 'кра́сный бо́рщ', 'хоро́ший су́п-лапша́', 'вку́сный ке́кс "Столи́чный"', 'холо́дный апельси́новый со́к']
			include ../../../types/text.jade
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../../types/audio.jade
