extends ../../../index.jade

block vars
	- var task = 'Drag the right word to match a picture:'
	- var items = 1
	- var words = [{'word':'борщ', 'position': 1}, {'word':'суп-лапша', 'position': 2}, {'word':'зеленые щи', 'position': 3}, {'word':'окрошка', 'position': 4}]

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/exercises/' + ex_path + '/'
			include ../../../types/drag.jade

	.exercise_column
		.exercise_blocks_block
			//- include types/audio.jade
