.words
	.ru(style='float: left; margin-right: 60px;')
		.word столица
		.word город
		.word тут
		.word там
		.word тоже
		.word река
		.word музей
		.word а это что?
		.word yлица
		.word слева
		.word справа
		.word далеко
	.en(style='float: left;')
		.word capital
		.word city
		.word here
		.word there
		.word too
		.word river
		.word museum
		.word what is it?
		.word street
		.word to the left
		.word to the right
		.word far away