h2 Личные местоимения
table.tblGrammar
	tr
		td я
		td мы
	tr
		td ты
		td вы
	tr
		td
			| он
			br
			| она
			br
			| оно
		td они
p
	| Местоимения ОН, ОНА могут
	| называть и одушевленные, и неодушевленные
	| предметы. Местоимение ОНО называет всегда
	| неодушевленные предметы.
	br
a(name='0.5_table05')
table.tblGrammar
	tr.trBordered
		td
		td КТО?
		td ЧТО?
	tr
		td ОН
		td Это турист. Он тут.
		td Это паспорт. Он тут.
	tr
		td ОНА
		td Это девушка. Она тут.
		td Это виза. Она тут.
	tr
		td ОНО
		td –
		td Это яблоко. Оно тут.
p
	| Местоимение ВЫ может
	| использоваться не только во множественном
	| числе. Это же местоимение используют
	| в качестве вежливой формы обращения к
	| незнакомому человеку или к человеку старшего
	| возраста.
	br
	br