h2 NOUNS
h3 NOUNS: GENDER
p
	| There are three  genders in Russian: masculine (he), feminine (she) and neuter (it).  Usually, one can determine the noun gender by the noun ending.
p
	img(src='/images/grammar/lesson01/ls1s1t1.gif')
h3 NOUNS: NUMBER
p
	img(src='/images/grammar/lesson01/ls1s1t2.gif')
p Plural nouns are constructed as follows:
p
	img(src='/images/grammar/lesson01/ls1s1t3.gif')
p
	img(src='/images/grammar/lesson01/ls1s1t4.gif')
p
	img(src='/images/grammar/lesson01/ls1s1t5.gif')
p The word "яблоко" is an exception, the plural form is "яблоки".
p
	b Please, remember!
p The words "ДЕНЬГИ", "ОЧКИ" have only the plural forms.

