h1 СУЩЕСТВИТЕЛЬНОЕ

h2 Род Существительных
p
	| В русском языке существует три рода существительных: женский, мужской и средний. В большинстве случаев род существительного можно определить по окончанию.
p
	| Существительные
	font(color='#1e561e') мужского рода
	|  оканчиваются:
table(border='0px')
	tr
		td на согласный
		td
			img(src='/icons/blank.gif')
		td паспорт, журнал, компьютер
	tr
		td на -Й
		td
			img(src='/icons/blank.gif')
		td музей
	tr
		td на -Ь
		td
			img(src='/icons/blank.gif')
		td словарь
p
	| Существительные
	font(color='#1e561e') женского рода
	|  оканчиваются:
table(border='0px')
	tr
		td на -А
		td
			img(src='/icons/blank.gif')
		td страна, газета, виза
	tr
		td на -Я
		td
			img(src='/icons/blank.gif')
		td фамилия
	tr
		td на -Ь
		td
			img(src='/icons/blank.gif')
		td площадь
p
	| Существительные
	font(color='#1e561e') среднего рода
	|  оканчиваются:
table(border='0px')
	tr
		td на -О
		td
			img(src='/icons/blank.gif')
		td письмо, яблоко
	tr
		td на -Е
		td
			img(src='/icons/blank.gif')
		td море, кафе
p
	table.tblGrammar
		tr.trBordered
			td
				| МУЖСКОЙ РОД
				br
				| ОН
			td
				| ЖЕНСКИЙ РОД
				br
				| ОНА
			td
				| СРЕДНИЙ РОД
				br
				| ОНО
		tr
			td
				| паспорт
				br
				| журнал
				br
				| компьютер
				br
				| музей
				br
				| словарь
			td
				| страна
				br
				| газета
				br
				| виза
				br
				| фамилия
				br
				| площадь
			td
				| письмо
				br
				| яблоко
				br
				| море
				br
				| кафе

h2 Число Существительных
table(style='width:100%; text-align: center;')
	tr
		td
			img(width='160', src='/time_new/images/grammar/lesson01/student.jpg')
		td
			img(width='160', src='/time_new/images/grammar/lesson01/students.jpg')
	tr
		td Это студент.
		td Это студенты.
	tr
		td
			br
			img(width='160', src='/time_new/images/grammar/lesson01/newspaper1.jpg')
		td
			br
			img(width='160', src='/time_new/images/grammar/lesson01/newspaper.jpg')
	tr
		td Это газета.
		td Это газеты.
p
	| Множественное число существительных в русском языке образуется следующим образом:
ul
	li
		| - к существительным
		font(color='#1e561e') мужского
		|  рода единственного числа прибавляются  окончания:
		ul
			li
				| -Ы, -И:
				ul
					li документ – документы
					li журнал – журналы
	li
		| - у существительных
		font(color='#1e561e') женского
		|  рода меняются окончания:
		ul
			li
				| -А меняется на -Ы:
				ul
					li виза – визы
					li газета – газеты
			li
				| -Я меняется на -И:
				ul
					li фамилия – фамилии
	li
		| - у существительных
		font(color='#1e561e') среднего рода
		|  меняются окончания:
		ul
			li
				| -О меняется на -А:
				ul
					li письмо – письма
			li
				| -Е меняется на -Я:
				ul
					li море – моря
p Слово ЯБЛОКО – исключение, у него форма множественного числа – ЯБЛОКИ!
p
	font(color='#1e561e')
		i Запомните!
	|  Слова ДЕНЬГИ, ОЧКИ имеют только форму множественного числа.
div(align='left')
	table.tblGrammar(valign='top')
		tr.trBordered
			td
			td Единственное число
			td Множественное число
		tr
			td(rowspan='2') ОН
			td документ
			td документы
		tr
			td журнал
			td журналы
		tr
			td(rowspan='3') ОНА
			td виза
			td визы
		tr
			td газета
			td газеты
		tr
			td фамилия
			td фамилии
		tr
			td(rowspan='4') ОНО
			td письмо
			td письма
		tr
			td море
			td моря
		tr
			td –
			td деньги
		tr
			td –
			td очки

