.lesson_block_item
	.block_item_title Сцена 1: В ресторане. Меню.

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l4_b1_exs1_words') Выучите новые слова
			.set_item.exercise(class='l4_b1_exs2_drag') Проверьте себя
			.set_item.exercise(class='l4_b1_exs3_select') Выучите новые выражения
			.set_item.exercise(class='l4_b1_exs4_video') Диалог
			.set_item.exercise(class='l4_b1_exs5_video') Задания на понимание
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Как, что и когда едят русские.

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise(class='l4_b1_exs6_video') Грамматические
			.set_item.exercise(class='l4_b1_exs7_video') Лексические
			.set_item.exercise(class='l4_b1_exs8_video') Речевые
			.set_item.exercise(class='l4_b1_exs9_video') Фонетические
			.set_item.exercise(class='l4_b1_exs10_video') Письмо
		.study_title Грамматика
		.study_set.content
			.set_item.content(class='l4_b1_cont1') Мне нравится рыба (структура предложения, порядок слов).
			.set_item.content(class='l4_b1_cont2') Дательный падеж личных местоимений (мне, тебе, ему…)
			.set_item.content(class='l4_b1_cont3') Винительный падеж
			.set_item.content(class='l4_b1_cont4') Винительный падеж личных местоимений: Я слышу тебя.
			.set_item.content(class='l4_b1_cont5') Винительный падеж неодушевленных существительных мужского рода: Я хочу суп. И существительных женского рода – Я люблю рыбу.
			.set_item.content(class='l4_b1_cont6') Винительный падеж личных местоимений: Я слышу тебя.
			.set_item.content(class='l4_b1_cont7') Императив: дайте, скажите...

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Сцена 2: Что на завтрак?

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l4_b2_exs1_words') Выучите новые слова
			.set_item.exercise(class='l4_b2_exs2_select') Проверьте себя (аудирование)
			.set_item.exercise(class='l4_b2_exs3_video') Выучите новые выражения
			.set_item.exercise(class='l4_b2_exs4_composit') Проверьте себя (лексика)
			.set_item.exercise(class='l4_b2_exs5_video') Диалог
			.set_item.exercise(class='l4_b2_exs6_video') Задания на понимание
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Рестораны и кафе в Москве.
		//- 	.set_item.content Русская кухня

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			//- .set_item.exercise(class='l4_b2_exs7_video') Грамматические
			.set_item.exercise(class='l4_b2_exs7_video') Лексические
			.set_item.exercise(class='l4_b2_exs8_video') Речевые
			.set_item.exercise(class='l4_b2_exs9_video') Фонетические
			.set_item.exercise(class='l4_b2_exs10_video') Письмо
		.study_title Грамматика
		.study_set.content
			.set_item.content(class='l4_b2_cont1') Образование прошедшего времени глагола.

	//- .block_item_test Тест