.lesson_block_item
	.block_item_title Сцена 1: паспортный контроль

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs1_words') Выучите новые слова
			.set_item.exercise(class='l1_b1_exs2_drag') Проверьте себя (чтение)
			.set_item.exercise(class='l1_b1_exs3_select') Проверьте себя (аудирование)
			.set_item.exercise(class='l1_b1_exs4_select') Выучите новые выражения
			.set_item.exercise(class='l1_b1_exs5_video') Диалог
			.set_item.exercise(class='l1_b1_exs5_composit') Задание на понимание
		.study_title Страноведение
		.study_set.content
			.set_item.content Миграционная карта

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs6_drag') Грамматические
			.set_item.exercise Лексические
			.set_item.exercise Речевые
		.study_title Грамматика
		.study_set.content
			.set_item.content род, число существительных
			.set_item.content личные местоимения

	.block_item_test Тест


.lesson_block_item
	.block_item_title Сцена 2: профессии

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs1_words') Выучите новые слова
			.set_item.exercise(class='l1_b2_exs2_drag') Проверьте себя
			.set_item.exercise(class='l1_b2_exs3_select') Выучите новые выражения
			.set_item.exercise(class='l1_b2_exs4_video') Диалог
			.set_item.exercise(class='l1_b2_exs5_composit') Задание на понимание
		.study_title Страноведение
		.study_set.content
			.set_item.content Аэропорты Москвы

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise Грамматические
			.set_item.exercise Лексические
			.set_item.exercise Речевые
		.study_title Грамматика
		.study_set.content
			.set_item.content существительные женского рода, профессии
			.set_item.content отрицательные конструкции

	.block_item_test Тест



.lesson_block_item
	.block_item_title Сцена 3: багаж

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l1_b3_exs1_words') Выучите новые слова
			.set_item.exercise(class='l1_b3_exs2_drag') Проверьте себя
			.set_item.exercise(class='l1_b3_exs3_video') Диалог
			.set_item.exercise(class='l1_b3_exs4_select') Задание на понимание
		.study_title Страноведение
		.study_set.content
			.set_item.content Почему русские не улыбаются?

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise Грамматические
			.set_item.exercise Речевые
		.study_title Грамматика
		.study_set.content
			.set_item.content притяжательные местоимения

	.block_item_test Тест