.lesson_block_item
	.block_item_title Сцена 1: В такси.

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs1_words') Выучите новые слова (континенты)
			.set_item.exercise(class='l2_b1_exs2_words') Выучите новые слова
			.set_item.exercise(class='l2_b1_exs3_words') Выучите новые слова (числа)
			.set_item.exercise(class='l2_b1_exs4_words') Выучите новые слова
			.set_item.exercise(class='l2_b1_exs5_drag') Проверьте себя
			.set_item.exercise(class='l2_b1_exs6_select') Выучите новые выражения
			.set_item.exercise(class='l2_b1_exs7_video') Диалог
			.set_item.exercise(class='l2_b1_exs8_video') Задание на понимание
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Как привлечь внимание: Молодой человек! Девушка!

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs9_video') Грамматические
			//- .set_item.exercise(class='l2_b1_exs10_video') Лексические
			.set_item.exercise(class='l2_b1_exs11_video') Фонетические
			.set_item.exercise(class='l2_b1_exs12_video') Аудирование
		.study_title Грамматика
		.study_set.content
			.set_item.content(class='l2_b1_cont1') Образование существительных, обозначающих национальности – канадец, русский, украинец.
			.set_item.content(class='l2_b1_cont2') Наречия и предложения с наречиями (Холодно – Сейчас холодно. Справа – Номер справа. Утром, вечером.)
			.set_item.content(class='l2_b1_cont3') Числительные (1-20).

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Сцена 2: В гостинице.

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs1_words') Выучите новые слова
			.set_item.exercise(class='l2_b2_exs2_select') Выучите новые выражения
			.set_item.exercise(class='l2_b2_exs3_video') Диалог
			.set_item.exercise(class='l2_b2_exs4_composit') Задание на понимание (вопросы)
			.set_item.exercise(class='l2_b2_exs5_composit') Задание на понимание (семья)
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Погода в Москве.
		//- 	.set_item.content Вопрос о национальности? Странно…

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs6_composit') Грамматические
			.set_item.exercise(class='l2_b2_exs7_composit') Лексические
			.set_item.exercise(class='l2_b2_exs8_composit') Аудирование
		.study_title Грамматика
		.study_set.content
			.set_item.content(class='l2_b2_cont1') Существительные множественного числа (продолжение). Исключения: братья, люди, дети и т.д.
			.set_item.content(class='l2_b2_cont2') Обозначение времени: Когда завтрак? Завтрак в 8.

	//- .block_item_test Тест