.lesson_block_item
	.block_item_title Сцена 1: Описание города.

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l5_b1_exs1_words') Learn new words
			.set_item.exercise(class='l5_b1_exs2_words') Learn new words (черты лица)
			.set_item.exercise(class='l5_b1_exs3_words') Learn new words
			.set_item.exercise(class='l5_b1_exs4_words') Learn new words
			.set_item.exercise(class='l5_b1_exs5_drag') Test yourself
			.set_item.exercise(class='l5_b1_exs6_select') Learn new words and expressions
			.set_item.exercise(class='l5_b1_exs7_video') Dialogue
			.set_item.exercise(class='l5_b1_exs8_video') Comprehension test
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Знакомая или подруга?

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			//- .set_item.exercise(class='l5_b1_exs9_video') Грамматические
			//- .set_item.exercise(class='l5_b1_exs10_video') Лексические
			.set_item.exercise(class='l5_b1_exs11_video') Communicative
			.set_item.exercise(class='l5_b1_exs12_video') Phonetical
			.set_item.exercise(class='l5_b1_exs13_video') Writing
		//- .study_title Грамматика
		//- .study_set.content
		//- 	.set_item.content(class='l5_b1_cont1') Краткая форма прилагательных: рад (рада, рады), должен (должна, должны), готов (готова, готовы), уверен (уверена, уверены), должен (должна, должны).
		//- 	.set_item.content(class='l5_b1_cont2') Слово «Надо».
		//- 	.set_item.content(class='l5_b1_cont3') Ты должен звонить домой. Я рада слышать тебя. Надо заплатить.
		//- 	.set_item.content(class='l5_b1_cont4') Наречия («по-русски») и их сочетаемость с глаголами говорить, понимать.

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Сцена 2: Как заплатить за завтрак?

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l5_b2_exs1_words') Learn new words
			.set_item.exercise(class='l5_b2_exs2_select') Test yourself (listening)
			.set_item.exercise(class='l5_b2_exs3_video') Learn new words and expressions
			.set_item.exercise(class='l5_b2_exs4_composit') Проверьте себя (лексика)
			.set_item.exercise(class='l5_b2_exs5_video') Dialogue
			.set_item.exercise(class='l5_b2_exs6_video') Comprehension test
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content План Москвы.
		//- 	.set_item.content Русская кухня (окончание)

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l5_b2_exs7_words') Grammar
			.set_item.exercise(class='l5_b2_exs8_words') Lexical
			.set_item.exercise(class='l5_b2_exs9_words') Communicative
			.set_item.exercise(class='l5_b2_exs10_words') Phonetical
		//- .study_title Грамматика
		//- .study_set.content
		//- 	.set_item.content(class='l5_b2_cont1') Предложный падеж с косвенным объектом «рассказывать о», предложный падеж - исключения!
		//- 	.set_item.content(class='l5_b2_cont2') Винительный падеж (продолжение): одушевленные существительные мужского рода – Вижу брата. Жду друга.

	//- .block_item_test Тест