.lesson_block_item
	.block_item_title Сцена 1: Описание города.

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l5_b1_exs1_words') Выучите новые слова
			.set_item.exercise(class='l5_b1_exs2_words') Выучите новые слова (черты лица)
			.set_item.exercise(class='l5_b1_exs3_words') Выучите новые слова
			.set_item.exercise(class='l5_b1_exs4_words') Выучите новые слова
			.set_item.exercise(class='l5_b1_exs5_drag') Проверьте себя
			.set_item.exercise(class='l5_b1_exs6_select') Выучите новые выражения
			.set_item.exercise(class='l5_b1_exs7_video') Диалог
			.set_item.exercise(class='l5_b1_exs8_video') Задания на понимание
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Знакомая или подруга?

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise Грамматические
			.set_item.exercise Лексические
			.set_item.exercise Речевые
			.set_item.exercise Фонетические
			.set_item.exercise Письмо
		.study_title Грамматика
		.study_set.content
			.set_item.content(class='l5_b1_cont1') Краткая форма прилагательных: рад (рада, рады), должен (должна, должны), готов (готова, готовы), уверен (уверена, уверены), должен (должна, должны).
			.set_item.content(class='l5_b1_cont2') Слово «Надо».
			.set_item.content(class='l5_b1_cont3') Ты должен звонить домой. Я рада слышать тебя. Надо заплатить.
			.set_item.content(class='l5_b1_cont4') Наречия («по-русски») и их сочетаемость с глаголами говорить, понимать.

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Сцена 2: Как заплатить за завтрак?

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l5_b2_exs1_words') Выучите новые слова
			.set_item.exercise(class='l5_b2_exs2_select') Проверьте себя (аудирование)
			.set_item.exercise(class='l5_b2_exs3_video') Выучите новые выражения
			.set_item.exercise(class='l5_b2_exs4_composit') Проверьте себя (лексика)
			.set_item.exercise(class='l5_b2_exs5_video') Диалог
			.set_item.exercise(class='l5_b2_exs6_video') Задания на понимание
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content План Москвы.
		//- 	.set_item.content Русская кухня (окончание)

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise Грамматические
			.set_item.exercise Лексические
			.set_item.exercise Речевые
			.set_item.exercise Фонетические
		.study_title Грамматика
		.study_set.content
			.set_item.content(class='l5_b2_cont1') Предложный падеж с косвенным объектом «рассказывать о», предложный падеж - исключения!
			.set_item.content(class='l5_b2_cont2') Винительный падеж (продолжение): одушевленные существительные мужского рода – Вижу брата. Жду друга.

	//- .block_item_test Тест