.lesson_block_item
	.block_item_title Scene 1: In a taxi.

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs1_words') Learn new words (continents)
			.set_item.exercise(class='l2_b1_exs2_words') Learn new words
			.set_item.exercise(class='l2_b1_exs3_words') Learn new words (numbers)
			.set_item.exercise(class='l2_b1_exs4_words') Learn new words
			.set_item.exercise(class='l2_b1_exs5_drag') Test yourself
			.set_item.exercise(class='l2_b1_exs6_select') Learn new words and expressions
			.set_item.exercise(class='l2_b1_exs7_video') Dialogue
			.set_item.exercise(class='l2_b1_exs8_video') After viewing exercise
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Как привлечь внимание: Молодой человек! Девушка!

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs9_video') Grammar
			//- .set_item.exercise(class='l2_b1_exs10_video') Лексические
			.set_item.exercise(class='l2_b1_exs11_video') Phonetical
			.set_item.exercise(class='l2_b1_exs12_video') Listening
		//- .study_title Грамматика
		//- .study_set.content
		//- 	.set_item.content(class='l2_b1_cont1') Образование существительных, обозначающих национальности – канадец, русский, украинец.
		//- 	.set_item.content(class='l2_b1_cont2') Наречия и предложения с наречиями (Холодно – Сейчас холодно. Справа – Номер справа. Утром, вечером.)
		//- 	.set_item.content(class='l2_b1_cont3') Числительные (1-20).

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Scene 2: In a hotel.

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs1_words') Learn new words
			.set_item.exercise(class='l2_b2_exs2_select') Learn new words and expressions
			.set_item.exercise(class='l2_b2_exs3_video') Dialogue
			.set_item.exercise(class='l2_b2_exs4_composit') After viewing exercise (questions)
			.set_item.exercise(class='l2_b2_exs5_composit') After viewing exercise (family)
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Погода в Москве.
		//- 	.set_item.content Вопрос о национальности? Странно…

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs6_composit') Grammar
			.set_item.exercise(class='l2_b2_exs7_composit') Lexical
			.set_item.exercise(class='l2_b2_exs8_composit') Listening
		//- .study_title Грамматика
		//- .study_set.content
		//- 	.set_item.content(class='l2_b2_cont1') Существительные множественного числа (продолжение). Исключения: братья, люди, дети и т.д.
		//- 	.set_item.content(class='l2_b2_cont2') Обозначение времени: Когда завтрак? Завтрак в 8.

	//- .block_item_test Тест