.lesson_block_item
	.block_item_title Сцена 1: В комнате.

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l3_b1_exs1_words') Выучите новые слова (существительные)
			.set_item.exercise(class='l3_b1_exs2_drag') Выучите новые слова (прилагательные)
			.set_item.exercise(class='l3_b1_exs3_select') Прослушайте предложения с новыми словами
			.set_item.exercise(class='l3_b1_exs4_video') Выучите новые выражения (аудирование)
			.set_item.exercise(class='l3_b1_exs5_video') Проверьте себя(аудирование)
			.set_item.exercise(class='l3_b1_exs6_video') Диалог
			.set_item.exercise(class='l3_b1_exs6_video') Задания на понимание
		.study_title Страноведение
		.study_set.content
			.set_item.content Когда на «Ты», когда на «Вы».

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise Грамматические
			.set_item.exercise Лексические
			.set_item.exercise Фонетические
		.study_title Грамматика
		.study_set.content
			.set_item.content Прилагательные
			.set_item.content Обозначение места: Телефон на столе. Телефон в столе. Предложный падеж.
			.set_item.content Глагол: формы инфинитива и личные формы (глагол «знать I»)
			.set_item.content Предложный падеж – начало, общая информация. «в» и «на» - внутри и на поверхности

	.block_item_test Тест


.lesson_block_item
	.block_item_title Сцена 2: Давай на «ты»!

	.block_item_study
		.study_title Задания
		.study_set.exercises
			.set_item.exercise(class='l3_b2_exs1_words') Выучите новые слова (цвета)
			.set_item.exercise(class='l3_b2_exs2_select') Проверьте себя(аудирование)
			.set_item.exercise(class='l3_b2_exs3_video') Выучите новые выражения
			.set_item.exercise(class='l3_b2_exs4_composit') Проверьте себя(лексика)
			.set_item.exercise(class='l3_b2_exs5_video') Диалог
			.set_item.exercise(class='l3_b2_exs6_video') Задания на понимание
		.study_title Страноведение
		.study_set.content
			.set_item.content Как заказать гостиницу в Москве.
			.set_item.content Проблемы личной безопасности.

	.block_item_study.statistic
		.study_title Упражнения
		.study_set.exercises
			.set_item.exercise Грамматические
			.set_item.exercise Фонетические
			.set_item.exercise Письмо
		.study_title Грамматика
		.study_set.content
			.set_item.content Глаголы: формы инфинитива и личные формы (глагол «слышать II», «хотеть» искл.)
			.set_item.content Указательные местоимения этот, эта, это…
			.set_item.content Сложное предложение: Я знаю, что это ты.
			.set_item.content Обозначение лица-обладателя. Родительный падеж личных местоимений (у меня есть...).

	.block_item_test Тест