ul
	li Да, мама, здравствуй. Я рад тебя слышать.
	li У меня всё в порядке, я в Москве.
	li Почему ты не звонил? Я не знаю, где ты, как твои дела. В России очень холодно, снег.
	li Я не знала, что думать, потому что самолёт – это всегда очень опасно…Джон, ты меня слышишь?
	li Мама, мама, я тебя слышу хорошо. У меня всё нормально: я уже в гостинице.
	li У меня очень хороший номер – чистый и удобный. Сейчас я в ресторане, завтракаю.
	li Ты помнишь, что я люблю красную икру? Она у нас в Канаде очень дорогая!
	li А я сейчас ем красную икру и блины здесь, в России. Это совсем недорого и очень вкусно!
	li Я рада, что у тебя всё в порядке и что ты хорошо завтракаешь. Скажи, а Москва – город маленький или большой?
	li Конечно, большой, очень большой!
	li Я видел Москву ещё только из такси, но понял, что в Москве есть широкие проспекты,
	li длинные и короткие улицы, дома старые и новые, высокие и невысокие.
	li На улице не очень холодно. Погода здесь, как дома, в Канаде: везде снег, очень красиво…
	li Где твоя гостиница – далеко от Кремля или в центре?
	li Я ещё не знаю, думаю, что недалеко.
	li Да, у меня в Москве уже есть новый знакомый, можно сказать друг, его зовут…
	li Я уже поняла! Это не «он», а «она», её зовут Мария!
	li Молодец! Мне нравится, что у тебя в Москве уже есть подруга.
	li Она красивая? Высокая? Какие у неё глаза – голубые или нет?
	li А волосы короткие? Где ты встретил её – в самолёте, в аэропорту, в гостинице? А...
	li Нет, мама, ты всё поняла неправильно! Я сказал «знакомый», а не «знакомая»!
	li Его зовут Лёва, сейчас он тоже живёт в гостинице, где я живу.
	li Он украинец, у него большая семья, они живут в Киеве…
	li Как?! Почему украинец живёт в Киеве? Украинцы живут в Канаде.
	li Ты помнишь, когда ты был в школе, у тебя были друзья, не помню, как их зовут…
	li Он понимает по-русски? Или вы говорите только по-английски?
	li Может быть, ты понимаешь по-украински?!
	li Мама, не надо, пожалуйста! Я не понимаю по-украински, мы говорим по-русски.
	li Извини, сейчас мне надо платить за завтрак, не могу говорить.
	li Сегодня вечером или завтра вечером я позвоню тебе. До свидания!