ul
	li Так... Как найти в Москве Марию?
	li А... Знаю! Мария дала мне визитку.
	li Там есть её телефон. Сейчас я ей позвоню.
	li Ужасно! У меня нет её визитки.
	li Наверно, я потерял её визитку.
	li Как я могу найти Марию, когда у меня нет её телефона, нет её адреса?
	li У меня ничего нет. У меня даже нет друга и нет подруги в Москве.
	li Никого нет. Никто мне не поможет.
	li Интересно, что это? Хм...
	li ПРИ-ГЛА-ШЕ-НИ-Е. Приглашение.
	li Москва. 15 января. 2008 год.
	li Международный конгресс "Экология сегодня" ...
	li ... начинает работать в Москве.
	li Приглашаем журналистов на пресс-конференцию в 16:00.
	li Адрес: Россия, Москва, Никитский бульвар, Дом журналиста, зал номер 3.
	li Ура! Здорово! Теперь я знаю, что могу найти Марию.
	li Она - журналистка, она обязательно должна быть на пресс-конференции.