div Так... Как найти в Москве Марию?
div А... Знаю! Мария дала мне визитку.
div Там есть её телефон. Сейчас я ей позвоню.
div Ужасно! У меня нет её визитки.
div Наверно, я потерял её визитку.
div Как я могу найти Марию, когда у меня нет её телефона, нет её адреса?
div У меня ничего нет. У меня даже нет друга и нет подруги в Москве.
div Никого нет. Никто мне не поможет.
div Интересно, что это? Хм...
div ПРИ-ГЛА-ШЕ-НИ-Е. Приглашение.
div Москва. 15 января. 2008 год.
div Международный конгресс "Экология сегодня" ...
div ... начинает работать в Москве.
div Приглашаем журналистов на пресс-конференцию в 16:00.
div Адрес: Россия, Москва, Никитский бульвар, Дом журналиста, зал номер 3.
div Ура! Здорово! Теперь я знаю, что могу найти Марию.
div Она - журналистка, она обязательно должна быть на пресс-конференции.