h1 Instrumental Case
h2 The Meanings of the Instrumental Case (continued)
h3 4. Instrumental case: denoting an object
p
	| To describe a person's interests or hobbies, we can use reflexive verbs
	b "занима́ться"
	| ,
	b "интересова́ться"
	| ,
	b "увлека́ться"
	| . The noun that follow such a verb and indicates an object of a hobby or interests always appears in the Instrumental case and doesn't require the preposition "
	b c
	| .".
p
	| ЗАНИМАТЬСЯ (чем?)
	b спортом, иностранным языком, наукой, бизнесом
	| …
p
	| Я люблю зимой
	b заниматься спортом
	| .
img(src='/images/' + course + '/grammar/lesson10/03.jpg')
p
	| ИНТЕРЕСОВАТЬСЯ (чем?)
	b искусством, музыкой, театром…
p
	| Марина музыкант. Она всегда
	b интересовалась музыкой
	| .
img(src='/images/' + course + '/grammar/lesson10/04.jpg')
p
	| Иван бизнесмен. Он
	b занимается бизнесом
	|  всегда.
img(src='/images/' + course + '/grammar/lesson10/05.jpg')
p
	| Когда у неё есть свободное время, она
	b катается
	|  на коньках.
img(src='/images/' + course + '/grammar/lesson10/06.jpg')

