extends ../../index.jade

block vars
	- var task = 'Listen, repeat, and read words:'
	- var items = 7

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['евро́ппа', 'а́зия', 'а́фрика', 'австра́лия', 'се́верная аме́рика', 'ю́жная аме́рика', 'антаркти́да']
			include ../../types/text.jade
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../types/audio.jade
