extends ../../index.jade

block vars
	- var task = 'View an episode, and complete a phrase.'
	- var items = 4

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/video/' + ex_path + '/' + ('0' + select).slice(-2) + '.mp4'
			include ../../types/video.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			- var questions = [{'qs': ['Меня́ зову́т Джон Де́йсон.', 'Я кана́дец.', 'Нет, нет, не хо́лодно.'], 'answer': 0}, {'qs': ['Нет, мой бага́ж не здесь.', 'Здра́вствуйте.', 'Сейча́с ле́то.'], 'answer': 1}, {'qs': ['Я Джон, я - тури́ст. А вы?', 'До свида́ния.', 'Па́спорт тут.'], 'answer': 1}, {'qs': ['Твоя́ видеока́мера здесь?', 'Моя́ су́мка, мой чемода́н - и туале́т.', 'Как Вас зову́т?'], 'answer': 2}]
			include ../../types/question_mute.jade