extends ../../index.jade

block vars
	- var task = 'Listen, repeat, and read words:'
	- var items = 5

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['па́спорт', 'фами́лия', 'и́мя', 'гражда́нство', 'да́та рожде́ния']
			include ../../types/text.jade
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../types/audio.jade
