div Джон, что ты тут делаешь? Ты разве эколог?
div Нет, я пришёл найти Марию.
div А куда ты пропал после завтрака?
div После завтрака я был в своём номере. Я искал информацию о Марии: её телефон, визитку или адрес. Искал долго, но, к сожалению, не нашёл.
div Но я нашёл приглашение на конгресс для Марии - вот оно! И я узнал, где Мария должна быть.
div А как ты смог приехать сюда один: у тебя денег нет, ты не знаешь Москву…
div Неправда, у меня уже есть рубли! Я нашёл Обменный пункт и поменял свои доллары на рубли. Смотри, сколько у меня денег! Могу отдать тебе деньги за завтрак…
div Нет, Джон, не надо, мы же друзья.
div А потом я сел на метро и приехал в центр.
div И не говори, что я не знаю Москву - у меня есть хороший путеводитель, вот он.
div Я много раз смотрел и читал свой путеводитель: в самолёте, в такси, в метро.
div В путеводителе всё есть: план Москвы, схема метро, фотографии, интересные места.
div И что, ты прочитал всю эту книгу о Москве? Теперь ты всё знаешь?
div Нет, конечно, не всё знаю.
div Я часто читал эту книгу, но всё не прочитал, там очень много информации. Но я узнал очень много о Москве.
div Ты уже ездил в центр Москвы. Что ты там видел?
div Видел Кремль, Манеж, Красную площадь, Большой театр, Театральную площадь.
div Я гулял, смотрел и фотографировал, что мне понравилось - вот, смотри, что я сфотографировал!.
div Лёва, смотри - это Мария! Я знал, что она придёт - и вот она пришла, ура!