ul
	li Джон, что ты тут делаешь? Ты разве эколог?
	li Нет, я пришёл найти Марию.
	li А куда ты пропал после завтрака?
	li После завтрака я был в своём номере. Я искал информацию о Марии: её телефон, визитку или адрес. Искал долго, но, к сожалению, не нашёл.
	li Но я нашёл приглашение на конгресс для Марии - вот оно! И я узнал, где Мария должна быть.
	li А как ты смог приехать сюда один: у тебя денег нет, ты не знаешь Москву…
	li Неправда, у меня уже есть рубли! Я нашёл Обменный пункт и поменял свои доллары на рубли. Смотри, сколько у меня денег! Могу отдать тебе деньги за завтрак…
	li Нет, Джон, не надо, мы же друзья.
	li А потом я сел на метро и приехал в центр.
	li И не говори, что я не знаю Москву - у меня есть хороший путеводитель, вот он.
	li Я много раз смотрел и читал свой путеводитель: в самолёте, в такси, в метро.
	li В путеводителе всё есть: план Москвы, схема метро, фотографии, интересные места.
	li И что, ты прочитал всю эту книгу о Москве? Теперь ты всё знаешь?
	li Нет, конечно, не всё знаю.
	li Я часто читал эту книгу, но всё не прочитал, там очень много информации. Но я узнал очень много о Москве.
	li Ты уже ездил в центр Москвы. Что ты там видел?
	li Видел Кремль, Манеж, Красную площадь, Большой театр, Театральную площадь.
	li Я гулял, смотрел и фотографировал, что мне понравилось - вот, смотри, что я сфотографировал!.
	li Лёва, смотри - это Мария! Я знал, что она придёт - и вот она пришла, ура!