div Денег нет. Банкомат не работает.
div Обмен валюты
div Девушка, извините, пожалуйста.
div Мне нужно найти банкомат, потому что у меня нет денег, рублей.
div Я хочу поменять доллары на рубли.
div Здесь нет банкомата, банкомат вон там, видите?
div Извините, вы говорите очень быстро. Я ничего не понимаю, я плохо понимаю по-русски.
div Я второй день в Москве, потому что я приехал вчера из Канады.
div Мне надо получить русские деньги, рубли.
div Но там, в банкомате, нельзя получить рубли, потому что там нет денег.
div Это очень странно. Я понял, что банкомат не работает.
div Вы можете поменять доллары на рубли?
div А…теперь я понимаю вас. Да, здесь можно поменять валюту.
div Сегодня курс валюты: 1 доллар - 24 рубля.
div Сколько долларов вы меняете?
div Так, я хочу поменять 200 долларов. Это большая сумма, мне хватит.
div Вот, пожалуйста.