ul
	li Денег нет. Банкомат не работает.
	li Обмен валюты
	li Девушка, извините, пожалуйста.
	li Мне нужно найти банкомат, потому что у меня нет денег, рублей.
	li Я хочу поменять доллары на рубли.
	li Здесь нет банкомата, банкомат вон там, видите?
	li Извините, вы говорите очень быстро. Я ничего не понимаю, я плохо понимаю по-русски.
	li Я второй день в Москве, потому что я приехал вчера из Канады.
	li Мне надо получить русские деньги, рубли.
	li Но там, в банкомате, нельзя получить рубли, потому что там нет денег.
	li Это очень странно. Я понял, что банкомат не работает.
	li Вы можете поменять доллары на рубли?
	li А…теперь я понимаю вас. Да, здесь можно поменять валюту.
	li Сегодня курс валюты: 1 доллар - 24 рубля.
	li Сколько долларов вы меняете?
	li Так, я хочу поменять 200 долларов. Это большая сумма, мне хватит.
	li Вот, пожалуйста.