extends ../../../index.jade

block vars
	- var task = 'Listen words and phrases and repeat them.'
	- var items = 15

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['что там?', 'регистрация, там регистрация', 'сейчас, там сейчас', 'багаж, их багаж', 'газеты, где газеты, киоск, где газеты и журналы', 'здесь, здесь что?', 'паспортный контроль, выход на паспортный контроль', 'информация, здесь «Информация»', 'аптека', 'обмен валюты, «Обмен валюты» внизу']
			include ../../../types/text.jade
			- var path = '/audio/' + course + '/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../../types/audio.jade