.lessons_navigator_block
	.lessons_block
		.circles
			//- each lesson,i in lessons
				.circle(l_title='Урок ' + (i+1), l_fail='20', l_success='60')
			.circle(l_title='Урок 1', l_fail='35', l_success='25')
			.circle(l_title='Урок 2', l_fail='35', l_success='25')
			.circle(l_title='Урок 3', l_fail='50', l_success='40')
			.circle(l_title='Урок 4', l_fail='15', l_success='65')
			.circle(l_title='Урок 5', l_fail='50', l_success='30')
	.lesson_navigator_block
		.lesson_navigator_inner
		.dictionary_block
			.dictionary_title Словарь:
			.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я