.lessons_navigator_block
	.lessons_block
		.circles
			each lesson,i in lessons
				.circle(l_title='Урок ' + (i+1), l_fail='20', l_success='60')
			//- .circle(l_title='Урок 2', l_fail='35', l_success='25')
			//- .circle(l_title='Урок 3', l_fail='50', l_success='40')
			//- .circle(l_title='Урок 4', l_fail='15', l_success='65')
			//- .circle(l_title='Урок 5', l_fail='50', l_success='30')
	.lesson_navigator_block
		.lesson_navigator_inner
			.lesson_block_item
				.block_item_title Сцена 1: паспортный контроль

				.block_item_study
					.study_title Задания
					.study_set.exercises
						a.exercise_item(href='/exercise/words') Выучите новые слова
						a.exercise_item(href='/exercise/drag') Проверьте себя (чтение)
						a.exercise_item(href='/exercise/select') Проверьте себя (аудирование)
						.exercise_item Выучите новые выражения
						a.exercise_item(href='/exercise/video') Диалог
					.study_title Страноведение
					.study_set.content
						.content_item Миграционная карта

				.block_item_study.statistic
					.study_title Упражнения
					.study_set.exercises
						.exercise_item Грамматические
						.exercise_item Лексические
						.exercise_item Речевые
					.study_title Грамматика
					.study_set.content
						.content_item род, число существительных
						.content_item личные местоимения

				.block_item_test Тест


			.lesson_block_item
				.block_item_title Сцена 2: профессии

				.block_item_study
					.study_title Задания
					.study_set.exercises
						.exercise_item Выучите новые слова
						.exercise_item Проверьте себя
						.exercise_item Выучите новые выражения
						.exercise_item Диалог
						.exercise_item Задание на понимание
					.study_title Страноведение
					.study_set.content
						.content_item Аэропорты Москвы

				.block_item_study.statistic
					.study_title Упражнения
					.study_set.exercises
						.exercise_item Грамматические
						.exercise_item Лексические
						.exercise_item Речевые
					.study_title Грамматика
					.study_set.content
						.content_item существительные женского рода, профессии
						.content_item отрицательные конструкции

				.block_item_test Тест



			.lesson_block_item
				.block_item_title Сцена 3: багаж

				.block_item_study
					.study_title Задания
					.study_set.exercises
						.exercise_item Выучите новые слова
						.exercise_item Проверьте себя
						.exercise_item Диалог
						.exercise_item Задание на понимание
					.study_title Страноведение
					.study_set.content
						.content_item Почему русские не улыбаются?

				.block_item_study.statistic
					.study_title Упражнения
					.study_set.exercises
						.exercise_item Грамматические
						.exercise_item Речевые
					.study_title Грамматика
					.study_set.content
						.content_item притяжательные местоимения

				.block_item_test Тест


		.dictionary_block
			.dictionary_title Словарь:
			.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я