.lessons_navigator_block
	.lessons_block
		.circles
			each lesson,i in lessons
				.circle(l_title='Урок ' + (i+1), l_fail='20', l_success='60')
			//- .circle(l_title='Урок 2', l_fail='35', l_success='25')
			//- .circle(l_title='Урок 3', l_fail='50', l_success='40')
			//- .circle(l_title='Урок 4', l_fail='15', l_success='65')
			//- .circle(l_title='Урок 5', l_fail='50', l_success='30')
	.blocks_navigator_block
		.lesson_blocks_item

			.block_item
				.block_item_title Сцена 1: паспортный контроль
				.block_item_study
					.study_block
						.study_exercises_block
							.study_exercises_title Задания
							.study_exercises_items
								a.study_exercise_item(href='/exercise/words') Выучите новые слова
								a.study_exercise_item(href='/exercise/drag') Проверьте себя (чтение)
								a.study_exercise_item(href='/exercise/select') Проверьте себя (аудирование)
								.study_exercise_item Выучите новые выражения
								a.study_exercise_item(href='/exercise/video') Диалог
								.study_exercise_item Задание на понимание
						.study_content_block
							.study_content_title Страноведение
							.study_content_items
								.content_item Миграционная карта
					.study_block.stat
						.study_exercises_block
							.study_exercises_title Упражнения
							.study_exercises_items
								.study_exercise_item Грамматические
								.study_exercise_item Лексические
								.study_exercise_item Речевые
						.study_content_block
							.study_content_title Грамматика
							.study_content_items
								.content_item род, число существительных
								.content_item личные местоимения
				.block_item_test Тест


			.block_item
				.block_item_title Сцена 2: профессии
				.block_item_study
					.study_block
						.study_exercises_block
							.study_exercises_title Задания
							.study_exercises_items
								.study_exercise_item Выучите новые слова
								.study_exercise_item Проверьте себя
								.study_exercise_item Выучите новые выражения
								.study_exercise_item Диалог
								.study_exercise_item Задание на понимание
						.study_content_block
							.study_content_title Страноведение
							.study_content_items
								.content_item Аэропорты Москвы
					.study_block.stat
						.study_exercises_block
							.study_exercises_title Упражнения
							.study_exercises_items
								.study_exercise_item Грамматические
								.study_exercise_item Лексические
								.study_exercise_item Речевые
						.study_content_block
							.study_content_title Грамматика
							.study_content_items
								.content_item существительные женского рода, профессии
								.content_item отрицательные конструкции
				.block_item_test Тест


			.block_item
				.block_item_title Сцена 3: багаж
				.block_item_study
					.study_block
						.study_exercises_block
							.study_exercises_title Задания
							.study_exercises_items
								.study_exercise_item Выучите новые слова
								.study_exercise_item Проверьте себя
								.study_exercise_item Диалог
								.study_exercise_item Задание на понимание
						.study_content_block
							.study_content_title Страноведение
							.study_content_items
								.content_item Почему русские не улыбаются?
					.study_block.stat
						.study_exercises_block
							.study_exercises_title Упражнения
							.study_exercises_items
								.study_exercise_item Грамматические
								.study_exercise_item Речевые
						.study_content_block
							.study_content_title Грамматика
							.study_content_items
								.content_item притяжательные местоимения
				.block_item_test Тест


		.dictionary_block
			.dictionary_title Словарь:
			.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я