h2 Глаголы
img(src='/time_new/images/grammar/lesson03/glagoli0.gif')
p
	| Все глаголы в русском языке изменяются по лицам и числам. Существует 2 набора глагольных окончаний, или
	b 2 спряжения
	| . Инфинитив глагола (форма на
	i -ть
	| ,
	i -ти
	| ,
	i -чь
	| ) является
	u неизменяемой
	|  формой , именно эту форму вы найдете в словаре. В предложении форма глагола изменяется, она зависит от лица и числа субъекта (
	i я
	| ,
	i ты
	| ,
	i он
	| ,
	i она, оно
	| (единственное число),
	i мы
	| ,
	i вы
	| ,
	i они
	| (множественное число).
p
	i
		| Я зна
		b ю
		| . Они зна
		b ют
		| . Вы зна
		b ете
		| .
p
	| Обратите внимание, что глагол в форме третьего лица единственного имеет одну и ту же форму для одушевленных и неодушевленных субъектов мужского, женского и среднего рода:
	i
		| Антон работа
		b ет
		| . Магазин работа
		b ет
		| . Анна работа
		b ет
		| . Школа работа
		b ет
		| . Радио не работа
		b ет
		| .
	|  Глагол в форме третьего лица множественного числа также относится как к одушевленным, так и к неодушевленным субъектам.
	i
		| Антон и Анна работа
		b ют
		| . Магазины работа
		b ют
		| .
p
	| Окончания личных форм глагола зависят от спряжения глагола – I или II. Обычно глаголы, инфинитив которых заканчивается на
	i -ить
	|  (
	i
		| люб
		b ить
	| ,
	i
		| звон
		b ить
	| ), относятся ко второму спряжению. Глаголы, инфинитив которых имеет иные окончания, относятся к первому спряжению:
	i
		| зн
		b ать
	| ,
	i
		| гул
		b ять
	| ,
	i
		| отдохн
		b уть
	| ,
	i
		| им
		b еть
	|  и др. При спряжении глаголов вы встретитесь с большим количеством исключений!
h3 I спряжение
img(src='/time_new/images/grammar/lesson03/glagoli1.gif')
p В настоящем времени для образования личных форм глагола спряжения 1 необходимо
ul
	li
		| опустить окончание инфинитива (последние две буквы:
		i
			| зн
			u а
			| ║ть
		| ,
		i
			| дел
			u а
			| ║ть
		| ,
		i
			| работ
			u а
			| ║ть
		| )
	li  
	li
		| прибавить к тому, что осталось (зна-, дела-, работа-), нужное окончание: зна-ю, дела-ешь. В 1 лице ед.числа и 3 лице мн. числа окончания – ю или –ют ставятся перед гласными: работА - ют, окончания –у или ут – перед согласными: моГ –у
h3 II спряжение
img(src='/time_new/images/grammar/lesson03/glagoli2.gif')
p
	| Второе спряжение образуется таким же образом, как и первое, только личные окончания спряжения 2 другие:
p
	| Обратите внимание, что после
	i ч
	|  и
	i ш
	|  не пишутся буквы
	i ю
	|  и
	i я
	| , следует писать
	i у
	|  и
	i а
	| :
	i
		| я пи
		u ш
		b у
	| ,
	i
		| я у
		u ч
		b у
	| ,
	i
		| они пи
		u ш
		b ут
	| ,
	i
		| они у
		u ч
		b ат
	| .
p
	| Глагол
	i хотеть
	|  является исключением и не относится ни к первому, ни ко второму спряжению, формы этого глагола нужно запомнить. Обратите внимание на чередование
	i т/ч
	|  в основе этого глагола.