h2 When and how to use the verb ЕСТЬ (to have)?
b У меня ЕСТЬ чемодан.
br
| (Важно, что чемодан
b есть
| .)
p
	img(src='/images/grammar/lesson03/ls3s2t17.jpg')
| У меня
b большой
|  чемодан.
br
| (Известно, что чемодан есть.
br
| Важно – какой чемодан,
br
| поэтому слово
b есть
|  не нужно.)
br
br
p
	| У тебя
	b  есть
	|   чемодан?
table
	tr
		td(align='center')
			| Да,
			b есть
			| .
		td(align='center') Нет, нет.
	tr
		td
			img(src='/images/grammar/lesson03/ls3s2t17.jpg')
		td
			img(src='/images/grammar/lesson03/ls3s2t18.jpg')
br
br
p
	b Какой
	|  у тебя чемодан? –
	| У меня
	b большой
	|  чемодан.
	table
		tr
			td
				img(src='/images/grammar/lesson03/ls3s2t17.jpg')
			td
				img(src='/images/grammar/lesson03/ls3s2t19.jpg')
h2 I have...
center
	img(src='/images/grammar/lesson03/t3.jpg')

