h2 Указательные местоимения
p
	| Когда нужно выбрать один предмет из нескольких, используется указательное местоимение этот (эта, это, эти), которое согласуется с существительным в роде и числе: если существительное мужского рода, употребляется местоимение этот (этот дом), если существительное женского рода – местоимение эта (эта комната), среднего – это (это окно), если существительное во множественном числе, используется местоимение эти (эти часы). Эти местоимения используются при указании на выбранный предмет и при ответе на вопрос какой? (какая? какое? какие?)
ul
	li – Какой телевизор недорогой и хороший?
	li – Этот. // Этот телевизор.
	li  
	li – Какая комната очень удобная?
	li – Эта комната.
	li  
	li – Какое кино очень интересное?
	li – Это американское кино.
	li  
	li – Какие вещи твои?
	li – Эти вещи мои.
p
	| При ответе на вопрос Что это? можно использовать только одну форму – местоимение это, которое не согласуется с существительным ни в роде, ни в числе:
ul
	li Это мой дом.
	li Это наша удобная квартира.
	li Это наше окно.
	li Это твои вещи?
p
	| Следует обратить внимание на то, что конструкция с местоимением это представляет собой законченное предложение. Словосочетание с указательным местоимением этот требует дополнительной информации о названном предмете, необходимо добавить сказуемое (предикат), чтобы получить законченное предложение. Сравните:
table.tblGrammar
	tr.trBordered
		td Что это?
		td Какой? Какая? Какое? Какие?
	tr
		td Это дом.
		td
			| Этот дом…
			br
			| Этот дом очень большой.
			br
			| Мне нравится этот дом.
	tr
		td Это русский сувенир.
		td
			| –Какой сувенир очень красивый?
			br
			| –Этот русский сувенир очень красивый.
	tr
		td Это книга.
		td
			| –Какая книга тебе нравится?
			br
			| –Мне нравится эта книга.
	tr
		td Это пальто.
		td
			| –Какое пальто самое тёплое?
			br
			| –Это красное пальто самое тёплое.
	tr
		td Это часы.
		td
			| –Какие часы очень хорошие
			br
			| –Эти часы очень хорошие.
p Обратите внимание на порядок слов в таких предложениях.
table.tblGrammar
	tr
		td Это овощной салат.
		td Э́тот салат овощной.
	tr
		td Это красная рыба.
		td Э́та рыба красная.
	tr
		td Это дорогие закуски.
		td Э́ти закуски дорогие.

