h2 CASES in Russian
p
  img(width='900px', src='/images/grammar/lesson03/tabl2.jpg')
p
  | In Russian nouns are inflected (change). Noun forms are called "cases". There are six cases in Russian, and every case has its own meaning, function in a sentence, and its own set of endings.
p Cases:
//- <p><img src="/images/grammar/lesson03/padeg2.gif"/></p>
p In a dictionary, you will find nouns in the Nominative case.
p
  img(src='/images/grammar/lesson03/padeg3.gif')
h2 PREPOSITIONAL CASE
p
  | To indicate location of a person or inanimate object, you need to use the noun in the Prepositional case form.
p
  img(src='/images/grammar/lesson03/padeg4.gif')
p
  | To indicate location, nouns in Prepositional case are always used with prepositions "в" (in) or "на" (on).  If an object is located inside something, we use a preposition " в" (in): "a scarf in a bag", "a telephone in a desk drawer", "a photo in a book".  And if an object is located on a top surface of something , we use a preposition "на" (on): "a scarf on a bag", "a telephone on a desk", "a photo on a book".
p
  img(src='/images/grammar/lesson03/v-na.jpg')
dl
  dt В:
  dd
    b Room, building:
    ul
      li Анто́н в ко́мнате.
      li Ива́н в рестора́не.
    b These are exceptions!
    ul
      li на по́чте, на фа́брике
    br
    b Country, city:
    ul
      li Анто́н в Аме́рике.
      li Ива́н в Петербу́рге.
    br
    b Park, forest, garden:
    ul
      li Мы в па́рке.
      li Она́ в лесу́.
      li Цветы́ в саду́.
    dt НА:
    dd
      b Event:
      ul
        li Анто́н на уро́ке.
        li Ива́н на дискоте́ке.
      br
      b Street, boulevard, avenue, square (open space):
      ul
        li Я сейча́с на у́лице.
p In Prepositional case nouns have the following endings:
p
  img(src='/images/grammar/lesson03/padeg.gif')
p
  b Attention!
  | In Prepositional case certain nouns end in "-у", and the ending "-у" will always be under stress. These words need to be memorized!
p
  img(src='/images/grammar/lesson03/padeg5.gif')

