h2 Question words: "Какой? Какая? Какое? "(what kind? which one?)
p
  | When an inquiry is made about qualitative characteristics of a person or inanimate object ("what kind of a person or object is it?"), in Russian questions "какой? какая? какое? какие?" are asked. The question word usually opens the sentence, and agrees in gender and number with the noun it refers to. With the masculine noun, you will use the question word "какой?", with the feminine noun - "какая?", with the neuter noun - "какое?", and with plural nouns -  "какие?".
p
  img(src='/images/grammar/lesson03/ls3s1t1.gif')
p
  | Also, questions "какой? какая? какое? какие?" can be used to inquire about an object's name. Compare:
p
  img(src='/images/grammar/lesson03/ls3s1t2.gif')