h2 ИМЯ ПРИЛАГАТЕЛЬНОЕ
p
	| Прилагательные – это слова, которые описывают предмет - называют свойства и качества предмета. Они отвечают на вопрос «какой?» (смотри ниже). Имя прилагательное всегда повторяет грамматическую форму существительного, которое оно описывает, то есть оно всегда стоит в том же роде, числе и падеже, что и существительное:
| красив
b ый
|  дом
br
| красив
b ая
|  девушк
b а
br
| красив
b ое
|  дерев
b о
br
| красив
b ые
|  цвет
b ы
p Обратите внимание на окончания существительных и прилагательных в таблице:
p
	img(src='/time_new/images/grammar/lesson03/tab1.jpg', width='95%')
p
	| Когда мы говорим об отличии твердого и мягкого типов склонения прилагательных в русском языке, мы имеем в виду, какой согласный  - твердый или мягкий – стоит перед окончанием: новый – [в] твердый, окончание  - ый, синий -  [н’] – мягкий согласный. После него пишем окончание «ий».
	br
	br
	| Окончания твердого типа – но́вый, но́вая, но́вое, но́вые
	br
	br
	| Окончания мягкого типа – си́ний, си́няя, си́нее, си́ние.
	br
	br
	| Но важно помнить, что под ударением окончание твердого типа прилагательных мужского рода не «ЫЙ», а «ОЙ»: голубо́й, молодо́й и т.д.
	br
	br
	| Прилагательные с окончанием мягкого типа нужно запоминать, потому что так сложилось исторически в языке. Чаще всего это прилагательные, которые оканчиваются на  -ний: си́ний, ле́тний, зи́мний, вчера́шний и т.д.
h2 Вопросы "какой", "какая", "какое", "какие"
a(name='ls3sc1')
p
	| При запросе информации о качественной характеристике лица или предметы, используются вопросы
	i какой? какая? какое? какие?
	|  Вопрос зависит от рода и числа определяемого существительного и обычно стоит в начале предложения. Если существительное мужского рода, употребляется вопрос
	i какой?
	|  женского –
	i какая?
	|  среднего –
	i какое?
	|  Если определяемое существительное стоит во множественном числе, используется вопрос
	i какие?
p
	b Какой
	|  это человек? (существительное
	i человек
	|  мужского рода – вопрос
	i какой?
	| )
p
	b Какая
	|  это рыба? (существительное
	i рыба
	|  женского рода – вопрос
	i какая?
	| )
p
	b Какое
	|  это пиво? (существительное
	i пиво
	|  среднего рода – вопрос
	i какое?
	| )
p
	b Какие
	|  это дети? (существительное
	i дети
	|  стоит во множественном числе – вопрос
	i какие?
	| )
p
	| В ответных репликах используются имена прилагательные, которые согласуются с существительным в роде и числе.
p
	| Это вкусн
	b ая
	|  рыб
	b а
	| .
p
	| Вопросы
	i какой? какая? какое? какие?
	| также могут использоваться при запросе информации о названии предмета. Сравните:
p
	b —Какое
	|  это пиво?
p
	b —
	| Это
	b холодное
	|  пиво.
p
	b —
	| Это пиво «Балтика».