h2 VERBS
p
  | The Russian Verbs conjugate (change by person and number). In a sentence, the verb form is determined by the person and number of its subject.
p There are two sets of verbal endings, or two Conjugation patterns.
p
  img(src='/images/grammar/lesson03/ls3s2t1.gif')
  img(src='/images/grammar/lesson03/ls3s2t2.gif')
p
  | Verbs in the Infinitive form have the following endings: -ть,-ти,-чь. The Infinitive form of the verb never changes (is invariant). This is the verbal form found in the dictionary.
p
  | As a rule, if in the Infinitive form the verb ends in "-ить" (говор║ить), it is a Conjugation II verb. Verbs which in the infinitive form have all other endings are Conjugation I verbs: "знать", "гулять", "отдохнуть", "иметь", etc.
h3 Verbs in Present Tense
p The Present tense is used to describe an action which:
ul
  li – is taking place as we speak: "Я сейчас работаю" - "I am working now", OR
  li
    | – takes place regularly: "Каждый день я работаю в магазине" - "Every day I work in the shop", OR
  li – happens all the time: "Трудоголики много работают" - "Workaholics work a lot".
p The Present tense verbal forms are constructed as follows:
p
  b Conjugation I
p
  img(src='/images/grammar/lesson03/ls3s2t3.gif')
p
  b Conjugation II
p
  img(src='/images/grammar/lesson03/ls3s2t4.gif')
p
  b
    font(color='red') Please, remember!
p
  img(src='/images/grammar/lesson03/ls3s2t5.gif')