h2 ПАДЕЖИ В РУССКОМ ЯЗЫКЕ
p
	| В русском языке имена существительные изменяются. Их форма зависит от того,
	| какую роль они играют в предложении. Эти формы изменения существительных называются
	b падежами
	| . Всего в русском языке 6 падежей существительных, каждый падеж имеет свой
	| вопрос для одушевленных и неодушевленных существительных, свои окончания,
	| свои значения и функции в предложении.
p Выделяются следующие падежи:
img(src='/time_new/images/grammar/lesson03/padeg2.gif')
p
	b Именительный падеж
	|  отвечает на вопросы
	i кто? что?
	| В словаре обычно даётся форма существительных именно в именительном
	| падеже.
p
	img(src='/time_new/images/grammar/lesson03/padeg3.gif')
h2 ПРЕДЛОЖНЫЙ ПАДЕЖ
p
	| Чтобы сообщить о месте нахождения человека или вещи
	| (то есть ответить на вопрос
	i где?
	| ), нужно выбрать существительное
	| в форме
	b предложного падежа
	| .
p
	img(src='/time_new/images/grammar/lesson03/padeg4.gif')
p
	| Имена существительные в предложном падеже
	| при указании на место всегда употребляются с предлогами
	i в
	|  или
	i на
	| .
	| Если вещь находится
	u внутри
	|  чего-либо, используется предлог
	i в
	| :
	i
		| шарф
		b в
		|  сумке,
		| телефон
		b в
		|  столе,
		| фото
		b в
		|  книге
	| ;
	| а если вещь
	u на поверхности
	| , то предлог
	i на
	| :
	i
		| шарф
		b на
		|  сумке,
		| телефон
		b на
		|  столе,
		| фото
		b на
		|  книге
	| .
	| Следует обратить внимания на некоторые особенности употребления предлогов
	i в
	|  и
	i на
	| .
p
	img(src='/time_new/images/lesson03/grammar/knigi.jpg')
p
	b Книги на полке.
p
	img(src='/time_new/images/lesson03/grammar/cveti.jpg')
p
	b Цветы в вазе.
p
	| предлог
	i в
ul(type='DISC')
	li
		| Если человек или предмет находятся внутри
		u помещения
		| ,
		u
			| здания
		| , как правило, используется предлог
		i   в
		| :
		i Антон
		b
			i в
		i  комнате
		| ,
		i Иван
		b
			i в
		i  ресторане
		|  (
		b исключения
		| :
		b
			i
				| на
		i  почте,
		b
			i на
		i
			| стадионе,
		b
			i на
		i
			| фабрике
		| ).
	li
		| Если речь идет о
		u стране
		|  или
		u городе
		| , также
		|   употребляется предлог
		i в
		| :
		i Антон
		b
			i в
		i  Америке
		| ,
		i Иван
		b
			i в
		i  Петербурге
		| .
	li
		| Со словами
		i
			u парк
		u ,
		i
			u сад
		u ,
		i
			u лес
		|  также употребляется предлог
		i в
		| :
		i Мы
		b
			i в
		i
			| парке. Она
		b
			i в
		i  лесу
		| .
p
	u предлог
	i
		u на
ul(type='DISC')
	li
		| Если человек
		| находится на каком-либо мероприятии,
		| событии, всегда используется предлог
		i
			| на
		| :
		i Антон
		b
			i на
		i
			| уроке. Иван
		b
			i на
		i
			| дискотеке
		| .
	li
		| Со словами
		i
			| улица
		| ,
		i бульвар
		| ,
		i проспект
		| ,
		i площадь
		|   также употребляется предлог
		i на
		|  (открытое
		|   место, человек как бы находится на поверхности):
		i
			| Я сейчас
		b
			i на
		i
			| улице
		| .
p
	u
		| Окончания
		| существительных в предложном падеже.
ol(type='1')
	li
		| Существительные
		| мужского рода, оканчивающиеся на согласный,
		| присоединяют к себе окончание
		i -е
		| :
p
	i
		| парк – в парк
	b
		i е
	| ,
	i
		| магазин – в магазин
	b
		i е
	| .
p
	| А если
	| существительное мужского рода оканчивается
	| на
	i -ь
	|  или
	i -й
	| , то эти последние буквы
	| меняются на
	i -е
	| :
p
	i музе
	b
		i й
	i
		| – в музе
	b
		i е
	| ,
	i
		| словар
	b
		i ь
	i
		| – в словар
	b
		i е
	| .
p
	| 2) Существительные
	| женского рода, которые оканчиваются на
	i
		| -а
	| ,
	i -я
	| , также меняют эти буквы на
	i
		| -е
	| :
p
	i
		| Москва
		| – в Москв
	b
		i е
	| ,
	i песня – в песн
	b
		i е
	| .
ol(type='1', start='2')
	li
		| Существительные
		| среднего рода, оканчивающиеся на
		i -о
		| ,
		|   также меняют своё окончание на
		i -е
		| :
p
	i
		| письмо – в письм
	b
		i е
p
	| А если
	| существительное среднего рода оканчивается
	| на
	i -е
	| , то оно не меняет свою форму,
	| а только получает предлог
	i в
	|  или
	i
		| на
	| :
p
	i
		| пол
	b
		i е
	i  – в пол
	b
		i е
	| ,
	i
		| мор
	b
		i е
	i  – на мор
	b
		i е
	| .
ol(type='1', start='3')
	li
		| Существительные
		| женского рода, которые заканчиваются
		| на
		i -ь
		| , в предложном падеже имеют окончание
		i
			| -и
		| :
p
	i
		| тетрадь
		| – в тетрад
	b
		i и
	| . (Обратите внимание,
	| если на
	i -ь
	|  оканчивается слово мужского
	| рода, то в предложном падеже у него окончание
	i
		| -е
	| :
	i  словар
	b
		i ь
	i
		| – в словар
	b
		i е
	| ).
ol(type='1', start='4')
	li
		| Существительные
		| женского рода на
		i -ия
		|  и среднего рода
		|   на
		i -ие
		|  в предложном падеже имеют окончание
		i
			| -ии
		| :
p
	i
		| Россия
		| – в Росс
	b
		i ии
	| ,
	i
		| здание – в здан
	b
		i ии
	| .
	br
a(name='0.2_table01')
img(src='/time_new/images/grammar/lesson03/padeg.gif')
br
p
	| В русском
	| языке есть группа существительных, которые
	| имеют особое окончание –у в предложном
	| падеже единственного числа. Их надо запомнить!
p
	img(src='/time_new/images/grammar/lesson03/padeg5.gif')