extends ../../../index.jade

block vars
	- var task = 'Listen and repeat'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			- var video_id = 'mbbPAYxYyCI'
			include ../../../types/youtube.jade