h1 Instrumental Case
img(src='/images/' + course + '/grammar/lesson09/01.jpg')
h2 Instrumental case and its meanings
b 1.Joint action
br
p
  | We use the Instrumental case with the preposition "с" to speak about people who perform an action jointy.
p
  | For example:
  br
  | – Тимур, с кем ты вчера играл в футбол?
  br
  | – Я играл с Иваном, с Андреем, с Сергеем, с Виктором.
  br
  | – С кем Маша ходила в кино?
  br
  | – Маша ходила в кино с подругой Леной.
p
  | Анна с Антоном и Петей завтра поедут в Петербург. = Анна, Антон и Петя поедут в Петербург.
img(src='/images/' + course + '/grammar/lesson09/02.jpg')
br
br
b 2. Description
br
p
  | Often we use the Instrumental case with the preposition "C" to describe an object accurately.
p
  | For example:
  br
  | Вот бутерброд с сыром, а вот бутерброд с колбасой.
  br
  | (Какой бутерброд? С чем бутерброд?)
img(src='/images/' + course + '/grammar/lesson09/03.jpg')
p Вот человек с газетой. (Какой человек?)
img(src='/images/' + course + '/grammar/lesson09/04.jpg')
p
  | - Какую воду вы будете пить?
  br
  | - Я буду пить воду с газом.
img(src='/images/' + course + '/grammar/lesson09/05.jpg')
p А вот и плов с мясом!
img(src='/images/' + course + '/grammar/lesson09/06.jpg')
h2 Instrumental case forms
p Personal pronouns in Instrumental case:
img(src='/images/' + course + '/grammar/lesson09/08.jpg')
p Nouns in Instrumental case:
img(src='/images/' + course + '/grammar/lesson09/07.jpg')
h2 How to denote age
p
  | Age is expressed by a construction where the noun in the Dative case indicates a person whose age we are talking about.
p Это Иван. Ивану сейчас 16 лет.
p Это Ирина. Ей сейчас 10 лет.
p Сколько лет Марине Николаевне? Марине Николаевне 48 лет.
img(src='/images/' + course + '/grammar/lesson09/20.jpg')

