.content_block
  margin-top 30px

.lessons_block
  padding 10px 0 10px 0

.circles
  overflow hidden

.circle
  margin-right 20px
  float left
  width 120px
  height 120px
  &:hover
    cursor pointer

.dictionary_block
  border-bottom 1px solid black
  padding 10px 0 10px 10px
  overflow hidden

.dictionary_title
  float left
  margin-right 5px

.lesson_navigator_block
  width 1280px
  overflow hidden
  position absolute
  z-index 999999
  background-color white
  border-top 1px solid black

.lesson_navigator_inner
  padding-left 10px
  overflow hidden
  display none      // !!!!!!!!!

.lesson_block_item
  padding-top 10px
  padding-bottom 10px
  width 400px
  float left
  margin-right 35px

.lesson_block_item:nth-child(3n)
  margin-right 0px

.block_item_title
  font 16pt/18pt 'PT Serif'
  font-weight bold

.exercise_item, .content_item, .block_item_test
  margin-top 2px
  display block
  cursor pointer
  &:hover
    text-decoration underline

.block_item_study
  width 190px
  float left
  margin-top 10px
  margin-bottom 10px
  margin-right 5px
  overflow hidden
  &:last-child
    margin-bottom 0px
  &.statistic
    .exercises
      color #3699c9

.study_title
  font 12pt/14pt 'PT Serif'
  font-weight bold
  margin-top 10px

.study_set
  &.exercises
    color green
    a
      color green
      text-decoration none
      &:hover
        text-decoration underline

.block_item_test
  clear both
  margin-top 10px
  font-weight bold
