.lessons_block
  padding 10px 0 10px 0

.circles
  overflow hidden

.circle
  margin-right 20px
  float left
  width 120px
  height 120px

.dictionary_block
  border-top 1px solid black
  border-bottom 1px solid black
  padding 10px 0 10px 10px
  overflow hidden

.dictionary_title
  float left
  margin-right 5px

.blocks_navigator_block
  overflow hidden
  border-top 1px solid black
  padding-left 10px
  // display none

.block_item
  padding-top 10px
  padding-bottom 10px
  width 400px
  float left
  margin-right 35px

.block_item:nth-child(3n)
  margin-right 0px

.block_item_title
  margin-bottom 10px
  font 16pt/18pt 'PT Serif'
  font-weight bold

.block_item_study
  // outline 1px solid red
  margin-top 10px
  overflow hidden

.study_exercise_item, .content_item, .block_item_test
  cursor pointer
  &:hover
    text-decoration underline

.study_block
  width 400px
  margin-bottom 10px
  overflow hidden
  &:last-child
    margin-bottom 0px
  &.stat
    .study_exercises_block
      color blue

.study_exercises_block
  float left
  color green
  width 190px

.study_content_block
  float left
  width 190px
  margin-left 20px

.study_exercises_title, .study_content_title
  font 12pt/14pt 'PT Serif'
  font-weight bold

.block_item_test
  margin-top 10px
  font-weight bold