.lessons_block
  padding 10px 0 10px 0

.circles
  overflow hidden

.circle
  margin-right 20px
  float left
  width 120px
  height 120px

.dictionary_block
  border-top 1px solid black
  border-bottom 1px solid black
  padding 10px 0 10px 10px
  overflow hidden

.dictionary_title
  float left
  margin-right 5px

.blocks_navigator_block
  overflow hidden
  border-top 1px solid black
  padding-left 10px

.block_item
  float left
  margin-right 180px

.block_item_title
  margin-bottom 20px
  font 16pt/18pt 'PT Serif'
  font-weight bold

.block_item_categorys
  float left
  font 12pt/14pt 'PT Serif'
  margin-right 50px
  width 120px

.category_item
  cursor pointer
  display inline-block
  border-bottom 1px dotted

.category_exercises_block
  display none

.block_item_exercises
  margin-right 50px
  overflow hidden
  float left

.block_item_static
  float left
  color #4ca96e

.block_item_test
  clear both

.exercises_title, .static_title
  margin-bottom 10px

