.exercise_column
  width 640px
  float left
  outline 1px solid red

.exercise_block
  overflow hidden
  margin-top 20px

.exercise_task
  font 16pt/18pt 'PT Serif'
  font-weight bold
  margin-top 10px
  padding-left 10px

// Image

.ex_image {
	width: 250px;
	margin: 10px;
}

// Sort composit

.sort_item
  float left
  width 30px
  height 15px
  padding-top 5px
  padding-bottom 10px
  text-align center
  cursor move
  font-size 18pt
  border 2px solid grey
  margin 5px


// Drag Images

.drag_words_block
  width 450px
  min-height 30px
  border 1px solid grey
  margin-top 20px
  margin-left 10px

.hover
  background-color yellow

.active
  border-color blue!important

.word_item
  border 1px solid black
  display inline-block
  padding 5px
  cursor move
  margin 5px
  font 14pt/16pt 'PT Serif'

.drag_grid_block
  width 450px
  margin-top 20px
  margin-left 10px
  border 1px solid grey
  overflow hidden

.grid_item
  width 100px
  height 100px
  margin 5px 5px 5px 5px
  border 1px solid grey
  float left
  background-size 60%
  background-position center
  background-repeat no-repeat


// Drag Grid


.select_grid
  width 450px
  border 1px solid grey
  overflow hidden

.grid_item
  width 100px
  height 100px
  margin 5px 5px 5px 5px
  border 1px solid grey
  float left