.content_block
  overflow hidden
  padding 0
  padding-top 20px

.exercise_column
  width 640px
  float left

.exercise_block
  overflow hidden
  margin-bottom 20px
  padding 10px

.exercise_task
  font 16pt/18pt 'PT Serif'
  font-weight bold
  margin 10px

.exercises_navigator
  width 620px
  overflow hidden
  margin-left 10px
  // outline 1px solid #2e86bd

.items_block
  float left
  .ex_item
    float left
    font-size 24px
    color grey
    margin-right 3px
    &:hover
      cursor pointer
      color black

.steps_block
  float right
  img
    width 30px
    margin-left 5px
    border-radius 30px
    &:hover
      cursor pointer
      background-color #2e86bd

// Image

.image
  .ex_image
    width 600px
    height 350px
    background-size contain
    background-position center
    background-repeat no-repeat

// Text

.text span {
  width: 250px;
}

// Sort composit

.sort_item
  float left
  min-width 30px
  height 15px
  padding-top 5px
  padding-bottom 10px
  text-align center
  cursor move
  font-size 18pt
  border 2px solid grey
  margin-right 10px


// Drag Images

.drag_words_block
  min-height 30px
  border 1px solid grey
  margin-top 10px

.hover
  background-color yellow

.active
  border-color blue!important

.word_item
  border 1px solid black
  display inline-block
  margin 5px
  padding 5px
  cursor move
  font 14pt/16pt 'PT Serif'

.drag_grid_block
  border 1px solid grey
  overflow hidden

.grid_item
  width 142px
  height 142px
  margin 5px
  border 1px solid grey
  float left
  background-size contain
  background-position center
  background-repeat no-repeat


// Drag Grid


.select_grid
  // border 1px solid grey
  overflow hidden
  padding 0px

// Audio

.audio_player
  width 90px
  height 100px
  margin 90px auto
  position relative
  border-radius 100px
  text-align center
  font-size 50px
  line-height 100px
  padding-left 10px
  border 2px solid grey
  color grey
  &:hover
    border 2px solid black
    color black
    cursor pointer

// video

.video_player
  margin-top 5px
  img
    width 30px
    margin-right 5px
    border-radius 30px
    &:hover
      background-color green
      cursor pointer

// questions

.question_item
  font 16pt/18pt 'PT Serif'
  cursor pointer
  &:hover
    color #808080
