.content_block
  overflow hidden

.exercise_column
  width 640px
  float left
  // outline 1px solid red

.exercise_block
  overflow hidden
  margin-bottom 20px
  padding 10px
  // outline 1px solid green

.exercise_task
  font 16pt/18pt 'PT Serif'
  font-weight bold
  margin 10px

// Image

.image img {
	width: 60%;
}

// Text

.text span {
  width: 250px;
}

// Sort composit

.sort_item
  float left
  width 30px
  height 15px
  padding-top 5px
  padding-bottom 10px
  text-align center
  cursor move
  font-size 18pt
  border 2px solid grey
  margin-right 10px


// Drag Images

.drag_words_block
  min-height 30px
  border 1px solid grey
  margin-top 10px

.hover
  background-color yellow

.active
  border-color blue!important

.word_item
  border 1px solid black
  display inline-block
  margin 5px
  padding 5px
  cursor move
  font 14pt/16pt 'PT Serif'

.drag_grid_block
  border 1px solid grey
  overflow hidden

.grid_item
  width 142px
  height 142px
  margin 5px
  border 1px solid grey
  float left
  background-size 60%
  background-position center
  background-repeat no-repeat


// Drag Grid


.select_grid
  border 1px solid grey
  overflow hidden
  padding 0px


// Audio

.audio_player
  width 250px
  height 250px
  background-color yellow