.stat_panel
	overflow hidden
	padding-left 20px
	border-bottom 1px solid black
	padding-top 5px

.stat_list_block
	float left
	margin-right 120px

.list_title
	font-weight bold
	margin-bottom 5px

.list_item
	margin-bottom 5px


.content_block
	margin-top 20px

.stat_course_block
	margin-bottom 50px
	overflow hidden

.lesson_stat_blocks
	margin-left 10px
	float left

.course_title
	margin-left 10px
	font-weight bold
	font-size 18px

.stat_block
	overflow hidden
	margin-bottom 15px

.stat_block_title
	float left
	margin-right 10px

.stat_block_exercises
	overflow hidden

.exercise_item
	float left
	font-size 20px
	margin-right 5px
	color green
	cursor pointer
	&.fail
		color red


.lesson_cal_block
	width 360px
	height 200px
	float right
	position relative

.cal_items
	overflow hidden
	.cal_item
		float left
		margin-right 25px
		&.select
			color red

.cal_chat_block
	border 1px solid black
	margin-top 5px

.chat_body
.chat_input
	span.input
		font-weight bold
		margin-right 10px

.chat_body
	height 200px

.chat_input
	bottom 0
	width 100%
	padding 5px
	border-top 1px solid black
	position absolute
	border-bottom 1px solid black