.content_block
	margin-top 20px

.stat_course_block
	margin-bottom 50px
	overflow hidden

.lesson_stat_blocks
	margin-left 10px

.course_title
	margin-left 10px
	font-weight bold
	font-size 18px

.stat_block
	overflow hidden
	margin-bottom 15px

.stat_block_title
	float left
	margin-right 10px

.stat_block_exercises
	overflow hidden

.exercise_item
	float left
	font-size 20px
	margin-right 5px
	color green
	cursor pointer
	&.fail
		color red