.toggle_lng
	float right
	cursor pointer
	font 16pt/18pt 'PT Serif'
	&:hover
		text-decoration underline

.head_title
	margin-bottom 5px
	letter-spacing 5px

.head_s_title
	margin-bottom 20px

.text_block
	width 650px
	font 13pt/15pt 'PT Serif'
	color #265089

.main_block
	outline none

.content_block
	width 850px
	padding-left 10px
	overflow hidden

.logo_image
	width 550px
	position absolute
	bottom 0
	left 850px

.email_form
	font 13pt/15pt 'PT Serif'
	&.invalid
		outline 2px solid red