ul
	li Вот ваш счёт.
	li Сколько стоит мой завтрак?
	li А…360, но это рубли. У меня только кредитная карта, я могу заплатить?
	li Извините, нет, не можете.
	li Русские деньги, рубли… Но у меня только доллары, я не знаю, что делать…
	li Девушка, нет проблем, я заплачу за его завтрак. Дайте мне мой счёт и его счёт, я заплачу.
	li Нет, Лёва, это твои деньги, я не могу так…
	li Джон, мы друзья, правда? Твой завтрак стоит недорого, я заплачу сейчас, а ты потом.
	li Скажи, Джон, это правда?! У тебя в Москве есть подруга? Мария? Кто она, где ты встретил её?
	li Нет, Лёва, Мария – не моя подруга, Мария – это моя большая проблема.
	li Я хочу рассказать тебе о Марии и о проблеме…
	li О, как интересно! Я слушаю тебя…