div Так, сейчас 4 часа, мы встречаемся в 8 часов, а у нас ещё куча дел.
div Куча? Какая куча? Я не понял, что ты сказал. Что это значит куча дел?
div Куча дел - это значит много дел.
div Ты считаешь, что у нас много дел? Почему?
div Нужно только взять в гостинице чемодан Марии. Правда, я хочу ещё пойти посмотреть Тверской бульвар или Тверскую улицу - не помню название.
div Я читал в путеводителе, что там есть хороший памятник э … как это… русскому композитору. Или поэту? Или писателю? Не помню …
div Почему я всегда всё забываю?!
div Потому что ты очень много раз путеводитель читал, у тебя в голове теперь полная каша!
div Опять я тебя не понимаю - что это такое полная каша? Никогда не слышал.
div А о русской культуре слышал много! Знаменитый русский писатель - это, конечно, Толстой, в Москве есть памятник ему.
div А русский композитор - Чайковский, ему тоже памятник есть. А поэт - наверное, Пушкин, мне русские друзья рассказывали о нём.
div Но кому памятник на Тверской улице - не помню.
div Пушкину!
div Прекрасно! Тогда сегодня я хочу пойти посмотреть памятник Пушкину и сфотографироваться около него. Пошли!