div Сегодня я хочу пойти посмотреть памятник Пушкину и сфотографироваться около него. Пошли!
div Подожди, подожди, у нас мало времени, мы ведь должны ещё пойти в магазин.
div Зачем в магазин, Лёва?
div Как зачем?! Ты, нет, мы собираемся поехать вечером в гости к женщине. Но без подарка и без цветов - это в России просто неприлично!
div Но у меня нет подарка! И я еду не в гости, я еду по делу!
div В России есть традиция: когда человек приглашает тебя домой, ты должен принести ему маленький подарок: цветы, конфеты, шоколад.
div Если это традиция… Хорошо, хорошо, я согласен.
div Когда русский мужчина собирается в гости к женщине, он думает, что купить для неё: сувенир, торт или шоколад. И цветы, конечно.
div Цветы - обязательно! Русские женщины любят сладкое. У нас, на Украине, тоже…
div А водку мы тоже будем покупать?! Знаешь, я читал в путеводителе, что…
div Нет, покупать водку необязательно, цветы обязательно.
div Тогда дай мне совет, какой подарок купить для Марии.
div Здесь недалеко на Тверской улице и на Манежной площади есть хорошие магазины.
div Давай сначала пойдём в магазин и посмотрим, что там продают.