ul
	li Сегодня я хочу пойти посмотреть памятник Пушкину и сфотографироваться около него. Пошли!
	li Подожди, подожди, у нас мало времени, мы ведь должны ещё пойти в магазин.
	li Зачем в магазин, Лёва?
	li Как зачем?! Ты, нет, мы собираемся поехать вечером в гости к женщине. Но без подарка и без цветов - это в России просто неприлично!
	li Но у меня нет подарка! И я еду не в гости, я еду по делу!
	li В России есть традиция: когда человек приглашает тебя домой, ты должен принести ему маленький подарок: цветы, конфеты, шоколад.
	li Если это традиция… Хорошо, хорошо, я согласен.
	li Когда русский мужчина собирается в гости к женщине, он думает, что купить для неё: сувенир, торт или шоколад. И цветы, конечно.
	li Цветы - обязательно! Русские женщины любят сладкое. У нас, на Украине, тоже…
	li А водку мы тоже будем покупать?! Знаешь, я читал в путеводителе, что…
	li Нет, покупать водку необязательно, цветы обязательно.
	li Тогда дай мне совет, какой подарок купить для Марии.
	li Здесь недалеко на Тверской улице и на Манежной площади есть хорошие магазины.
	li Давай сначала пойдём в магазин и посмотрим, что там продают.