h2 NEGATION IN RUSSIAN
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s2t3.gif')
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s2t4.gif')
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s2t5.gif')
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s2t6.gif')
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s2t7.gif')