h2  Complex sentence with the words "ПОЭТОМУ" (that's why) и "ПОТОМУ ЧТО" (because)
p
table
	tr
		td
			p
				b причина
				|  Я люблю икру.
		td
			p
				b следствие
				|  Я ем икру
	tr
		td This is a cause.
		td 2. Here is an effect.
	tr
		td
			img(src='/images/' + course + '/grammar/lesson04/ls4s2t8.jpg')
		td
			img(src='/images/' + course + '/grammar/lesson04/ls4s2t9.jpg')
| Я люблю икру,
b поэтому
|  я ем икру.
p
br
br
br
table
	tr
		td 1. This is an effect.
		td 2. Here is a cause.
	tr
		td
			img(src='/images/' + course + '/grammar/lesson04/ls4s2t9.jpg')
		td
			img(src='/images/' + course + '/grammar/lesson04/ls4s2t8.jpg')
| Я ем икру,
b потому что
|  я люблю икру.
br
br
p
	b Почему
	|  я часто ем икру? –
	b Потому что
	|  я люблю её.