h2 Conjunctions
h3 and
p Это моя сумка и мой чемодан.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t10.jpg')
h3 or
p Что я хочу? Чемодан или сумку?
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t11.jpg')
h3 but
p Это его багаж: большой чемодан и маленький чемодан.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t12.jpg')
p Чемодан слева маленький, а чемодан справа -  большой.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t15.jpg')
p Виктор и Анна – пассажиры.
p У него есть чемодан, а у неё нет чемодана.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t16.jpg')
p Это мои родители, они сейчас отдыхают.
p Папа любит готовить, а мама любит смотреть телевизор.
h3 but
p Этот чемодан большой, но некрасивый.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t13.jpg')
p Сумка красивая, но маленькая.
p
	img(src='/images/' + course + '/grammar/lesson03/ls3s2t14.jpg')