h2 Ordinal Numerals.
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t7.jpg')
p The first place!
p
	| Just as adjectives, ordinal numerals have to agree with nouns in gender, number and case.
p
	img(src='/images/' + course + '/grammar/lesson04/ls4s2t6.gif')
p