div Можно меню?
div Одну минуту, пожалуйста.
div Закуски…Что такое закуски?
div А, я знаю, закуски - это салаты, икра и блины, омлет, бутерброды…
div Понимаю, омлет мне не нравится, бутерброды я тоже не люблю.
div Первые блюда: борщ, суп-лапша, овощной суп.
div Нет, я не понимаю, что такое борщ. И суп я ещё не хочу.
div Вторые блюда: рыба, котлета, пельмени… Нет, я тоже не хочу…
div Что вы хотите заказать?
div Пожалуйста, я хочу салат овощной, апельсиновый сок.
div Мне нравится красная икра, поэтому дайте ещё икру и блины.
div А что такое кекс Столичный?
div Кекс Столичный - это вкусный десерт. На завтрак очень хорошо.
div Тогда мне на десерт кекс столичный и кофе «Эспрессо».
div Не хотите еще воду?
div Конечно, у вас есть холодная вода без газа?
div Да, конечно, у нас есть вода «Бонаква», хотите?
div Да, дайте одну бутылку воды…
div Теперь надо думать, что делать... Где Мария? Где мой чемодан?