extends ../../index.jade

block vars
	- var task = 'Listen, repeat, read:'
	- var items = 8

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['Э́то курица.', 'Э́то то́же ку́рица, э́то жа́ренная ку́рица.', 'Э́то карто́фель.', 'Э́то то́же карто́фель, э́то жа́ренный карто́фель.', 'вку́сное мя́со', 'све́жие фру́кты', 'све́жие о́вощи', 'бе́лый ри́с']
			include ../../types/text.jade
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../types/audio.jade
