extends ../../index.jade

block vars
	- var task = 'Compose a sentence from separate words:'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var sortable = [['Нам', 'нравится', 'жареная', 'курица.'], ['Наши', 'овощи', 'и', 'фрукты', 'очень', 'вкусные.'], ['Твой', 'завтрак', 'на', 'столе.'], ['Дети', 'хотят', 'картошку', 'на', 'обед.'], ['Что', 'ты', 'делаешь', 'в', 'Москве?'], ['Кто', 'хочет', 'холодную', 'воду?']]
			include ../../types/sort.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../types/audio.jade
