h2 ACCUSATIVE CASE
p
	| A noun or pronoun in the Accusative case indicates a direct object. Verbs "читать" (to read), "понимать" (to understand), "to know" (знать), "любить" (to love or like) will be followed by the noun or pronoun in the Accusative case. Nouns or pronouns in the Accusative case answer the question: "what?" or "whom?"
p
	| The question "what?"  is asked when the inanimate noun serves as an object, and the question "whom?" refers to an object that is either a human being or an animal.
ul
	li – Что ты хо́чешь?
	li – Я хочу́ сала́т.
ul
	li – Кого́ ты зна́ешь?
	li – Я зна́ю А́нну.
p
	img(src='/images/grammar/lesson04/ls4s1t6.gif')
p
	| For inanimate masculine nouns, as well as neuter nouns, the Accusative case endings coincide with the Nominative case endings:
p Masculine nouns
p
	img(src='/images/grammar/lesson04/ls4s1t7.gif')
p Neuter nouns:
p
	img(src='/images/grammar/lesson04/ls4s1t8.gif')
p
	| However, for feminine nouns both animate and inanimate the Accusative case endings will be different:
p
	img(src='/images/grammar/lesson04/ls4s1t9.gif')
p
	img(src='/images/grammar/lesson04/ls4s1t10.gif')
p
	b Please, note!
	|  For masculine and feminine nouns which end in "–Ь", the Accusative case endings stay the same.
p
	| To find out how animate masculine noun endings change in the Accusative case, see Lesson 5.
p Personal pronouns in the Accusative case have special forms.
p
	img(src='/images/grammar/lesson04/ls4s1t11.gif')
p Compare:
p
	img(src='/images/grammar/lesson04/ls4s1t12.gif')
