h2 DATIVE CASE
p
	| In a sentence the Dative case often indicates an indirect object: a person or object to whom the action is directed.
ul
	li Позвони мне!
	li Скажи мне!
	li Дай мне!
p In the Dative case nouns and pronouns answer the questions: To whom? To what?
p
	img(src='/images/grammar/lesson04/ls4s1t1.gif')
h2 I LIKE
p
	| The construction "Мне нравится… " (I like) or "Мне не нравится…" (I don’t like) is used to express the speaker's attitude toward an object or action. In this construction a logical subject is expressed by a noun or pronoun in the Dative case while an object is expressed by a noun or pronoun in the Nominative case.
p
	img(src='/images/grammar/lesson04/ls4s1t2.gif')
p Consider the sentence structure in the following examples:
p
	img(src='/images/grammar/lesson04/ls4s1t3.gif')
p
	img(src='/images/grammar/lesson04/ls4s1t4.gif')
p
	b Attention!
	| The verb form has to agree with the noun in the Nominative case.
p
	img(src='/images/grammar/lesson04/ls4s1t5.gif')
p Let's see how you can ask and answer such questions:
ul
	li – Тебе́ нра́вятся блины́?
	li – Да. // Да, нра́вятся. // Да, мне нра́вятся блины́.
ul
	li – Вам нра́вится омле́т?
	li – Нет. // Нет, не нра́вится. // Нет, мне не нра́вится омле́т.
p
	| To convey an attitude to an action using the construction with the verb "нравиться" (to like), follow the verb "нравиться" (in the form
	i нравится
	| ) with the infinitive form of the verb which indicates the action itself:
ul
	li Мне нра́вится чи́тать.
	li Тебе́ нра́вится обе́дать здесь?
	li Ему не нра́вится пить во́ду.
