h2 NOUNS
h3 NOUNS: GENDER
p
	| There are three  genders in Russian: masculine (he), feminine (she) and neuter (it).  Usually, one can determine the noun gender by the noun ending.
p
	img(src='/images/' + course + '/grammar/lesson01/ls1s1t1.gif')