h2 НАРЕЧИЕ
p
	| Когда мы хотим охарактеризовать действие или описать состояние, мы обычно используем
	b наречия
	| .
	| Наречие – это такая часть речи в русском языке, которая никогда не меняет свою форму.
p
	| Когда мы говорим о том,
	b где
	|  происходило действие, мы используем наречия, которые отвечают на вопрос
	b
		i  где?
	| . Это наречия места.
img(src='/time_new/images/grammar/lesson02/gde.gif')
ul
	li
		i
			| Номер
			b  справа.
	li
		i
			| Лифт там,
			b  слева.
	li
		i
			| Ресторан
			b  внизу.
p
	| Когда мы хотим сказать,
	b когда
	|  происходило действие, то используем наречия, которые отвечают на вопрос
	b
		i когда?
	| . Это наречия времени.
img(src='/time_new/images/grammar/lesson02/kogda.gif')
ul
	li
		i
			| Завтрак
			b  утром,
			| обед
			b  днём,
			| ужин
			b  вечером.
p
	| Когда мы хотим сказать о том,
	b какого качества
	|  было действие или состояние, то используем наречия, которые отвечают на вопрос
	b
		i как?
	| . Это наречия образа действия.
img(src='/time_new/images/grammar/lesson02/kak.gif')
ul
	li
		i
			| Летом
			b  жарко
			| ,зимой
			b  холодно
			| .
	li
		i
			| Это
			b  хорошо
			| .
	li
		i
			| В ресторане
			b  очень дорого
			| .
p
	| Наречия чаще всего употребляются с глаголами, обозначающими состояние или действие, с прилагательными и другими наречиями. Наречие ставится перед этими словами и обозначает степень интенсивности действия, интенсивность состояния или степень качества.
p
	img(src='/time_new/images/grammar/lesson02/1.gif')
p
	img(src='/time_new/images/grammar/lesson02/2.gif')
p
	img(src='/time_new/images/grammar/lesson02/3.gif')
p Встречаются наречия и в предложениях с конструкцией со словом ЭТО
ul
	li
		i
			| Сериал
			b
				| –
				span это скучно!
	li
		i
			| Детектив
			b
				| –
				span это интересно.
p
	| Когда мы хотим описать состояние мира, природы вокруг нас, мы используем безличные предложения (где нет активного субъекта) с наречиями. В таких предложениях всегда есть указание на время или место. Обычно в начале подобного предложения стоит информация о том,
	b где
	|  или
	b когда
	|  имеет место событие, в конце – информация о том, каково его качество – вопрос
	b как
	| .
img(src='/time_new/images/grammar/lesson02/4.gif')
p
	| Особенностью русского языка по сравнению с большинством европейских является то, что в структуре предложений, описывающих состояние мира вокруг, в настоящем времени не используется глагол
	b
		i быть
	| . В прошедшем и будущем времени соответствующие формы этого глагола обязательно присутствуют:
ul
	li
		i Сегодня жарко.
	li
		i
			| Вчера
			b было
			|  жарко.
	li
		i
			| Завтра тоже
			b будет
			|  жарко.
p
	b
		i Запомните!
	|  Обычно наиболее важную (новую) информацию помещают в конце предложения, сравните:
ul
	li
		i
			| Завтрак
			b утром
		|  (не днём и не вечером).
	li
		i
			| Утром
			b завтрак
		|  (не обед и не ужин).