h2 ADVERBS
p
  | We use adverbs to indicate where, when and how the action takes place. The adverbs are invariant (they are never modified).
p
  img(src='/images/grammar/lesson02/gde.gif')
p
  img(src='/images/grammar/lesson02/ls2s1t1.jpg')
p
  img(src='/images/grammar/lesson02/ls2s1t2.jpg')
p
  img(src='/images/grammar/lesson02/ls2s1t3.jpg')
p
  img(src='/images/grammar/lesson02/ls2s1t4.jpg')
p
  img(src='/images/grammar/lesson02/ls2s1t5.jpg')
p
  img(src='/images/grammar/lesson02/kogda.gif')
p
  img(src='/images/grammar/lesson02/ls2s1t6.gif')
p
  | 4:00 - 12:00 - morning.
  br
  | Когда́ за́втрак? За́втрак у́тром.
p
  | 12:00  -16:00 - afternoon
  br
  | Днём рабо́та и обе́д.
p
  | 16:00 - 23:00 - evening
  br
  | Ве́чером теа́тр или конце́рт. У́жин то́же ве́чером.
p
  | 23:00 -4:00 - night
  br
  | Когда́ о́тдых? О́тдых но́чью.
p
  img(src='/images/grammar/lesson02/ls2s1t7.gif')
p
  | Когда́ хо́лодно? – Зимо́й хо́лодно.
  br
  | Когда́ снег? – Снег зимо́й.
  br
  | Когда́ жарко? – Ле́том жа́рко.
  br
  | Когда́ дождь? – Дождь о́сенью.
  br
  | Когда́ тепло́? – Весно́й тепло́.
p
  img(src='/images/grammar/lesson02/kak.gif')