h2 Обозначение национальностей в русском языке
img(src='/time_new/images/grammar/lesson02/nationality.gif')
p
	| В русском языке есть специальные слова для обозначения национальности. Для обозначения
	| национальностей лиц мужского и женского пола существуют разные существительные, соответственно,
	| мужского и женского рода. Для обозначения нескольких людей одной национальности существует
	| особая форма множественного числа.
p
	| Посмотрите на таблицу: существительные мужского рода, как правило, образуются с помощью суффиксов
	i -ец
	|  (
	i
		| канад
		b ец
	| ),
	i -ан+-ец
	|  (
	i
		| америк
		b анец
	| ),
	| реже с помощью суффикса
	i  анин
	|  (
	i
		| англич
		b анин
	| ).
	| Некоторые существительные мужского рода имеют особые формы:
	i
		| франц
		b уз
	| ,
	i турок, грек.
	| Исключением является и форма
	i русский (русская, русские)
	| .
	i Русский –
	|  это форма прилагательного, а не существительного.
p
	| Существительные женского рода, как правило, оканчиваются на
	i -ка
	|  (
	i
		| канад
		b ка
	| ),
	i -анка
	|  (
	i
		| америк
		b анка
	| ) или
	i -янка
	|  (
	i
		| кита
		b янка
	| ), однако есть и исключения:
	i
		| франц
		b уженка
	| .
p
	| Множественное число образуется по правилам образования множественного числа существительных.
p
	| Если существительное мужского рода заканчивается на
	i -ец
	|  (
	i
		| канад
		b ец
	| ) или
	i -анец
	| (
	i
		| америк
		b анец
	| ), то соответствующее существительное во множественном числе будет заканчиваться на
	i -цы
	| (
	i
		| канад
		b цы
	| ) или
	i -анцы
	|  (
	i
		| америк
		b анцы
	| ). Множественное число существительных типа
	i француз
	| ,
	i грек
	|  образуется по общему правилу путем добавления окончания
	i -ы
	|  или
	i -и
	| :
	i
		| француз
		b ы
	| ,
	i
		| грек
		b и
	| . Обратите внимание на форму
	i
		| тур
		b ок
	|  –
	i
		| турк
		b и
	| .
	| Особую форму множественного числа имеют существительные мужского рода на –
	i анин:
	| формы множественного  числа оканчиваются на
	i –ане:
	i
		| англич
		b анин
	|  –
	i
		| англич
		b ане
	| .
p
	| Как вы заметили, в русском языке существует много способов образования форм существительных,
	| обозначающих национальности. Самое главное, что необходимо запомнить: для обозначения
	| национальности человека используется не прилагательное, а специальное существительное.
	| Особые формы существительных, обозначающих национальности, следует выучить наизусть.