.exercise_block(class='drag_items')
	.drag_grid_block
		.grid_item(style='background-image: url(/images/exercises/drag/01.jpg)', position='1')
		.grid_item(style='background-image: url(/images/exercises/drag/02.jpg);', position='2')
		.grid_item(style='background-image: url(/images/exercises/drag/03.jpg);', position='3')
		.grid_item(style='background-image: url(/images/exercises/drag/04.jpg);', position='4')
		.grid_item(style='background-image: url(/images/exercises/drag/05.jpg);', position='5')
		.grid_item(style='background-image: url(/images/exercises/drag/06.jpg);', position='6')
		.grid_item(style='background-image: url(/images/exercises/drag/07.jpg);', position='7')
		.grid_item(style='background-image: url(/images/exercises/drag/08.jpg);', position='8')
	.drag_words_block
		.word_item(position='1') аэропорт
		.word_item(position='2') музыкант
		.word_item(position='3') паспорт
		.word_item(position='4') виза
		.word_item(position='5') телефон
		.word_item(position='6') турист
		.word_item(position='7') студент
		.word_item(position='8') ключ