.exercise_block(class='drag_items')
	.drag_grid_block
		.grid_item(style='background-image: url(images/vega/food1.png);', position='1')
		.grid_item(style='background-image: url(images/vega/food2.png);', position='2')
		.grid_item(style='background-image: url(images/vega/food3.png);', position='3')
		.grid_item(style='background-image: url(images/vega/food4.png);', position='4')
		.grid_item(style='background-image: url(images/vega/food5.png);', position='5')
		.grid_item(style='background-image: url(images/vega/food6.png);', position='6')
		.grid_item(style='background-image: url(images/vega/food7.png);', position='7')
		.grid_item(style='background-image: url(images/vega/food8.png);', position='8')
	.drag_words_block
		.word_item(position='1') перец
		.word_item(position='2') морковь
		.word_item(position='3') виноград
		.word_item(position='4') яблоко
		.word_item(position='5') кукуруза
		.word_item(position='6') баклажан
		.word_item(position='7') помидор
		.word_item(position='8') окорочок