.exercise_block(class='drag_items')
	.drag_grid_block
		.grid_item(style='background-image: url(/images/exercises/drag/01.png)', position='1')
		.grid_item(style='background-image: url(/images/exercises/drag/02.png);', position='2')
		.grid_item(style='background-image: url(/images/exercises/drag/03.png);', position='3')
		.grid_item(style='background-image: url(/images/exercises/drag/04.png);', position='4')
		.grid_item(style='background-image: url(/images/exercises/drag/05.png);', position='5')
		.grid_item(style='background-image: url(/images/exercises/drag/06.png);', position='6')
		.grid_item(style='background-image: url(/images/exercises/drag/07.png);', position='7')
		.grid_item(style='background-image: url(/images/exercises/drag/08.png);', position='8')
	.drag_words_block
		.word_item(position='1') аэропорт
		.word_item(position='2') музыкант
		.word_item(position='3') паспорт
		.word_item(position='4') виза
		.word_item(position='5') телефон
		.word_item(position='6') турист
		.word_item(position='7') студент
		.word_item(position='8') ключ