.exercise_block(class='drag_items')
	.drag_grid_block
		each word, i in words
			- var z_word = ('0' + (i+1)).slice(-2)
			.grid_item(style='background-image: url(' + path + '/' + z_word + '.png)', position=word.position)
	.drag_words_block
		each word in words.sort(function() { return .5 - Math.random(); })
			.word_item(position=word.position)= word.word