- var item = 1

.exercise_block(class='select_grid')
	while item <= items
		- var z_item = ('0' + item).slice(-2)
		.grid_item(style='background-image: url(' + path + z_item + '.png)', answer=(item == current) && 'true')
		- item++