.exercise_block(class='select_grid')
	.grid_item(style='background-image: url(/images/exercises/drag/01.jpg)', position='1', answer='true')
	.grid_item(style='background-image: url(/images/exercises/drag/02.jpg);', position='2')
	.grid_item(style='background-image: url(/images/exercises/drag/03.jpg);', position='3')
	.grid_item(style='background-image: url(/images/exercises/drag/04.jpg);', position='4', answer='true')
	.grid_item(style='background-image: url(/images/exercises/drag/05.jpg);', position='5')
	.grid_item(style='background-image: url(/images/exercises/drag/06.jpg);', position='6')
	.grid_item(style='background-image: url(/images/exercises/drag/07.jpg);', position='7')
	.grid_item(style='background-image: url(/images/exercises/drag/08.jpg);', position='8')