- var sort_items = sortable[select - 1]
- var items_random = sort_items.slice(0, sort_items.length).sort(function() { return .5 - Math.random(); })

.exercise_block(class='sort_items')
	each item in items_random
		.sort_item(position=(sort_items.indexOf(item) + 1))= item