.exercise_block(class='text')
	div Докуме́нты.
	div Па́спорт тут.
	div Биле́т тут.
	div Ключ тут.
	div Ка́рта тут.
	div Де́ньги тут.
	div Телефо́н тут.
	div Очки́ тут.
	div Что э́то?
	div А, э́то журна́л и кни́га.
	div Они́ тут.
	div Что э́то?
	div А, э́то газе́та!
	div Газе́та тут.
	div Я́блоко?
	div Я́блоко тоже тут.
	div Компью́тер?
	div Где компью́тер?
	div А, вот компью́тер.
	div Хорошо́.