.exercise_block(class='text')
	div Содержание диалога
	ul
		li Докуме́нты
		li Па́спорт тут.
		li Биле́т тут.
		li Ключ тут.
		li Ка́рта тут.
		li Де́ньги тут.
		li Телефо́н тут.
		li Очки́ тут.
		li Что э́то?
		li А, э́то журна́л и кни́га.
		li Они́ тут.
		li Что э́то?
		li А, э́то газе́та!
		li Газе́та тут.
		li Я́блоко?
		li Я́блоко тоже тут.
		li Компью́тер?
		li Где компью́тер?
		li А, вот компью́тер.
		li Хорошо́.