.exercise_block(class='video')
	video(width='400' height='320', autoplay=true, controls=false)
		source(src='/video/01.mp4', type='video/mp4')
		span Ваш браузер не пожжерживает тег video!
	.video_player
		img.player_stop(src='/images/design/icons/player_stop.png')
		img.player_play(src='/images/design/icons/player_play_pause.png')