extends ../../index.jade

block vars
	- var task = 'Выберите правильное выражение:'
	- var items = 6

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../types/audio.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			- var questions = [{'qs': ['Я тебя слышу хорошо.', 'Я ничего не слышу.'], 'answer': 0}, {'qs': ['Сейчас я в ресторане.', 'Вчера я был в ресторане.'], 'answer': 0}, {'qs': ['Я рада, что ты дома.', 'Я рада, что всё в порядке.'], 'answer': 1}, {'qs': ['Проспекты широкие, улицы узкие.', 'Проспекты широкие, дома высокие.'], 'answer': 1}, {'qs': ['Мой новый знакомый.', 'Моя новая знакомая.'], 'answer': 0}, {'qs': ['Позвоню тебе вечером.', 'Позвонил тебе вчера.'], 'answer': 0}]
			include ../../types/question_mute.jade