p Россия — огромная страна. Здесь есть горы, моря, реки, озёра. На юге - Чёрное море, Азовское море, Каспийское море, на севере - Белое море.

img(src='/images/reading/l1/b2/exs1/01.jpg')

p На востоке — Тихий океан.

p Эта часть — Европа, здесь широкие большие реки: Волга, Нева, Кама, и очень большие города: Москва, Санкт - Петербург, Казань, Нижний Новгород.

img(src='/images/reading/l1/b2/exs1/02.jpg')

p А вот регион, где Кавказские горы. Кавказ - молодые, высокие горы. Здесь города Сочи и Краснодар.

img(src='/images/reading/l1/b2/exs1/03.jpg')

p Эта часть - Азия. Здесь тоже есть горы, это не очень высокие старые горы Алтай, Урал. А это всё - Сибирь. Сибирь — очень богатая территория. Там тоже есть города, где высокая наука и прекрасная культура. Но там есть и дикая природа, животные и птицы, там тёмная тайга и светлая тундра...

img(src='/images/reading/l1/b2/exs1/04.jpg')