extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Вставьте пропущенное слово.
						ol
							li!= item('Мой друг Вадим {list:русский|русское|русские|Россия}. Его жена тоже {list:русская|русское|русские|Россия}. Их страна -  {list:Россия|русское|русские|русская}')
							li!= item('Вот Джек, он {list:англичанин|англичанка|англичане|Англия}. Его страна - {list:Англия|англичанка|англичане|англичанин}. Его родители {list:англичане|англичанка|англичанин|Англия}.')
							li!= item('Клавдия и Клаус  - {list:немцы|немка|немец|Германия}, их друзья тоже {list:немцы|немка{list:немец|Германия}. Их страна - {list:Германия|немка|немцы|немец}.')