extends ../../../index.jade

block vars
	- var task = 'Dialogue'
	- var items = 2

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/video/' + course + '/' + ex_path + '/' + ('0' + select).slice(-2) + '.mp4'
			include ../../../types/video.jade

	.exercise_column
		.exercise_blocks_block
			if (select == 1)
				include ../../../../text/speak_russian/exercises/l2/b1/exs7/01.jade
			if (select == 2)
				include ../../../../text/speak_russian/exercises/l2/b1/exs7/02.jade