h2
  | Modal words: рад (glad), уверен (sure), должен (have to), готов (ready), надо / нужно (need)
p
  | To convey an attitude to an action or event being talked about, a speaker can use special words: "должен", "рад", "уверен", "готов", "надо/нужно".
p
  | The words  "рад", "уверен", "готов"  are short forms of adjectives. Thus, they agree with nouns or pronouns in gender and number.
p
  img(src='/images/' + course + '/grammar/lesson05/ls5s2t1.gif')
p Consider the sentence structure in the following examples:
p
  img(src='/images/' + course + '/grammar/lesson05/ls5s2t2.gif')
p For example:
ul
  li "Антон рад видеть Анну в Москве". - "Anton is glad to see Anna in Moscow."
  li
    | "Подруга должна заплатить за квартиру".- "My girl friend has to pay for the apartment".
  li "Студенты готовы писать тест". - "The students are ready to write a text."
p
  b BUT!
p
  img(src='/images/' + course + '/grammar/lesson05/ls5s2t3.gif')
p Я уверен, что видел этот фильм.
p
  b Please, remember!
p
  img(src='/images/' + course + '/grammar/lesson05/ls5s2t4.gif')
ul
  li Мне надо позвонить домой.
  li Тебе нужно заплатить за завтрак.
  li Вам нужно поменять деньги.

