h2  Adjectives
p
  | Adjectives are words that describe objects, i.e. indicate objects’ characteristics and attributes. The adjective answers a question: “«какой?» /”What kind?” or “Which one?” (see below). An adjective’s grammar form is always identical to that of a noun it characterizes, in other words, the adjective always has the same gender, number and case, as the noun:
| красив
b ый
|  дом
br
| красив
b ая
|  девушк
b а
br
| красив
b ое
|  дерев
b о
br
| красив
b ые
|  цвет
b ы
p  Pay attention to the endings of the nouns and adjectives in the table:
p
  img(src='/images/' + course + '/grammar/lesson03/tab1.jpg', width='95%')
p
  | A Russian adjective follows either a “hard” or “soft” conjugation pattern – it means that one should pay attention to which consonant - hard or soft – precedes the adjective’s ending: e.g.in “новый” – [в] is a hard consonant, so the ending will be “- ый”, while in "синий” -  [н’] is a soft consonant, thus, the ending is «ий».
  | . The following are the “hard” conjugation pattern endings: но́вый, но́вая, но́вое, но́выеThe following are the “soft” conjugation pattern endings: си́ний, си́няя, си́нее, си́ниеHowever, it is important to remember that in a stressed position masculine adjectives that follow the “hard” conjugation pattern will end in «ОЙ» instead of «ЫЙ»: голубо́й, молодо́й и т.д.The “soft” conjugation pattern adjectives have to be memorized, as they reflect linguistic evolution. In most cases, these are nouns that end in -ний: си́ний, ле́тний, зи́мний, вчера́шний, etc.
