ul
	li Комната большая, хорошая.
	li Кровать удобная.
	li Где здесь шкаф?
	li А, вот он – тоже большой и удобный.
	li Телефон на столе, телевизор – в углу.
	li Да, обычный номер…
	li Мини-бар у меня есть?
	li Да, вот он, в столе.
	li Так, что у меня в мини-баре?
	li Наверное, русский напиток…
	li Да, «Квас» -русский напиток, я знаю.