div Снег. Зи́ма. Хо́лодно.
div Нет, нет, не хо́лодно. Норма́льно.
div Почему́ не хо́лодно?
div Сейча́с зима́, э́то норма́льно.
div Я - кана́дец.
div Иностра́нец? Не мо́жет быть.
div Пра́вда. Пра́вда.
div Вот мой па́спорт. Вот моя́ ви́за.
div Вот моя́ страна́ - Кана́да.
div Как Вас зову́т?
div Меня́ зову́т Джон Де́йсон.
div Моё и́мя Джон.
div Моя́ фами́лия Де́йсон.
div А я Ива́н. Меня́ зову́т Ива́н Васи́льевич.
div Фами́лия Петро́в.
div Вы, мо́жет быть, банки́р?
div Почему́ банки́р?
div Нет, я не банки́р, я музыка́нт.
div Но здесь я тури́ст.
div Вот моя́ визи́тка.
div Спаси́бо. Здесь есть ваш телефо́н?
div Коне́чно, вот здесь мой телефо́н:
div во́семь
div де́вять
div оди́н
div пять
div четы́ре
div пять пять
div шесть три
div два
div три
div семь
div Вот ва́ша гости́ница «Ко́смос». Всего́ хоро́шего!
div Спаси́бо большо́е. До свида́ния!