div Спасибо, заходите, знакомьтесь, здесь мои близкие друзья.
div Это Олег, он из Самары, но сейчас живёт и работает менеджером в компании МТС.
div Вот Наташа, она ещё студентка, учится в университете, она будет переводчиком.
div Рада познакомиться!
div Вот её друг Серёжа, тоже студент, но мечтает стать актёром. А это…
div Это он, наконец, мой чемодан!
div …это мой близкий друг Николай. Николай приехал из Киева в Москву недавно.
div Он теперь здесь учится и активно ищет хорошую работу. Николай очень умный и весёлый, в Москве Николая уже все знают.
div Да, это, правда, Николай очень активный. Мне кажется, что даже я его знаю очень хорошо.
div Папа, а ты что здесь делаешь?! Почему ты не дома, в Киеве?
div Что случилось с мамой? Когда ты мне звонил, почему не рассказал, что едешь в Москву?
div Спокойно, Коля, всё нормально. Но мама волнуется, как ты здесь живёшь один.
div Когда ты нам звонил домой, ты мало рассказывал о своей жизни в Москве.
div Поэтому мы с мамой посоветовались и решили, что мне надо посмотреть, как идут твои дела.
div Поэтому я купил билет и приехал в Москву. Я хотел сделать тебе сюрприз.
div Видишь, мои дела идут прекрасно! Я учусь хорошо, ищу работу, но я уже нашёл самое главное в моей жизни, я нашёл Юлю!
div Да, это настоящий сюрприз! Юля, чем вы занимаетесь - вы работаете или учитесь?
div Я ещё студентка, учусь в Москве в Консерватории…