ul
	li Спасибо, заходите, знакомьтесь, здесь мои близкие друзья.
	li Это Олег, он из Самары, но сейчас живёт и работает менеджером в компании МТС.
	li Вот Наташа, она ещё студентка, учится в университете, она будет переводчиком.
	li Рада познакомиться!
	li Вот её друг Серёжа, тоже студент, но мечтает стать актёром. А это…
	li Это он, наконец, мой чемодан!
	li …это мой близкий друг Николай. Николай приехал из Киева в Москву недавно.
	li Он теперь здесь учится и активно ищет хорошую работу. Николай очень умный и весёлый, в Москве Николая уже все знают.
	li Да, это, правда, Николай очень активный. Мне кажется, что даже я его знаю очень хорошо.
	li Папа, а ты что здесь делаешь?! Почему ты не дома, в Киеве?
	li Что случилось с мамой? Когда ты мне звонил, почему не рассказал, что едешь в Москву?
	li Спокойно, Коля, всё нормально. Но мама волнуется, как ты здесь живёшь один.
	li Когда ты нам звонил домой, ты мало рассказывал о своей жизни в Москве.
	li Поэтому мы с мамой посоветовались и решили, что мне надо посмотреть, как идут твои дела.
	li Поэтому я купил билет и приехал в Москву. Я хотел сделать тебе сюрприз.
	li Видишь, мои дела идут прекрасно! Я учусь хорошо, ищу работу, но я уже нашёл самое главное в моей жизни, я нашёл Юлю!
	li Да, это настоящий сюрприз! Юля, чем вы занимаетесь - вы работаете или учитесь?
	li Я ещё студентка, учусь в Москве в Консерватории…