h2 Выражение отрицания в русском языке.
p
	| При отрицательном ответе на вопрос без специального вопросительного слова в русском языке нужно использовать ДВА слова: «НЕТ» и «НЕ». Сначала нужно сказать «НЕТ», а потом повторить частицу «НЕ» непосредственно перед отрицанием.
p
	| Например: ЭТО
	b КЛЮЧ
	| ?
	b НЕТ
	| , ЭТО
	b НЕ
	|  КЛЮЧ.
ul
	li
		| БАГАЖ
		b ТУТ
		| ?
		b НЕТ
		| , БАГАЖ
		b НЕ
		|  ТУТ.
	li
		| ВЫ
		b СТУДЕНТ
		| ?
		b НЕТ
		| , Я
		b НЕ
		|  СТУДЕНТ.
	li
		| ОНА
		b МЕНЕДЖЕР
		| ?
		b НЕТ
		| , ОНА
		b НЕ
		|  МЕНЕДЖЕР.
h3 Внимание!
p
	| В вопросе и ответе важную роль играет интонация. В вопросе вы делаете акцент на самом важном для вас слове – на этом слове повышается и интонация.
p
	| При ответе негативная частица «не» и следующее слово произносятся вместе как одно фонетическое слово. На «не» обычно ударения не бывает.
ul
	li «не тут» - [ нитут]
	li «не она» - [ ниана]
p В зависимости от смысла вопроса,  «не» может стоять перед:
dl
	dt Существительным:
	dd
		| Это стол?  -   Нет,
		b не
		|  стол.
	dt Наречием:
	dd
		| Дом там?  -   Нет,
		b не
		|  там.
	dt Глаголом:
	dd
		| Ты знаешь? -  Нет,
		b не
		|  знаю.
	dt Прилагательным:
	dd
		| Дом большой? –  Нет,
		b не
		|  большой.