h2 ПРОФЕССИИ. Образование существительных женского рода
table(style='width:100%; text-align: center;')
	tr
		td
			img(width='160', src='/time_new/images/grammar/lesson01/student.jpg')
		td
			img(width='160', src='/time_new/images/grammar/lesson01/student1.jpg')
	tr
		td Это студент.
		td Это студенка.
	p
		| От существительных мужского
		| рода, обозначающих профессию, при помощи
		| суффикса «-К-» можно образовать существительные
		| женского рода, обозначающие лиц женского
		| пола. Конечно, слово также приобретает
		| окончание женского рода.
	p
		div(align='left')
			table(border='0', cellspacing='0', width='0')
				tbody
					tr(valign='top')
						td(height='25', width='50%') он
						td(width='49%') она
					tr(valign='top')
						td(height='26') студент
						td
							| студент
							font(color='#1e561e') к
							| а
					tr(valign='top')
						td(height='26') журналист
						td
							| журналист
							font(color='#1e561e') к
							| а
					tr(valign='top')
						td(height='26') турист
						td
							| турист
							font(color='#1e561e') к
							| а
	p
		| Например: 
		br
	p
		| Он
		| студент. – Она студентка.
	p
		| Он
		| журналист. – Она журналистка. 
		br
	p
		| Но есть в русском языке
		| группа слов, обозначающих профессию,
		| форма которых не меняется в зависимости
		| от пола человека. Например: 
		br
	p(align='justify')
		| Он
		| менеджер. – Она менеджер.
	p
		| Он инженер.
		| – Она инженер.
	p
		| Он доктор.
		| – Она доктор.
	p
		| Он музыкант.
		| – Она музыкант. 
		br
		br
