h1 VERBAL ASPECTS (CONTINUED).
h2
	| Using imperfective verbs to express that an action is, indeed, taking place and that it is a process .
p
	| When we want to indicate that an action is/was taking place for a specific time period, we always use imperfective verbs and additional words to indicate the action duration. For example: долго (for a long time), недолго (for a short time), пять минут (for five minutes), целый год (the whole year) etc. Word combinations that indicate duration must be put in the Accusative case (4).
p
	| Вчера я работал весь вечер.
	br
	| Ты говоришь по телефону два часа!
img(src='/images/' + course + '/grammar/lesson08/proc.jpg')
p
	| When it is important for us only to establish that a certain action took place (or did not take place), we have to use the imperfective verbs.
p – Марта читала русскую литературу?
p
	| – Да, Марта читала романы Льва  Толстого. (Ответ положительный, данное действие было).
p
	| Мы вчера вечером смотрели телевизор. (Здесь важно только назвать действие, дополнительная информация – какую программу смотрели, сколько времени – не важна).
p
	| Compare:
	br
	| – Вы смотрели новый фильм Феллини?
	br
	| – Да, смотрели.
	br
	| – Вы посмотрели новый фильм Феллини, фильм вам понравился?
	br
	| – Да, мы посмотрели вчера этот фильм. Это прекрасный фильм!
h2 In which month?
p
	| To indicate that an event happened or will happen in a certain month, we use a name of the month in the Prepositional case (6) with the preposition "b>в".
img(src='/images/' + course + '/grammar/lesson08/mes.jpg', width='990', height='600')
h2 The Future Tense of Perfective and Imperfective Verbs.
p
	| In Russian there are two ways to express that an action will take place in the future, or, simply put, there are two future tense forms: the so-called "simple future" form (for perfective verbs) and "a compound future" form (for imperfective verbs). In the future tense perfective and imperfective aspects will be manifested just as they are in the present and in the past tenses. Compare:
p
	| "Я бу́ду чита́ть журна́л ещё час". – The imperfective verb «читать» is used to indicate the process ("I will continue reading a magazine for another hour.") vs. "Я прочита́ю журна́л и дам его́ тебе́". – The perfective verb «прочитать» is used to indicate the action’s result ("I will finish reading the magazine and will pass it on to you.")
p
	| The compound future form of an imperfective verb is composed of two verbs: the future simple tense form of the verb "БЫТЬ" - "to be" (it will conjugate or change for person and number) + the infinitive of the imperfective verb:
p
	| быть+инфинитив
	br
	br
	| я бу́ду чита́ть
	br
	| ты бу́дешь чита́ть
	br
	| он бу́дет чита́ть
	br
	| мы бу́дем чита́ть
	br
	| вы бу́дете чита́ть
	br
	| они бу́дут чита́ть
p
	| The future form of the perfective verb (simple future) is constructed very simply indeed - and similar to how present tense forms of imperfective verbs are derived: by adding personal endings to the stem. Perfective verbs agree with the subject of the sentence in person and number:
p
	| чита́ю (НСВ, наст.вр.) – прочита́ю (СВ, буд.вр.), прочитаешь, прочитает….
	br
	| пишу́ (НСВ, наст.вр.) – напишу́ (СВ, буд.вр.), напишешь, напишет…
	br
	| иду́ (НСВ, наст.вр.) – приду́ (СВ, буд.вр.), придёшь, придёт….
	br
p
	| To choose the correct future tense form (derived from a perfective or imperfective verb), you should keep in mind the difference between the meaning of aspects. The future form of the imperfective verb ("the compound future") is used to denote a repetitive action that will take place in the future, an on-going action (process) or a statement that a certain action will take place.
p
	| The simple future tense is used to indicate a one-time action or action's end-result in the future:
img(src='/images/' + course + '/grammar/lesson08/t1.jpg')
p Compare the conjugation of perfective and imperfective verbs:
img(src='/images/' + course + '/grammar/lesson08/t2.jpg')

