p Мы в центре Москвы. Здесь Кремль и рядом — Красная площадь.

img(src='/images/reading/l1/b3/exs1/01.jpg')

p А внизу река — это Москва-река.

img(src='/images/reading/l1/b3/exs1/02.jpg')

p Там, где река, конечно, есть мост, он называется Большой Каменный мост.

img(src='/images/reading/l1/b3/exs1/03.jpg')

p Где вход в Кремль — красивый небольшой парк, он называется Александровский сад.

img(src='/images/reading/l1/b3/exs1/04.jpg')

p Смотри, вот очень широкая улица, она начинается, где стена Кремля. Это центральная улица Москвы, она называется «Тверская». Почему? Потому что она ведёт в город Тверь, но этот город далеко.

img(src='/images/reading/l1/b3/exs1/05.jpg')