.words
	.ru(style='float: left; margin-right: 60px;')
		.word регистрация
		.word сейчас
		.word пассажир
		.word киоск
		.word паспортный контроль
		.word обмен валюты
		.word аптека
		.word внизу
		.word минуту
	.en(style='float: left;')
		.word check in
		.word now
		.word passanger
		.word kiosk
		.word passport control
		.word currency exchange
		.word pharmacy
		.word downstairs
		.word wait a minure
