div Мари́я, спаси́бо, большо́е спаси́бо!
div Пожа́луйста, Джон, пожа́луйста.
div Мари́я, спаси́бо.
div Вот мой бага́ж: моя́ су́мка и мой чемода́н.
div И моя́ во́да то́же здесь.
div Джон, что э́то? Э́то во́дка?!
div Джон, не мо́жет быть!
div Нет, Мари́я, нет, тут вода́.
div Извини́, Мари́я, а где здесь такси́?
div Такси́ там, где вы́ход.
div А где вы́ход?
div Где вы́ход?
div Там рестора́н, там туале́т, там кафе́..
div Мо́жет быть, вы́ход там, спра́ва?
div Нет, нет, извини́, вы́ход сл́ева, вон там.
div Хорошо́… Извини́, Мари́я, а где туале́т?
div Туале́т?! А, вон туале́т, он там.
div Спаси́бо, Мари́я, большо́е спаси́бо.
div До свида́ния, Джон.
div До свида́ния, Мари́я.