div Мария, здравствуйте! Вы меня помните? Я Джон, мы познакомились в аэропорту…
div Джон! Какая удача! Какое совпадение!
div Я приехала на конгресс работать, а два дня я думаю только о моём чемодане: не могла писать, не могла нормально работать.
div Это не совпадение! Я специально приехал сюда встретить вас.
div Да? Я хорошо помню вас, нашу встречу, разговор в аэропорту.
div А сегодня утром я вспомнила, что у вас в аэропорту тоже был большой и чёрный чемодан - и тогда я всё поняла! Он у вас?
div Да, а мой - у вас!
div Какое счастье! Когда мы можем встретиться?
div Я буду работать на конгрессе весь день, а вечером у меня будет свободное время. Можно встретиться в 8 часов. Где вам удобно?
div Ой, извини, Мария, я всегда забываю важные вещи…
div Я забыл познакомить тебя - это Лёва, мой друг, он тоже живёт в гостинице Космос, как и я.
div Очень приятно!
div Я рад познакомиться, Джон рассказывал мне о вас. Я приехал из Киева…
div Ну, что, Джон, в 8 часов тебе удобно сегодня?
div Можно встретиться у тебя в гостинице или на станции метро. А можно встретиться у меня, я живу в Москве у подруги, её квартира в центре.
div Давайте встретимся у подруги в центре! Это лучше всего!
div Я хочу сказать, что лучше всего встретиться у подруги в центре. Но я уверен, что Джон один не найдёт её квартиру…
div Но...
div Да, Джон всегда теряет или адрес, или телефон, или визитку. Джон может потерять даже чемодан.
div Да, это правда, я часто всё теряю. Но…
div В этот раз я ничего не потеряю!
div Может быть, вы поможете?
div Конечно, ведь мы настоящие друзья! У нас на Украине друзья всегда помогают друг другу.
div Мы приедем все вместе на такси: Джон, я и чемодан!
div И, вообще, Мария, давай на ты! Мы с Джоном уже давно на ты! Какой адрес подруги? Говори, я пишу.