ul
	li Мария, здравствуйте! Вы меня помните? Я Джон, мы познакомились в аэропорту…
	li Джон! Какая удача! Какое совпадение!
	li Я приехала на конгресс работать, а два дня я думаю только о моём чемодане: не могла писать, не могла нормально работать.
	li Это не совпадение! Я специально приехал сюда встретить вас.
	li Да? Я хорошо помню вас, нашу встречу, разговор в аэропорту.
	li А сегодня утром я вспомнила, что у вас в аэропорту тоже был большой и чёрный чемодан - и тогда я всё поняла! Он у вас?
	li Да, а мой - у вас!
	li Какое счастье! Когда мы можем встретиться?
	li Я буду работать на конгрессе весь день, а вечером у меня будет свободное время. Можно встретиться в 8 часов. Где вам удобно?
	li Ой, извини, Мария, я всегда забываю важные вещи…
	li Я забыл познакомить тебя - это Лёва, мой друг, он тоже живёт в гостинице Космос, как и я.
	li Очень приятно!
	li Я рад познакомиться, Джон рассказывал мне о вас. Я приехал из Киева…
	li Ну, что, Джон, в 8 часов тебе удобно сегодня?
	li Можно встретиться у тебя в гостинице или на станции метро. А можно встретиться у меня, я живу в Москве у подруги, её квартира в центре.
	li Давайте встретимся у подруги в центре! Это лучше всего!
	li Я хочу сказать, что лучше всего встретиться у подруги в центре. Но я уверен, что Джон один не найдёт её квартиру…
	li Но...
	li Да, Джон всегда теряет или адрес, или телефон, или визитку. Джон может потерять даже чемодан.
	li Да, это правда, я часто всё теряю. Но…
	li В этот раз я ничего не потеряю!
	li Может быть, вы поможете?
	li Конечно, ведь мы настоящие друзья! У нас на Украине друзья всегда помогают друг другу.
	li Мы приедем все вместе на такси: Джон, я и чемодан!
	li И, вообще, Мария, давай на ты! Мы с Джоном уже давно на ты! Какой адрес подруги? Говори, я пишу.