extends ../../layout

block title
	title СПИСОК ПОЛЬЗОВАТЕЛЕЙ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК ПОЛЬЗОВАТЕЛЕЙ
	br
	.main_menu_block
		//- a(href='/auth/lessons/courses/' + user._id + '/add') добавить пользователя
		br
		br
		each user in users
			.user
				a.rm_user(href='#', id=user._id)= 'удалить '
				!=' | '
				a(href='/auth/users/' + user._id)= user.name.first + ' ' + user.name.last