extends ../../index.jade

block vars
	- var task = 'Compose a sentence from separate words:'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var sortable = [['Ты', 'понимаешь', 'по-русски?'], ['Мои', 'друзья', 'не', 'говорят', 'по-украински.'], ['Его', 'недорогая', 'гостиница', 'в', 'центре.'], ['Её', 'большая', 'семья', 'живёт', 'в', 'Киеве.'], ['Мне', 'надо', 'платить', 'за', 'завтрак.'], ['Этот', 'город', 'большой', 'или', 'небольшой?'], ['Твоя', 'девушка', 'красивая', 'или', 'некрасивая?']]
			include ../../types/sort.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../types/audio.jade
