extends ../../index.jade

block vars
	- var task = 'Выучите новые выражения'
	- var items = 15

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['Можно меню?', 'Мне нравится...', 'Мне нравится икра.', 'Мне не нравится...', 'Мне не нравится икра.', 'на десерт', 'Я хочу на десерт...', 'Я хочу на десерт мороженое.', 'на завтрак', 'Мы любим на завтрак...', 'Мы любим на завтрак омлет.', 'Что вы хотите заказать на десерт?', 'У нас большой выбор.', 'Дайте бутылку воды.', 'Что случилось?', 'Что такое борщ?']
			include ../../types/text.jade
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../types/audio.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../types/audio.jade
