extends ../layout

block paths
	- var s_title = 'Статистика'

block title
	title СТАТИСТИКА

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/course.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/stat.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/raphael-min.js' + version)
	script(type='text/javascript', src='/build/js/circles.js' + version)
	script(type='text/javascript', src='/build/js/course.js' + version)


block content
	.stat_courses_block
		.stat_course_block
			.course_title Время говорить по-русски
			.course_lessons
				.lessons_block
					.circles
						#lesson1.circle(l_title='Урок 1', l_fail='20', l_success='60')
						#lesson2.circle(l_title='Урок 2', l_fail='35', l_success='25')
						#lesson3.circle(l_title='Урок 3', l_fail='50', l_success='40')
						#lesson4.circle(l_title='Урок 4', l_fail='15', l_success='65')
						#lesson5.circle(l_title='Урок 5', l_fail='50', l_success='30')
				.lesson_stat_blocks
					.stat_block
						.stat_block_title Грамматика
						.stat_block_exercises
							.exercise_item ●
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●
							.exercise_item ●

					.stat_block
						.stat_block_title Лексика
						.stat_block_exercises
							.exercise_item ●
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●
							.exercise_item ●

					.stat_block
						.stat_block_title Речь
						.stat_block_exercises
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●

		.stat_course_block
			.course_title Другой курс
			.course_lessons
				.lessons_block
					.circles
						#lesson1.circle(l_title='Урок 1', l_fail='20', l_success='60')
						#lesson2.circle(l_title='Урок 2', l_fail='35', l_success='25')
						#lesson3.circle(l_title='Урок 3', l_fail='50', l_success='40')
						#lesson4.circle(l_title='Урок 4', l_fail='15', l_success='65')
						#lesson5.circle(l_title='Урок 5', l_fail='50', l_success='30')
						#lesson6.circle(l_title='Урок 6', l_fail='50', l_success='40')
						#lesson7.circle(l_title='Урок 7', l_fail='15', l_success='65')
						#lesson8.circle(l_title='Урок 8', l_fail='50', l_success='30')
				.lesson_stat_blocks
					.stat_block
						.stat_block_title Грамматика
						.stat_block_exercises
							.exercise_item ●
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●
							.exercise_item ●

					.stat_block
						.stat_block_title Письмо
						.stat_block_exercises
							.exercise_item.fail ●
							.exercise_item ●
							.exercise_item ●

					.stat_block
						.stat_block_title Лексика
						.stat_block_exercises
							.exercise_item ●
							.exercise_item.fail ●
							.exercise_item ●
