extends ../../../index.jade

block vars
	- var task = 'Answer the question'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['Томас позвонил Андрею после его дня рожденья, потому что хотел', 'Томас познакомился на дне рожденья', 'Томас мечтал познакомиться с', 'Томаса интересуют', 'Андрей согласился познакомить Томаса с Анной']
			include ../../../types/text.jade

	.exercise_column
		.exercise_blocks_block
			- var questions = [{'qs': ['поблагодарить его за интересный вечер', 'сказать «спасибо» за приглашение', 'обратиться к нему с деликатной просьбой'], 'answer': 0}, {'qs': ['с друзьями Андрея', 'с девушкой Андрея', 'с дедушкой Андрея'], 'answer': 1}, {'qs': ['с дедушкой Андрея, который живёт в Одессе', 'с дедушкой Андрея, которого звали Григорий Иванович', 'девушкой, чью фотографию он увидел'], 'answer': 1}, {'qs': ['старые и умные дедушки', 'молодые и красивые девушки', 'одна девушка'], 'answer': 1}, {'qs': ['завтра в театре', 'в гостях у Томаса', 'у себя дома завтра'], 'answer': 0}]
			include ../../../types/question_mute.jade