ul
	li Кто там?
	li Джон, это Лев Борисович, ваш сосед!
	li Здравствуйте, Лев Борисович! Как дела?
	li Всё хорошо, спасибо.
	li Это ваша комната, да?
	li У вас очень красивая комната, и большая.
	li У меня тоже красивый номер, но маленький.
	li У вас есть телевизор?
	li Конечно, вот телевизор.
	li У меня тоже есть телевизор.
	li Но у вас новый телевизор, а у меня старый…
	li А, вот мини-бар...
	li Джон, у вас есть в мини-баре водка?
	li Не знаю, может быть...
	li Джон, где у вас туалет?
	li У вас есть душ? Душ хороший?
	li Не знаю, наверное хороший, а туалет там, слева.
	li Да, вот туалет, душ.
	li Всё новое и чистое, вода горячая и холодная.
	li Лев Борисович, извините, что вы хотите ещё?
	li Нет, ничего. Джон, давай на «ты»?
	li Мы, украинцы, всегда на «ты».
	li Не говори «Лев Борисович», а говори «Лев» или «Лёва».
	li Хорошо, давай на «ты», что ещё?
	li Твой номер хороший, но, наверное, дорогой.
	li У меня номер не очень дорогой.
	li Извини, ты знаешь, когда завтрак в гостинице?
	li Завтрак в 8. Это всё? До свидания, Лёва.