div Кто там?
div Джон, это Лев Борисович, ваш сосед!
div Здравствуйте, Лев Борисович! Как дела?
div Всё хорошо, спасибо.
div Это ваша комната, да?
div У вас очень красивая комната, и большая.
div У меня тоже красивый номер, но маленький.
div У вас есть телевизор?
div Конечно, вот телевизор.
div У меня тоже есть телевизор.
div Но у вас новый телевизор, а у меня старый…
div А, вот мини-бар...
div Джон, у вас есть в мини-баре водка?
div Не знаю, может быть...
div Джон, где у вас туалет?
div У вас есть душ? Душ хороший?
div Не знаю, наверное хороший, а туалет там, слева.
div Да, вот туалет, душ.
div Всё новое и чистое, вода горячая и холодная.
div Лев Борисович, извините, что вы хотите ещё?
div Нет, ничего. Джон, давай на «ты»?
div Мы, украинцы, всегда на «ты».
div Не говори «Лев Борисович», а говори «Лев» или «Лёва».
div Хорошо, давай на «ты», что ещё?
div Твой номер хороший, но, наверное, дорогой.
div У меня номер не очень дорогой.
div Извини, ты знаешь, когда завтрак в гостинице?
div Завтрак в 8. Это всё? До свидания, Лёва.