ul
	li Что это?
	li Этот журнал не мой!
	li Эта красивая шляпа – не моя.
	li Книги, вещи…
	li Эти книги не мои, и эти вещи точно не мои!
	li Чей это чемодан? Мой или не мой?
	li Мой чемодан большой, чёрный, удобный.
	li Этот чемодан большой, чёрный и удобный, но он … не мой.
	li Лёва! Это его чемодан, а у него, наверное, мой чемодан.
	li Нет… у него чемодан маленький и жёлтый.
	li А-а-а-а… Мария! У меня её чемодан!
	li У неё мой чемодан! Что делать?
	li Где Мария?
	li Она в Москве, но где в Москве?