div Что это?
div Этот журнал не мой!
div Эта красивая шляпа – не моя.
div Книги, вещи…
div Эти книги не мои, и эти вещи точно не мои!
div Чей это чемодан? Мой или не мой?
div Мой чемодан большой, чёрный, удобный.
div Этот чемодан большой, чёрный и удобный, но он … не мой.
div Лёва! Это его чемодан, а у него, наверное, мой чемодан.
div Нет… у него чемодан маленький и жёлтый.
div А-а-а-а… Мария! У меня её чемодан!
div У неё мой чемодан! Что делать?
div Где Мария?
div Она в Москве, но где в Москве?