.lesson_block_item
	.block_item_title Scene 1: Introducing guests (introductions)

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			//- .set_item.exercise(class='l6_b1_exs1_words') Learn new words
			//- .set_item.exercise(class='l6_b1_exs2_words') Learn new words (черты лица)
			.set_item.exercise(class='l10_b1_exs3_video') Dialogue
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content Знакомая или подруга?

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l10_b1_exs4_video') Grammar
			.set_item.exercise(class='l10_b1_exs5_video') Lexical
			.set_item.exercise(class='l10_b1_exs6_video') Writing
			//- .set_item.exercise(class='l5_b1_exs11_video') Communicative
			//- .set_item.exercise(class='l5_b1_exs12_video') Phonetical
		.study_title Grammar Notes
		.study_set.content
			.set_item.content(class='l10_b1_cont1') Reflexive verbs (continued)
			//- .set_item.content(class='l5_b1_cont2') Using adverbs
			//- .set_item.content(class='l5_b1_cont3') Ты должен звонить домой. Я рада слышать тебя. Надо заплатить.
			//- .set_item.content(class='l5_b1_cont4') Наречия («по-русски») и их сочетаемость с глаголами говорить, понимать.

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Scene 2: What do you do?

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			//- .set_item.exercise(class='l5_b2_exs1_words') Learn new words
			//- .set_item.exercise(class='l5_b2_exs2_select') Test yourself (listening)
			//- .set_item.exercise(class='l5_b2_exs3_video') Learn new words and expressions
			//- .set_item.exercise(class='l5_b2_exs4_composit') Test yourself (lexics)
			.set_item.exercise(class='l10_b2_exs3_video') Dialogue
			//- .set_item.exercise(class='l5_b2_exs6_video') Comprehension test
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content План Москвы.
		//- 	.set_item.content Русская кухня (окончание)

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l10_b2_exs4_words') Grammar
			.set_item.exercise(class='l10_b2_exs5_words') Lexical
			//- .set_item.exercise(class='l5_b2_exs9_words') Communicative
			//- .set_item.exercise(class='l5_b2_exs10_words') Phonetical
		.study_title Grammar Notes
		.study_set.content
			.set_item.content(class='l10_b2_cont1') Instrumental Case (continued)
			//- .set_item.content(class='l5_b2_cont2') Subject of thought or speech

	//- .block_item_test Тест


.lesson_block_item
	.block_item_title Scene 3: Surprises keep coming!

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			//- .set_item.exercise(class='l5_b2_exs1_words') Learn new words
			//- .set_item.exercise(class='l5_b2_exs2_select') Test yourself (listening)
			//- .set_item.exercise(class='l5_b2_exs3_video') Learn new words and expressions
			//- .set_item.exercise(class='l5_b2_exs4_composit') Test yourself (lexics)
			.set_item.exercise(class='l10_b3_exs3_video') Dialogue
			//- .set_item.exercise(class='l5_b2_exs6_video') Comprehension test
		//- .study_title Страноведение
		//- .study_set.content
		//- 	.set_item.content План Москвы.
		//- 	.set_item.content Русская кухня (окончание)

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l10_b3_exs4_words') Grammar
			.set_item.exercise(class='l10_b3_exs5_words') Writing
			.set_item.exercise(class='l10_b3_exs6_words') Lexical
			//- .set_item.exercise(class='l5_b2_exs9_words') Communicative
			//- .set_item.exercise(class='l5_b2_exs10_words') Phonetical
		.study_title Grammar Notes
		.study_set.content
			.set_item.content(class='l10_b3_cont1') Instrumental Case (continued)
			//- .set_item.content(class='l5_b2_cont2') Subject of thought or speech

	//- .block_item_test Тест