.lesson_block_item
	.block_item_title Столица

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs1_words') Words
			.set_item.exercise(class='l1_b1_exs2_words') Listen and repeat
			.set_item.exercise(class='l1_b1_exs3_words') Listen to the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs4_words') YES or NO?


.lesson_block_item
	.block_item_title ВХОД И ВЫХОД

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs1_words') Words
			.set_item.exercise(class='l1_b2_exs2_words') Listen and repeat
			.set_item.exercise(class='l1_b2_exs3_words') Listen to the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs4_words') YES or NO?


.lesson_block_item
	.block_item_title АЭРОПОРТ

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b3_exs1_words') Words
			.set_item.exercise(class='l1_b3_exs2_words') Listen and repeat
			.set_item.exercise(class='l1_b3_exs3_words') Listen to the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b3_exs4_words') YES or NO?
