.lesson_block_item
	.block_item_title Хочу познакомиться в дедушкой...

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs1_words') Listen to the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs2_words') YES or NO?


.lesson_block_item
	.block_item_title Мой дом — моя крепость

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs1_words') Listen to the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs2_words') YES or NO?
