.words
	.ru(style='float: left; margin-right: 60px;')
		.word станция метро
		.word буква
		.word вход
		.word выход
		.word билет
		.word касса
		.word купить
		.word не за что
	.en(style='float: left;')
		.word metro station
		.word letter
		.word way in, entrance
		.word way out, exit
		.word tickets
		.word ticket office
		.word to buy
		.word you are wellcome
