extends ../layout

block paths
	- var s_title = 'платформа создания и размещения учебных дистанционных курсов'

block title
	title OMNI LINGO

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/main.js' + version)

block content
	a(href='/courses')
		img.back_img(src='/images/design/back.png')
	//- h1 Главная
	//- a(href='/auth') звездочет
	//- br
	//- br
	//- a(href='/courses') Курсы