div Комната большая, хорошая.
div Кровать удобная.
div Где здесь шкаф?
div А, вот он – тоже большой и удобный.
div Телефон на столе, телевизор – в углу.
div Да, обычный номер…
div Мини-бар у меня есть?
div Да, вот он, в столе.
div Так, что у меня в мини-баре?
div Наверное, русский напиток…
div Да, «Квас» -русский напиток, я знаю.