h2
	| How to describe location of a person or object using the verb “находиться” (=to be located)
p
	| In informal speech to describe a location of a person or object, we use simple grammatical models:
p Я в кино.
p Анна на работе.
p Книга на столе.
p
	| However, when we want to emphasize the meaning of the phrase, we use the verb
	b НАХОДИ́ТЬСЯ
	|  (= to be located).
p Президент сейчас нахо́дится в Италии.
p Красная площадь нахо́дится в Москве.
p Мы сейчас нахо́димся около здания университета.
p Sentences with the verb "находиться" sound more formal. Compare:
p Красная площадь – в центре Москвы. – Conversational (informal) style
p Красная площадь находится в центре Москвы. – Formal style
p
	| The verb
	b "находи́ться"
	|  is reflexive, please, note how it conjugates:
center
	img(src='/images/' + course + '/grammar/lesson06/09.jpg')
center
	img(src='/images/' + course + '/grammar/lesson06/21.jpg')
center
	img(src='/images/' + course + '/grammar/lesson06/22.jpg', width='700px')
h2 Possibility or impossibility of action:  "Мо́жно / нельзя́ "
p
	| To express the idea of possibility (or impossibility) of an action, we use words "МО́ЖНО" (=it’s possible, feasible, allowed) and "НЕЛЬЗЯ́" (=it’s impossible, not allowed) + the verb Infinitive.
center
	table
		tr
			td Здесь мо́жно пла́вать, в бассе́йне есть вода́.
			td Здесь нельзя́ пла́вать, в бассе́йне нет воды́.
		tr
			td
				br
				img(src='/images/' + course + '/grammar/lesson06/10.jpg', width='75%')
			td
				br
				img(src='/images/' + course + '/grammar/lesson06/11.jpg', width='50%')
		tr
			td Здесь мо́жно войти́. Дверь откры́та.
			td Здесь нельзя́ войти́. Дверь закры́та.
		tr
			td
				br
				img(src='/images/' + course + '/grammar/lesson06/13.jpg', width='75%')
			td
				br
				img(src='/images/' + course + '/grammar/lesson06/12.jpg', width='50%')
	p
		| 2. The same construction is used to indicate that a certain action is allowed or prohibited.
	br
	table
		tr
			td Здесь нельзя́ кури́ть.
			td Там мо́жно кури́ть.
		tr
			td
				br
				img(src='/images/' + course + '/grammar/lesson06/14.jpg', width='50%')
			td
				br
				img(src='/images/' + course + '/grammar/lesson06/15.jpg', width='65%')
	br
	br
	img(src='/images/' + course + '/grammar/lesson06/16.jpg')
p
	| 3. To express who is allowed or forbidden to do something, this construction is supplemented by a noun or pronoun in the Dative case to indicate the person.
center
	img(src='/images/' + course + '/grammar/lesson06/17.jpg')
p
	| У О́льги грипп. Ей нельзя́ есть моро́женое и ходи́ть на рабо́ту. Ей мо́жно сиде́ть до́ма и пить горя́чий чай.
p
	b Please,< note!
	|   In such a sentence, you can't use a noun in the Nominative case. The Dative case is required for a noun or pronoun used to describe a person who is allowed or not allowed to perform a certain action.
center
	img(src='/images/' + course + '/grammar/lesson06/18.jpg')
h1 Expressing a favorable opinion and emotional attitude
h2
	| 1. Expressions similar to «Какая хорошая идея!» (What a good a idea!), «Как красиво!» (How beautiful!)
p
	| When we want to convey that we like something very much, we can use an exclamative sentence accompanied by a special intonation. This intonational construction is called ИК-5 (IC-5). When we pronounce such a sentence, we use a higher voice pitch than usual.
p
	| A similar intonational model is used to express a hight degree of a qualitative characteristic. In this case, the pitch is slightly lower than in exclamative sentences.
p
	| Note that though the words that start such exclamative sentences look like interrogative words, their function is not to form a question, but to express a positive emotional evaluation (our admiration or happiness about a certain fact).
h2
	| Expressions similar to «Такая хорошая идея!» (It’s such a good a idea!), «Так красиво!» (It’s so beautiful!)
p
	| To express a delight or admiration for someone's action, you can use the construction: "ТАК + adverb + verb".
p
	| Ты так хорошо́ поёшь!
	br
	| Она так прекра́сно игра́ла!
	br
	| Мы так замеча́тельно отдохну́ли!
p
	| To express an admiration for some characteristic of an object, we use the construction: ТАКОЙ/ТАКАЯ/ТАКОЕ/ТАКИЕ + adjective.
p
	| Тако́й интере́сный го́род!
	br
	| Така́я краси́вая де́вушка!
	br
	| Ты тако́й у́мный!
	br
	| Эта у́лица така́я дли́нная!
p
	b Please, note!
	|  We can express the same meaning using the construction with the words "как" and "какой" but the word order in such sentences will be different.
p
	| Как хорошо́ ты поёшь!
	br
	| Как хорошо́ она игра́ла!
	br
	| Как мы прекра́сно отдохну́ли!
	br
	| Како́й ты у́мный!
	br
	| Кака́я дли́нная улица!

