.exercise_task Проверьте себя
.exercises_navigator
	.items_block
		.ex_item ●
		.ex_item ●
	.steps_block
		img.step_reload(src='/images/design/icons/step_reload.png')
		img.step_ok(src='/images/design/icons/step_ok.png')
		img.step_forward(src='/images/design/icons/step_next.png')
.exercise_columns_block
	.exercise_column
		.exercise_blocks_block
			include types/drag.jade

.exercise_columns_block
	.exercise_column
		.exercise_blocks_block
			//- include types/audio.jade
