extends ../layout

block paths
	- var s_title = 'упражнение'

block title
	title Упражнение

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/exercises.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/build/js/exercises.js' + version)


block content
	include all.jade