ul
	li Можно меню?
	li Одну минуту, пожалуйста.
	li Закуски…Что такое закуски?
	li А, я знаю, закуски - это салаты, икра и блины, омлет, бутерброды…
	li Понимаю, омлет мне не нравится, бутерброды я тоже не люблю.
	li Первые блюда: борщ, суп-лапша, овощной суп.
	li Нет, я не понимаю, что такое борщ. И суп я ещё не хочу.
	li Вторые блюда: рыба, котлета, пельмени… Нет, я тоже не хочу…
	li Что вы хотите заказать?
	li Пожалуйста, я хочу салат овощной, апельсиновый сок.
	li Мне нравится красная икра, поэтому дайте ещё икру и блины.
	li А что такое кекс Столичный?
	li Кекс Столичный - это вкусный десерт. На завтрак очень хорошо.
	li Тогда мне на десерт кекс столичный и кофе «Эспрессо».
	li Не хотите еще воду?
	li Конечно, у вас есть холодная вода без газа?
	li Да, конечно, у нас есть вода «Бонаква», хотите?
	li Да, дайте одну бутылку воды…
	li Теперь надо думать, что делать... Где Мария? Где мой чемодан?