div Извините́, где бага́ж?
div Бага́ж там,
div бага́ж сле́ва.
div Большо́е спаси́бо.
div Прости́те...
div Я Джон, я тури́ст. А вы?
div Я? Я Мари́я, я то́же тури́стка. И ещё я …
div Ме́неджер?
div Нет, нет, не ме́неджер.
div Студе́нтка?
div Нет, не студе́нтка.
div Вы до́ктор?
div Нет, я не до́ктор.
div Вы инжене́р?
div Нет, я не инжене́р.
div А кто вы?
div Я журнали́стка! Я журнали́стка и тури́стка!
div А… вот и бага́ж!