ul
	li Э́то мой чемода́н?
	li Нет, э́то не мой чемода́н.
	li Э́то моя́ су́мка?
	li Нет, э́то не моя́ су́мка.
	li Мо́жет быть, э́то мой чемода́н?
	li Нет, э́то не он.
	li Мо́жет быть, э́то моя́ су́мка?
	li Нет, э́то не она́.
	li Где мой чемода́н?
	li Где моя́ су́мка?
	li Мо́жет быть, там моя́ су́мка?
	li Нет, она́ не там.
	li Мо́жет быть, там мой чемода́н?
	li Нет, он не там.
	li Где мой бага́ж?