div Э́то мой чемода́н?
div Нет, э́то не мой чемода́н.
div Э́то моя́ су́мка?
div Нет, э́то не моя́ су́мка.
div Мо́жет быть, э́то мой чемода́н?
div Нет, э́то не он.
div Мо́жет быть, э́то моя́ су́мка?
div Нет, э́то не она́.
div Где мой чемода́н?
div Где моя́ су́мка?
div Мо́жет быть, там моя́ су́мка?
div Нет, она́ не там.
div Мо́жет быть, там мой чемода́н?
div Нет, он не там.
div Где мой бага́ж?