ul
	li Джон, э́то твой па́спорт?
	li Да, э́то мой па́спорт, па́спорт здесь.
	li А компью́тер? Где твой компью́тер?
	li Компью́тер то́же тут.
	li Твоя́ видеока́мера здесь?
	li Да, моя́ видеока́мера здесь.
	li А твой телефо́н тут?
	li Да, мой телефо́н тут.
	li Джон, твой бага́ж здесь?
	li Нет, бага́ж не здесь: моя́ су́мка и мой чемода́н не здесь.
	li Мо́жет быть, они́ там?
	li Да, да! Вот мой бага́ж!
	li Вот моя́ су́мка! Вот мой чемода́н! Ура́!