div Джон, э́то твой па́спорт?
div Да, э́то мой па́спорт, па́спорт здесь.
div А компью́тер? Где твой компью́тер?
div Компью́тер то́же тут.
div Твоя́ видеока́мера здесь?
div Да, моя́ видеока́мера здесь.
div А твой телефо́н тут?
div Да, мой телефо́н тут.
div Джон, твой бага́ж здесь?
div Нет, бага́ж не здесь: моя́ су́мка и мой чемода́н не здесь.
div Мо́жет быть, они́ там?
div Да, да! Вот мой бага́ж!
div Вот моя́ су́мка! Вот мой чемода́н! Ура́!