ul
	li Мари́я, спаси́бо, большо́е спаси́бо!
	li Пожа́луйста, Джон, пожа́луйста.
	li Мари́я, спаси́бо.
	li Вот мой бага́ж: моя́ су́мка и мой чемода́н.
	li И моя́ во́да то́же здесь.
	li Джон, что э́то? Э́то во́дка?!
	li Джон, не мо́жет быть!
	li Нет, Мари́я, нет, тут вода́.
	li Извини́, Мари́я, а где здесь такси́?
	li Такси́ там, где вы́ход.
	li А где вы́ход?
	li Где вы́ход?
	li Там рестора́н, там туале́т, там кафе́..
	li Мо́жет быть, вы́ход там, спра́ва?
	li Нет, нет, извини́, вы́ход сл́ева, вон там.
	li Хорошо́… Извини́, Мари́я, а где туале́т?
	li Туале́т?! А, вон туале́т, он там.
	li Спаси́бо, Мари́я, большо́е спаси́бо.
	li До свида́ния, Джон.
	li До свида́ния, Мари́я.