div Мари́я, Мари́я!
div Что, Джон, что?!
div Мари́я, мой бага́ж, моя́ су́мка, мой чемода́н - и туале́т.
div Мо́жет быть, ты…
div Ла́дно, Джон, хорошо́, я здесь, здесь.
div Где твой бага́ж - там я и мой бага́ж.
div О, Мари́я, спаси́бо!
div Джон, то́лько бы́стро, бы́стро!