ul
	li Мари́я, Мари́я!
	li Что, Джон, что?!
	li Мари́я, мой бага́ж, моя́ су́мка, мой чемода́н - и туале́т.
	li Мо́жет быть, ты…
	li Ла́дно, Джон, хорошо́, я здесь, здесь.
	li Где твой бага́ж - там я и мой бага́ж.
	li О, Мари́я, спаси́бо!
	li Джон, то́лько бы́стро, бы́стро!