extends ../../../index.jade

block vars
	- var task = 'Listen, read and repeat'
	- var items = 33

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/video/' + course + '/' + ex_path + '/' + ('0' + select).slice(-2) + '.mp4'
			include ../../../types/video.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../../types/audio.jade