doctype html
html
	head
		style.
			ol, li {margin: 0; padding: 0; margin-left: 10px; padding-left: 5px; }
			p, li {font: 12pt/14pt 'PT Serif';}
			h2 {font: 14pt/16pt 'PT Serif'; font-weight: bold; color: #265089;}
	body
		h2 We are happy to see you on our web site!
		p A new distance learning course of Russian as a foreign language for beginners "Simpler, easier, faster!" will start soon! The course is designed for learners of different ages and occupations.
		p The course "Simpler, easier, faster!" lets you choose between two options:
		ol
			li a complete course - 288 academic hours
			li a brief course - 114 academic hours
		p The complete course takes from 4 to 8 months, the brief one - from 2 to 5 months, depending on the learners individual schedule.
		p Both courses consist of private lessons that follow a program designed personally for you.  Lessons consist of online Skype sessions and offline assignments prepared and checked by a tutor.
		p Upon completion of the course, you will receive a certificate of the Institute of Russian Language and Culture that confirms your results.
		p The new course "Simpler, easier, faster!" was designed by teachers and authors of the course "Time to Speak Russian!" that has proven its effectiveness for learning Russian as a foreign language. The same teachers will monitor the new course and participate in the program.
		p We are happy that you are interested in learning Russian and that you chose to study it with us! We will inform you as soon as registration for the course opens.