doctype html
html
	head
		style.
			ol, li {margin: 0; padding: 0; margin-left: 10px; padding-left: 5px; }
			p, li {font: 12pt/14pt 'PT Serif';}
			h2 {font: 14pt/16pt 'PT Serif'; font-weight: bold; color: #265089;}
	body
		h2 Рады видеть Вас на нашем сайте!
		p Новая дистанционная программа обучения русскому языку как иностранному для начинающих по курсу «Проще, легче, быстрее!» откроется в самое ближайшее время. Програма адресована иностранным учащимся самых разных возрастных и социальных категорий.
		p Курс «Проще, легче, быстрее!» предлагает на выбор два модуля:
		ol
			li законченный полный модуль — 228 учебных часов.
			li сокращенный модуль - 114 учебных часов.
		p Полный модуль занимает от 4 до 8 месяцев, сокращенный — от 2 до 5 месяцев в зависимости от индивидуального плана работы с конкретным учащимся.
		p Занятия индивидуальные, проходят по персонально составленной программе. В занятия входят: уроки по скайпу онлайн и выполнение домашних заданий, подготовленных и проверяемых преподавателем-тьютором. По окончании занятий в рамках каждого модуля Программы учащийся получает сертификат Института русского языка и культуры, подтверждающий факт дистанционных занятий с достигнутыми результатами.
		p Новый авторский курс «Проще, легче, быстрее!» создан командой преподавателей и разработчиков уже зарекомендововавшего себя мультимедийного курса «Время говорить по-русски!». Эти же преподаватели будут курировать и участвовать в новом проекте.
		p Мы рады, что вам интересен русский язык и вы хотите изучать его с нами! Мы обязательно известим вас об открытии регистрации на курс.