h2 SUBJECT OF THOUGHT OR SPEECH
b Prepositional Case with the preposition "О" ("about")
p
  | The noun which describes an object of thought or speech must be put in the Preposional case with the preposition "o" (about). Usually, such nouns follow the verbs "говорить" (talk about), "думать" (think about", "рассказывать" (tell about", "помнить" (remember about), etc.
p
  | "Джон думает
  b о
  |  чемодан
  b е
  |  и о Мар
  b ии
  | ". - "John is thinking about his suitcase and about Maria."
p
  img(src='/images/grammar/lesson05/s1.jpg')
p
  | "Джон говорит
  b о
  |  Москв
  b е
  | ". - "John talks about Moscow."
p
  img(src='/images/grammar/lesson05/s2.jpg')
p
  | If you need to inquire about a subject of thought or speech, you should start a question with the preposition "
  b О
  | " followed by a pronoun "кто" or "что" in the Prepositional case:
  b
    | О КОМ?  О ЧЁМ?
    p Compare:
    p
      img(src='/images/grammar/lesson05/s3.jpg')
    p Personal pronouns in the Prepositional case have the following forms:
    p
      img(src='/images/grammar/lesson05/s4.jpg')