h2 Accusative Case: Animate Nouns (singular)
p
  | In the Accusative case, animate and inanimate masluline nouns have different endings. For inanimate masculine nouns, the Accusative and Nominative case endings are the same (see Grammeer Notes to Lesson 4).
p But for masculine animate nouns, these endings will be different.
p
  | "Антон и Виктор друзья". - "Anton and Victor are friends." "Антон знает Виктора, а Виктор знает Антона". - "Anton knows Victor, and Victor knows Anton."
p
  img(src='/images/grammar/lesson05/ls5s1t1.gif')
p
  | BUT! In the Accusative case animate feminine singular nouns  have the same endings as inanimate ones:
p
  img(src='/images/grammar/lesson05/ls5s1t2.gif')
h2 WHEN? DAYS OF THE WEEK
p
  img(src='/images/grammar/lesson05/ls5s1t3.gif')
p Compare:
ul
  li Сегодня понедельник.
  li В понедельник я обычно работаю.
  li Во вторник, в среду, в четверг и в пятницу я тоже работаю.
  li
    img(src='/images/grammar/lesson05/ls5s1t4.jpg')
  li Когда я отдыхаю? Я отдыхаю в субботу и в воскресенье.
  li Вокресенье было вчера. Вчера, в воскресенье, я отдыхал.
  li
    img(src='/images/grammar/lesson05/ls5s1t5.jpg')

