p Это карта, здесь Европа и Азия. Эта страна - Россия.

img(src='/images/reading/l1/b1/exs1/01.jpg')

p Вот Урал. Урал- это горы.

img(src='/images/reading/l1/b1/exs1/02.jpg')

p Здесь город Екатеринбург. Где Екатеринбург - там граница: слева - Европа, справа — Азия.
p Справа - Сибирь и Дальний Восток, остров Сахалин и полуостров Камчатка.

img(src='/images/reading/l1/b1/exs1/03.png')

p В Сибири есть реки: Обь, Ангара, Амур, Лена и Иртыш, там есть озеро Байкал, там есть города: Иркутск, Хабаровск, Томск и Владивосток.

img(src='/images/reading/l1/b1/exs1/04.jpg')