h1 RUSSIAN VERBAL ASPECTS EXPLAINED
p
	| Perhaps, you have already noticed that when we describe an action in Russian, we use very similar but still different verbs. These verbs describe one and the same action, they have one and the same lexical meaning - but they are still different. For example:
p
	| Я писал письмо. Я написал письмо.
	br
	| Вы начинали смотреть фильм? Вы начали смотреть фильм?
	br
	| Друзья пили пиво. Друзья выпили пиво.
	br
br
p
	| What is the difference between these verbs? These verbs represent different aspects. Most Russian verbs take on two forms - a perfective form and an imperfective form (however, there are some verbs that are exceptions to the rule).
p
	| Now that you know that there are perfective and imperfective verbs in Russian, we should answer two most important questions:
ol
	li
		| What are the formal markers that indicate a verbal aspect? In other words, how can we determine whether this is a perfective or imperfective verb?
	li
		| When should you use one verbal aspect and when you should use the other? What are the rules that regulate the use of Russian aspect forms?
h2 RUSSIAN ASPECT FORMS
p
	| The imperfective form is considered to be the main or base verbal form. This is the form you see in a dictionary. The imperfective verb expresses an action as such. It serves as a base form from which a perfective form can be derived in several different ways:
ol
	li
		| By means of different prefixes.
		br
		img(src='/images/' + course + '/grammar/lesson08/pris.jpg')
	li
		| By means of different suffixes.
		br
		img(src='/images/' + course + '/grammar/lesson08/suf.jpg')
	li
		| By means of using a completely different verb
		br
		img(src='/images/' + course + '/grammar/lesson08/old.jpg')
h2 USING IMPERFECTIVE AND PERFECTIVE VERBS
h3
	| How to use imperfective and perfective verbs to describe repetitive vs one-time actions that produced certain results:
p
	| When we want to describe a repetitive action which takes place regularly, we should use an imperfective verb. If an action took place once at a particular moment (date or hour), and we know its end result, and we are interested in this result - we should use a perfective verb.
p
	img(src='/images/' + course + '/grammar/lesson08/svns.jpg')
p
	| Please, note that when we want to describe repetitive actions, not only do we use imperfective verbs but we also offer extra information by including in a sentence certain words (e.g. adverbs) that signal repetition: "иногда" (occasionally), часто (often), регулярно (regularly), днём (in the afternoon), etc.
p
	b Ирина не любит готовить, она редко готовит.
p
	| Phrases with the word "каждый" (every) that signal repetition: "every day", "every morning", "every year", etc. should be put in the Accusative case (4).
p
	b Мы завтракаем каждый день утром в 8 часов.
	br
	b Родители звонят мне каждую неделю.
p
	| When we speak about an action that happened only once or at one point in time  but we are interested in its end result, we use a perfective verb.
p
	b Я купила вкусный торт – вот он, давай его съедим!
	br
	b Друзья посмотрели новый фильм вчера  – фильм им очень понравился.
p Compare:
p
	b
		| Марина обычно не покупает вещи в магазине, а покупает их на рынке. Но сегодня она увидела на рынке красивое пальто и шляпу и купила их.
p
	b
		| Игорь редко звонит мне домой так поздно, а вчера вечером он почему-то мне позвонил.
h1 The Pronoun " СВОЙ"
p
	| You already know that when we want to express that a certain object belongs to someone, in Russian we use possessive pronouns: my, yours, his, etc. For example:
p Это я. Этой мой дом.
p Вот мой друг. Мы давно знаем его жену.
p Здесь учатся студенты. Я покажу тебе их аудиторию.
p
	| In addition to the possessive pronouns, we can use a reflexive-possessive pronoun "свой" to indicate that an object belongs to a person who acts as the subject in a sentence.
p
	img(src='/images/' + course + '/grammar/lesson08/01.jpg', width='95%')
p
	| The pronoun "свой" is inflected (modified) for gender, case and number in exactly the same way as possessive pronouns:
p
	img(src='/images/' + course + '/grammar/lesson08/02.jpg')
p
	| Attention! A noun in the Nominative case can only by accompanied by a possessive pronoun (мой, твой, наш, ваш, etc.). The pronoun "свой" is never used with the Nominative case noun.
p
	| "Это я, это мой друг". - "This is I, this is my friend". "Друг" is the sentence subject indicated by a noun in the Nominative case (1).
p
	| "Вчера к нам пришли в гости наши друзья". – "Yesterday our friends came to visit us". "Друзья" is the sentence subject denoted by a noun in the Nominative case (1).
p
	| The reflexive-possessive pronoun "свой" is used only if the agent and the possessor in the sentence is one and the same person.
p
	img(src='/images/' + course + '/grammar/lesson08/03.jpg')
p
	img(src='/images/' + course + '/grammar/lesson08/04.jpg')
p
	| Please, note that sentences with possessive pronouns and sentences with the reflexive-possessive pronoun "свой" differ in meaning:
p
	img(src='/images/' + course + '/grammar/lesson08/05.jpg')
table
	tr
		td
			| Это Ве́ра и её маши́на.
			br
			| Она е́здит на рабо́ту на свое́й маши́не.
		td
			| Это Кири́лл и его́ маши́на.
			br
			| Он е́здит на рабо́ту на свое́й маши́не.
	td
		img(src='/images/' + course + '/grammar/lesson08/06.jpg', width='50%')
	td
		img(src='/images/' + course + '/grammar/lesson08/07.jpg')

