h2 Expressiong a person's state
p
	| To describe a physical or mental state of a person, we use an impersonal construction “verb + adverb”. The noun or pronoun describing a person in this or that state or mood, changes to the Dative case.
table
	tr
		td Мальчику грустно одному.
		td Друзьям в цирке весело.
	tr
		td
			img(src='/images/' + course + '/grammar/lesson07/13.jpg', width='40%')
		td
			img(src='/images/' + course + '/grammar/lesson07/14.jpg', width='70%')
	tr
		td Людям было жарко.
		td Ему было холодно.
	tr
		td
			img(src='/images/' + course + '/grammar/lesson07/15.jpg', width='60%')
		td
			img(src='/images/' + course + '/grammar/lesson07/16.jpg')
	tr
		td Вам будет там интересно!
		td Без тебя ему будет грустно.
	tr
		td
			img(src='/images/' + course + '/grammar/lesson07/17.jpg', width='70%')
		td
			img(src='/images/' + course + '/grammar/lesson07/18.jpg', width='80%')
br
center
	img(src='/images/' + course + '/grammar/lesson07/19.jpg')
p
	| Attention! When we describe a state of a person, the verb "быть" is used in it’s zero form. In the past tense it changes to "было" (third person singular neuter) , and in the future tense it changes to "будет" (3 person singular).

