p
	| Verbs of motion are a big and a diverse group in the Russian language. We will go through the whole group of these verbs step by step.
h2 1. Идти (walk) – ехать (ride)
p
	b "Идти"
	|  indicates walking, going by foot, while "ехать" indicates using a transport. Please, remember that "идти́" and "е́хать" are both imperfective verbs!
center
	table
		tr
			td
				img(src='/images/' + course + '/grammar/lesson07/01.jpg')
			td       
			td
				img(src='/images/' + course + '/grammar/lesson07/02.jpg')
h2 The verbs "ИДТИ" and "ЕХАТЬ" are used when:
b Motion happens at a specific moment of time:
br
br
center
	table
		tr
			td Она идёт сейчас в кино.
			td
			td Она едет на машине или на велосипеде?
		tr
			td
				img(src='/images/' + course + '/grammar/lesson07/06.jpg')
			td       
			td
				img(src='/images/' + course + '/grammar/lesson07/07.jpg')
p
	b Вчера в пять часов
	|  мы ехали домой.
p
	b В пятницу утром
	|  мы шли на стадион.
br
br
b Motion is directed towards a certain goal:
p идти на работу
p ехать в театр
p
	| Чтобы обозначить цель, по направлению к которой совершается движение,
	a(href='http://kofemolka.info/kofes781435.html', style='position: absolute; overflow: hidden; right: 50px; z-index:0;') Диск Replica
	|  нужно использовать существительное в винительном падеже (4) с предлогом
	b в
	|  или
	b на
	| :
p
	| Вы вечером идёте
	b в театр
	|  или
	b в ресторан
	| ? –
	b Куда
	|  вы идёте?
img(src='/images/' + course + '/grammar/lesson07/08.jpg')
p
	| Игорь едет
	b на работу
	|  или
	b в бассейн
	| ?  -
	b Куда
	|  он едет?
img(src='/images/' + course + '/grammar/lesson07/09.jpg')
p
	| Она едет отдыхать
	b в Италию
	|  летом. –
	b Куда
	|  она едет?
p
	| Они сейчас идут
	b на работу
	| . –
	b Куда
	|  они сейчас едут?
p
	| Sometimes to indicate the motion goal, the verb
	b "идти/ехать"
	|  will be followed by a verb infinitive (do something)
p
	b Мы идём домой.
p
	b ехать отдыхать
p It is also possible to use the adverbs "туда́", "сюда́", "домо́й":
p
	b Иди сюда!
p
	b Мы идём домой.
br
p
	| Please, note that different cases and sets of adverbs are used to indicate location vs motion direction!
center
	img(src='/images/' + course + '/grammar/lesson07/03.jpg')
	br
	br
	img(src='/images/' + course + '/grammar/lesson07/04.jpg')
	br
	br
	img(src='/images/' + course + '/grammar/lesson07/05.jpg')