h2
	| Expressing a wish or need to have a certain object: construction with the word "нужен" (is needed)
p
	| 1. As you know, in Russian when we want to say that it’s necessary "to perform an action", we normally use the following construction:
center
	img(src='/images/' + course + '/grammar/lesson07/10.jpg')
p Мне нужно работать. Ивану надо идти сегодня в поликлинику.
p Марте нужно было вчера прочитать статью
p Студентам надо будет рассказать о себе на экзамене.
p Please, note! The words "надо. нужно" are adverbs, they never change!
p
	| When we want to say that somebody needs to have something, we use another construction:
center
	img(src='/images/' + course + '/grammar/lesson07/11.jpg')
p Мне нужна эта книга. Мне нужен директор.
p Нам нужно испанское посольство.
p Вам нужны новые учебники.
p
	| Attention! The short form of the adjective (нужен, нужна…) changes according to the gender and number of the noun denoting the object:
p машина – нужна
p билет  - нужен
p объяснение - нужно
p деньги – нужны.
center
	img(src='/images/' + course + '/grammar/lesson07/12.jpg')
