h1 Reflexive verbs
p
	| There is a gorup of verbs in Russian that end in
	b -ся
	| .
	b Ся
	|  is a reduction of a reflexive pronoun
	b себя
	|  that became a part of a verb. Compare:
p
	| фотографировать себя = фотографировать
	b ся
p
	| одевать себя = одевать
	b ся
p
	| Such verbs are called "reflexive". They conjugate a bit differently: a personal verbal ending is added not at the end but rather is placed between the verb's stem and the particle
	b -ся
	| . Please, note that the particle itself also changes depending on the ending.
table
	tr
		td
			img(src='/images/' + course + '/grammar/lesson09/09.jpg')
		td  
		td
			img(src='/images/' + course + '/grammar/lesson09/10.jpg')
p
	| Reflexive "-ся"  verbs can also indicate a reciprocal action. In this case "-ся" means
	b "друг друга"
	|  (each other):
table
	tr
		td
			img(src='/images/' + course + '/grammar/lesson09/11.jpg')
		td  
		td
			img(src='/images/' + course + '/grammar/lesson09/12.jpg')
			br
			br
	tr
		td
			img(src='/images/' + course + '/grammar/lesson09/13.jpg')
		td  
		td
			img(src='/images/' + course + '/grammar/lesson09/21.jpg')
			br
			br
	tr
		td
			img(src='/images/' + course + '/grammar/lesson09/14.jpg')
		td  
		td
			img(src='/images/' + course + '/grammar/lesson09/15.jpg')
p
	| Please, note! Reflexive verbs exibit the same root consonant alternation patterns and suffixes changes as non-reflexive verbs.
h1 Dative Case
h2 Dative case indicating an addressee
p
	| When we speak, we usually address somebody. A person whom a speech or action addresses is usually indicated by a noun in the Dative case (3). The noun answers the question КОМУ? (to whom?)
img(src='/images/' + course + '/grammar/lesson09/16.jpg')
br
br
img(src='/images/' + course + '/grammar/lesson09/17.jpg')
p
	| In Russian animate and inanimate nouns indicating the adressee are put in the Dative case (3) and after a verb.
img(src='/images/' + course + '/grammar/lesson09/18.jpg')
p
	| Attention! Nouns denoting direct objects take the Accusative case (4). Nous denoting indirect objects (addressees) take the Dative case (3).
p After some verbs you can use an infinitive to describe an action more precisely.
img(src='/images/' + course + '/grammar/lesson09/19.jpg')
p
	| 1. In the Russian language, nouns in the Dative case are also used to indicate an addressee of a letter/email or a telegram.
p
	| 2. When we talk about cultural and historic monuments, a noun indicating the person to whom the monument is dedicated, also always takes the Dative case.
p
	| Памятник Пушкин
	b у
p
	| Памятник Чайковск
	b ому
p
	| Памятник Петру Перв
	b ому
p
	| 3. If a motion is directed towards a person, we also use the Dative case with the preposition "К":
p
	| Марина сейчас едет в гости
	b к
	|  Петр
	b у
	| .
p
	| Вера вечером Иван пришел
	b к
	|  Татьян
	b е
	|  на день рожденья.
p Compare:
p
	| Идти, ехать  (куда? – место – Винительный падеж)  - в театр, на выставку, на работу
p
	| Идти, ехать (к кому? – человек – Дательный падеж) - к Маше, к Виктору, к родителям
h1 Verbs of motion with prefixes
p
	| Adding prefixes to the verbs "ИДТИ́ / Е́ХАТЬ" creates verbs with new connotations. The most commonly used prefixes are ПО-, ПРИ- and У-.
p
	| REMEMBER! The verbs "прийти́ / прие́хать", "по́йти / пое́хать", "уйти́ / уе́хать" are perfective verbs!
h2 ПРИЙТИ, ПРИЕХАТЬ
p
	| When a motion is directed towards an objective, and we want to say that we have (or haven’t) reached it, we use verbs with the prefix ПРИ-: "прийти" and "приехать". These verbs are also perfective.
img(src='/images/' + course + '/grammar/lesson09/22.jpg', width='250pt')
p Он пришёл на рабо́ту. = Он на рабо́те.
img(src='/images/' + course + '/grammar/lesson09/23.gif', width='250pt')
p Он прие́хал в Москву́. = Он в Москве́.
p The verbs "прийти́ / прие́хать" can also mean “to return”.
img(src='/images/' + course + '/grammar/lesson09/24.gif')
p
	| "Я до́лго гуля́ла вче́ра и пришла́ (= верну́лась) домо́й то́лько в 11 ве́чера" - "Yesterday I walked for a long time and came home only at 11 pm."
p Take a look at how these verbs conjugate:
img(src='/images/' + course + '/grammar/lesson09/25.jpg')
img(src='/images/' + course + '/grammar/lesson09/26.jpg')
h2 ПОЙТИ, ПОЕХАТЬ
p
	| The verbs ПОЙТИ́ and ПОЕ́ХАТЬ are derived from the verbs ИДТИ́ и ЕХ́АТЬ; the prefix ПО- is added, and they become perfective verbs. Take a look at how "идти́ / пойти́", "е́хать / пое́хать" conjugate and compare them:
center
	p
		img(src='/images/' + course + '/grammar/lesson07/30.jpg')
	p
		img(src='/images/' + course + '/grammar/lesson07/31.jpg')
p Verbs with the prefix "ПО-" are used in the following cases:
p
	| 1.To express a wish, intention or ability to go somewhere, we use the construction: хоте́ть, мочь + пойти / поехать:
p Я хочу́ пойти́ в кино́.
p Я могу́ пое́хать в Петербу́рг че́рез неде́лю.
p Вы хоти́те пойти́ на конце́рт за́втра?
p Ты мо́жешь пое́хать на метро́?
p
	| 2. The prefix "ПО-" indicates the beginning of a motion, therefore "пойти / поехать" are used to indicate the beginning of a motion in a particular direction:
center
	table
		tr
			td Она пошла в кино́.
			td Он пое́хал в Ки́ев.
		tr
			td
				img(src='/images/' + course + '/grammar/lesson07/32.jpg', width='320pt')
			td
				img(src='/images/' + course + '/grammar/lesson07/33.jpg', width='350pt')
p
	| To describe a succession of movements, we also use verbs with the "ПО-" prefix to indicate a beginning of each successive motion.
img(src='/images/' + course + '/grammar/lesson07/34.jpg', width='750pt')
p
	| Вчера́ я снача́ла пошла́ в магази́н, пото́м пошла́ в кино́, пото́м пошла́ в парк, пото́м пое́хала к подру́ге.
p – Каки́е у тебя́ пла́ны на за́втра?
p
	| – У́тром в пое́ду на ры́нок, пото́м пое́ду в магази́н, пото́м пойду́ в бассе́йн, а ве́чером пойду́ с дру́гом в рестора́н.
p
	| Please, note! To denote one and the same event that took place before, is taking place now or will take place in the future, in the Russian language three different verbs of motion are used:
p Вчера́ А́нна ходи́ла в кино́. = А́нна была́ в кино́.
p А́нна идёт в кино́ сейча́с. = А́нна сейча́с на пути́ в кино́.
p А́нна пойдёт в кино́ за́втра.
h2 УЙТИ, УЕХАТЬ
p
	| To indicate the point of departure, we use verbs with the prefix "У-" (уйти́ or уе́хать), and a noun in the Genetive case with prepositions "ИЗ" or "С" (from) to indicate the place of departure itself.
p Андрей уе́хал из Москвы. = Андрей не в Москве.
p
	| Attention! Regardless of the stage of motion and the verb we use to describe it, the departure point is always indicate by the prepositions ИЗ/С + Genetive case (2), while the destination (or objective) is denoted by the prepositions "В/НА" + Accusative case (4).
p Андре́й уе́хал / пое́хал / е́дет / прие́хал из Москвы в Петербург.
img(src='/images/' + course + '/grammar/lesson09/27.jpg')
p О́льга ушла́ / пошла́ / идёт / пришла́ с рабо́ты на дискоте́ку.
img(src='/images/' + course + '/grammar/lesson09/28.jpg', width='710pt')
p Take a look at how the verbs "уйти́" and "уе́хать" conjugate:
img(src='/images/' + course + '/grammar/lesson09/29.jpg')
img(src='/images/' + course + '/grammar/lesson09/30.jpg')

