extends ../../layout

block title
	title ДОБАВИТЬ УРОК

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/add.js')

block content
	.form_block
		a.back_link(href='/auth') < Назад
		.title РЕДАКТИРОВАТЬ УРОК
		form(action="", method="post")
			.form_title Заголовок:
			input.locale(type="text", name="ru[title]", value=lesson.i18n.title.get('ru'))
			.form_title Описание:
			textarea.locale(name="ru[description]", rows="8",)=lesson.i18n.description.get('ru')
			.form_title Видимость:
			select(name='visible')
				option(value='true', selected=lesson.visible) Да
				option(value='false', selected=lesson.visible) Нет
			br
			br
			input(type='submit', value='отправить')