extends ../../layout

block title
	title СПИСОК УРОКОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/js/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК УРОКОВ
	br
	.main_menu_block
		a(href='/auth/lessons/courses/' + course._id + '/add') добавить урок
		br
		br
		each lesson in course.lessons
			.lesson
				a.rm_lesson(href='#', id=lesson._id)= 'удалить '
				!=' | '
				a(href='/auth/locale/lessons/' + lesson._id) перевод
				!=' | '
				a(href='/auth/lessons/courses/' + course._id + '/edit/' + lesson._id)= lesson.i18n.title.get('ru')
				b= ' ---> '
				a(href='/auth/blocks/lessons/' + lesson._id) блоки
				br
				br