extends ../../layout

block title
	title СПИСОК УРОКОВ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК УРОКОВ
	br
	.main_menu_block
		each lesson in lessons
			.lesson
				a.rm_lesson(href='#', id=lesson._id)= 'удалить '
				!=' | '
				a(href='/auth/locale/lessons/' + lesson._id) перевод
				!=' | '
				a(href='/auth/edit/lessons/' + lesson._id)= lesson.title.ru.value
				b= ' ---> '
				a(href='/auth/blocks/lessons/' + lesson._id) блоки
				br
				br