.lesson_block_item
	.block_item_title Consonants. Part 2

	.block_item_study
		.study_title Learn
		.study_set.exercises
			.set_item.exercise(class='l3_b1_exs1_words') Consonants Г, К and Х
			.set_item.exercise(class='l3_b1_exs2_words') Consonants Л and Р