.lesson_block_item
	.block_item_title Vowels, Part 1. Vowels Ы (Y) and И (I)

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b1_exs1_words') Video
			.set_item.exercise(class='l2_b1_exs2_words') Video

.lesson_block_item
	.block_item_title Consonants, Part 1: Hard Consonants

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b2_exs1_words') Video

.lesson_block_item
	.block_item_title Syllables, Part 1

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l2_b3_exs1_words') Video

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l2_b3_exs2_words') Syllables: Test yourself