.lesson_block_item
	.block_item_title Vowels, Part 2. Letters Е, Ё, Ю, Я and Й

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l3_b1_exs1_words') Video

.lesson_block_item
	.block_item_title Consonants, Part 2: Soft Consonants. Soft Sign

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l3_b2_exs1_words') Video