.lesson_block_item
	.block_item_title Short I and Vowels Е, Ё, Ю, Я

	.block_item_study
		.study_title Learn
		.study_set.exercises
			.set_item.exercise(class='l5_b1_exs1_words') Short I (Й) and Vowels Е, Ё, Ю, Я
			.set_item.exercise(class='l5_b1_exs2_words') Soft Consonants. Part 1