.lesson_block_item
	.block_item_title Reading Rules, Part 1: Reduction of Vowels A, O in Unstressed Position

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l3_b1_exs1_words') Video

.lesson_block_item
	.block_item_title Reading Rules, Part 2: Devocalization and Vocalization of Consonants

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l3_b2_exs1_words') Video