h2 Существительные множественного числа (продолжение)
p
	span
		| Существительные мужского рода, которые оканчиваются на -г, -к, -х, -ж, -ш, -ч, -щ, и существительные женского рода, которые оканчиваются на -га, -ка, -ха, -жа, -ша, -ча, -ща, образуют множественное число с помощью буквы И:
div
	| бан
	u к
	|  – бан
	u к
	b и
div
	| эта
	u ж
	|  - эта
	u ж
	b и
div
	| девуш
	u к
	| а – девуш
	u к
	b и
div
	| кни
	u г
	| а – кни
	u г
	b и
	| .
div  
p
	span Следует запомнить особые формы образования множественного числа.
div
	| брат – бра́т
	b ья
	span
		| дом – дом
		b а́                
		| ребё́нок –
		b де́ти
div
	| стул – сту́л
	b ья
	span
		| город – город
		b а́
		|            челове́к –
		b лю́ди
div
	| друг – дру
	u з
	b ья́
	span              адрес – адреса
p
	span
		| Существительные заимствованные с конечными гласными –о, -а, -и, -у не меняют свою форму во множественном числе: такси = такси, метро = метро, пальто = пальто.
p
	span
		| В русском языке есть существительные, имеющие только форму множественного числа: д
		b жинсы, деньги, очки, часы
		|  (наручные).
img(src='/time_new/images/grammar/lesson02/ls2s2t1.gif')
p
	b Запомните!
	|  Это – исключения.
img(src='/time_new/images/grammar/lesson02/tabl.jpg')

