div Катя, ну, скажи, мне, пожалуйста, почему ты не хочешь идти в театр пешком?
div Андрей, я очень устала. Давай поедем в театр на транспорте: на машине, на такси, на троллейбусе. Мне всё равно!
div И почему ты устала? Сейчас утро, погода хорошая.. Как приятно идти пешком по центру Москвы!
div Я устала, потому что мы ехали сюда очень долго. Мы живём не в центре Москвы…
div Да, мы живем на окраине, я это хорошо помню.
div Вот, ты помнишь: сначала мы шли пешком от дома до остановки автобуса почти полчаса.
div Потом ждали автобус ещё 15 минут, и было очень холодно. Потом мы ехали на автобусе ещё 17 минут.
div Как точно ты всё помнишь!
div Да, помню, потому что мне было холодно. Потом мы сели на метро…
div Катя, в метро было тепло!
div Да, в метро мне было тепло, но мы ехали на метро почти час!
div Мы сделали две пересадки: сначала на станции Курская, а потом на станции Комсомольская. И теперь я хочу взять такси.
div А ты предлагаешь идти пешком - я тебя просто не понимаю!
div Послушай меня…
div Извините, пожалуйста, мне нужен Дом Журналиста. Я знаю адрес: Никитский бульвар, дом 5.
div Вот Никитский бульвар, вот здесь на карте, но я не могу понять, куда я должен сейчас идти - направо или налево.
div Вы не подскажете, куда мне идти?
div Вам нужен Дом Журналиста? Вам повезло: мы тоже идем туда.
div Андрей, мы не идём в Дом Журналиста, нам нужна касса театра!
div И мы хотели ехать туда на такси…
div Но мы должны помочь , э… как вас зовут?
div Меня зовут Джон, я канадец.
div Вот, Джон, ему надо помочь, потому что он канадец и не знает, куда идти.