ul
	li Катя, ну, скажи, мне, пожалуйста, почему ты не хочешь идти в театр пешком?
	li Андрей, я очень устала. Давай поедем в театр на транспорте: на машине, на такси, на троллейбусе. Мне всё равно!
	li И почему ты устала? Сейчас утро, погода хорошая.. Как приятно идти пешком по центру Москвы!
	li Я устала, потому что мы ехали сюда очень долго. Мы живём не в центре Москвы…
	li Да, мы живем на окраине, я это хорошо помню.
	li Вот, ты помнишь: сначала мы шли пешком от дома до остановки автобуса почти полчаса.
	li Потом ждали автобус ещё 15 минут, и было очень холодно. Потом мы ехали на автобусе ещё 17 минут.
	li Как точно ты всё помнишь!
	li Да, помню, потому что мне было холодно. Потом мы сели на метро…
	li Катя, в метро было тепло!
	li Да, в метро мне было тепло, но мы ехали на метро почти час!
	li Мы сделали две пересадки: сначала на станции Курская, а потом на станции Комсомольская. И теперь я хочу взять такси.
	li А ты предлагаешь идти пешком - я тебя просто не понимаю!
	li Послушай меня…
	li Извините, пожалуйста, мне нужен Дом Журналиста. Я знаю адрес: Никитский бульвар, дом 5.
	li Вот Никитский бульвар, вот здесь на карте, но я не могу понять, куда я должен сейчас идти - направо или налево.
	li Вы не подскажете, куда мне идти?
	li Вам нужен Дом Журналиста? Вам повезло: мы тоже идем туда.
	li Андрей, мы не идём в Дом Журналиста, нам нужна касса театра!
	li И мы хотели ехать туда на такси…
	li Но мы должны помочь , э… как вас зовут?
	li Меня зовут Джон, я канадец.
	li Вот, Джон, ему надо помочь, потому что он канадец и не знает, куда идти.