extends ../../../index.jade

block vars
	- var task = 'Answer the question'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['Cтолица России — Cанкт-Петербург.', 'Санкт-Петербург, Москва и Сочи — это города России.', 'Вот центр, там слева — аэропорт.', 'Москва-река — это город.', 'Кремль — это центр Москвы.']
			include ../../../types/text.jade

	.exercise_column
		.exercise_blocks_block
			- var questions = [{'qs': ['Да', 'Нет'], 'answer': 1}, {'qs': ['Да', 'Нет'], 'answer': 0}, {'qs': ['Да', 'Нет'], 'answer': 0}, {'qs': ['Да', 'Нет'], 'answer': 1}, {'qs': ['Да', 'Нет'], 'answer': 0}]
			include ../../../types/question_mute.jade