extends ../../../index.jade

block vars
	- var task = 'View an episode, and complete a phrase.'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/video/' + ex_path + '/' + ('0' + select).slice(-2) + '.mp4'
			include ../../../types/video.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			- var questions = [{'qs': ['Я Анто́нио, ме́неджер.', 'Я Мари́я, я то́же тури́стка.', 'Нет, я не до́ктор.'], 'answer': 1}]
			include ../../../types/question_mute.jade