div Когда мы познакомились с Юлей на концерте в клубе, я узнал,что она интересуется современной музыкой.
div Все наши друзья интересуются джазом, но Юля музыкант, она флейтистка, хорошо играет на флейте.
div Я слышал, как она с друзьями импровизирует в джазе - это фантастика!
div Импровизация в джазе - самое главное, это я вам говорю как профессионал.
div Может, попробуем сыграть что-нибудь вместе? Это будет здорово!
div Вот это, Джон, и был сюрприз, о котором я тебе говорила.
div А еще Юля москвичка, она может показать тебе такие интересные места в столице, которые никто не покажет.
div Ты куда хочешь пойти в Москве, что посмотреть?
div Мне всё интересно: я интересуюсь архитектурой, скульптурой, литературой, искусством и особенно музыкой.
div Очень хочу пойти послушать русскую музыку в Москве.
div А я помню, что Джон мечтал осмотреть в Москве все памятники: памятник Пушкину, памятник Чайковскому, памятник Толстому, памятник Ленину …
div Э, Лева, .. стоп, хватит! Не очень удачная шутка!
div Я не могу посмотреть все памятники в Москве, мне времени не хватит!
div Ладно, ладно, я только пошутил…
div Друзья, давайте за стол!
div Сегодня такой прекрасный день: у Юли день рожденья, и к нам неожиданно приехал канадский музыкант, который любит джаз.