ul
	li Когда мы познакомились с Юлей на концерте в клубе, я узнал,что она интересуется современной музыкой.
	li Все наши друзья интересуются джазом, но Юля музыкант, она флейтистка, хорошо играет на флейте.
	li Я слышал, как она с друзьями импровизирует в джазе - это фантастика!
	li Импровизация в джазе - самое главное, это я вам говорю как профессионал.
	li Может, попробуем сыграть что-нибудь вместе? Это будет здорово!
	li Вот это, Джон, и был сюрприз, о котором я тебе говорила.
	li А еще Юля москвичка, она может показать тебе такие интересные места в столице, которые никто не покажет.
	li Ты куда хочешь пойти в Москве, что посмотреть?
	li Мне всё интересно: я интересуюсь архитектурой, скульптурой, литературой, искусством и особенно музыкой.
	li Очень хочу пойти послушать русскую музыку в Москве.
	li А я помню, что Джон мечтал осмотреть в Москве все памятники: памятник Пушкину, памятник Чайковскому, памятник Толстому, памятник Ленину …
	li Э, Лева, .. стоп, хватит! Не очень удачная шутка!
	li Я не могу посмотреть все памятники в Москве, мне времени не хватит!
	li Ладно, ладно, я только пошутил…
	li Друзья, давайте за стол!
	li Сегодня такой прекрасный день: у Юли день рожденья, и к нам неожиданно приехал канадский музыкант, который любит джаз.