div Па́спорт, пожа́луйста!
div Па́спорт? Пожа́луйста, вот он.
div Так, па́спорт: фами́лия, страна́, хорошо́.
div А где ви́за?
div А ви́за? Вот она́.
div Так, па́спорт тут, ви́за то́же тут, хорошо́.
div Вы тури́ст?
div Да, я тури́ст. И музыкант.
div Хорошо́.
div Па́спорт, пожа́луйста.