extends ../../index.jade

block vars
	- var task = 'Dialogue'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/video/' + ex_path + '/' + ('0' + select).slice(-2) + '.mp4'
			include ../../types/video.jade

	.exercise_column
		.exercise_blocks_block
			if (select == 1)
				include ../../../text/exercises/l5/b2/exs5/01.jade
			//- if (select == 2)
				include ../../../text/exercises/l2/b1/exs5/02.jade