extends ../../../index.jade

block vars
	- var task = 'Listen, repeat, and read words'
	- var items = 17

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['аэропо́рт', 'музыка́нт', 'па́спорт', 'ви́за', 'телефо́н', 'тури́ст', 'студе́нт', 'клю́ч', 'очки́', 'компью́тер', 'журна́л', 'газе́та', 'биле́т', 'ка́рта', 'кни́га', 'докуме́нты', 'де́ньги']
			include ../../../types/text.jade
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../../types/audio.jade
