extends ../../../index.jade

block vars
	- var task = 'Divide words into groups:'
	- var items = 1
	- var words = [{'word':'ключ', 'position': 1}, {'word':'компьютер', 'position': 1}, {'word':'карта', 'position': 2}, {'word':'бизнесмен', 'position': 1}, {'word':'яблоко', 'position': 3}, {'word':'виза', 'position': 2}]

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/exercises/' + ex_path + '/'
			include ../../../types/drag.jade

	.exercise_column
		.exercise_blocks_block
			//- include types/audio.jade
