div Да, мама, здравствуй. Я рад тебя слышать.
div У меня всё в порядке, я в Москве.
div Почему ты не звонил? Я не знаю, где ты, как твои дела. В России очень холодно, снег.
div Я не знала, что думать, потому что самолёт – это всегда очень опасно…Джон, ты меня слышишь?
div Мама, мама, я тебя слышу хорошо. У меня всё нормально: я уже в гостинице.
div У меня очень хороший номер – чистый и удобный. Сейчас я в ресторане, завтракаю.
div Ты помнишь, что я люблю красную икру? Она у нас в Канаде очень дорогая!
div А я сейчас ем красную икру и блины здесь, в России. Это совсем недорого и очень вкусно!
div Я рада, что у тебя всё в порядке и что ты хорошо завтракаешь. Скажи, а Москва – город маленький или большой?
div Конечно, большой, очень большой!
div Я видел Москву ещё только из такси, но понял, что в Москве есть широкие проспекты,
div длинные и короткие улицы, дома старые и новые, высокие и невысокие.
div На улице не очень холодно. Погода здесь, как дома, в Канаде: везде снег, очень красиво…
div Где твоя гостиница – далеко от Кремля или в центре?
div Я ещё не знаю, думаю, что недалеко.
div Да, у меня в Москве уже есть новый знакомый, можно сказать друг, его зовут…
div Я уже поняла! Это не «он», а «она», её зовут Мария!
div Молодец! Мне нравится, что у тебя в Москве уже есть подруга.
div Она красивая? Высокая? Какие у неё глаза – голубые или нет?
div А волосы короткие? Где ты встретил её – в самолёте, в аэропорту, в гостинице? А...
div Нет, мама, ты всё поняла неправильно! Я сказал «знакомый», а не «знакомая»!
div Его зовут Лёва, сейчас он тоже живёт в гостинице, где я живу.
div Он украинец, у него большая семья, они живут в Киеве…
div Как?! Почему украинец живёт в Киеве? Украинцы живут в Канаде.
div Ты помнишь, когда ты был в школе, у тебя были друзья, не помню, как их зовут…
div Он понимает по-русски? Или вы говорите только по-английски?
div Может быть, ты понимаешь по-украински?!
div Мама, не надо, пожалуйста! Я не понимаю по-украински, мы говорим по-русски.
div Извини, сейчас мне надо платить за завтрак, не могу говорить.
div Сегодня вечером или завтра вечером я позвоню тебе. До свидания!