ul
	li Снег. Зи́ма. Хо́лодно.
	li Нет, нет, не хо́лодно. Норма́льно.
	li Почему́ не хо́лодно?
	li Сейча́с зима́, э́то норма́льно.
	li Я - кана́дец.
	li Иностра́нец? Не мо́жет быть.
	li Пра́вда. Пра́вда.
	li Вот мой па́спорт. Вот моя́ ви́за.
	li Вот моя́ страна́ - Кана́да.
	li Как Вас зову́т?
	li Меня́ зову́т Джон Де́йсон.
	li Моё и́мя Джон.
	li Моя́ фами́лия Де́йсон.
	li А я Ива́н. Меня́ зову́т Ива́н Васи́льевич.
	li Фами́лия Петро́в.
	li Вы, мо́жет быть, банки́р?
	li Почему́ банки́р?
	li Нет, я не банки́р, я музыка́нт.
	li Но здесь я тури́ст.
	li Вот моя́ визи́тка.
	li Спаси́бо. Здесь есть ваш телефо́н?
	li Коне́чно, вот здесь мой телефо́н:
	li во́семь
	li де́вять
	li оди́н
	li пять
	li четы́ре
	li пять пять
	li шесть три
	li два
	li три
	li семь
	li Вот ва́ша гости́ница «Ко́смос». Всего́ хоро́шего!
	li Спаси́бо большо́е. До свида́ния!