extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Сделайте правильный выбор.
						ol
							li!= item('Сегодня вторник. Вчера был {list:понедельник|вторник|среда|четверг|пятница|суббота|воскресенье}.')
							li!= item('Сегодня пятница. Вчера был {list:четверг|вторник|среда|понедельник|пятница|суббота|воскресенье}. А завтра – выходной, {list:суббота|вторник|среда|четверг|пятница|воскресенье|понедельник}')
							li!= item('Вчера было {list:воскресенье|вторник|среда|четверг|пятница|суббота|понедельник}, я не работала. А сегодня уже {list:понедельник|вторник|среда|четверг|пятница|суббота|воскресенье}.')
							li!= item('Не помню, какой день был вчера? Так, сегодня четверг, значит, вчера была {list:среда|вторник|понедельник|четверг|пятница|суббота|воскресенье}.')