extends ../../../index.jade

block vars
	- var task = 'Listen, repeat, read:'
	- var items = 7

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['самоле́т далеко́', 'самоле́т недалеко́', 'сне́г везде́', 'сне́га не́т нигде́', 'высо́кая де́вушка впереди́, невысо́кая сза́ди', 'Два́ плю́с два́ равно́ четыре́ - это́ пра́вильно.', 'Два́ плю́с два́ равно́ пя́ть - это́ не́пра́вильно']
			include ../../../types/text.jade
			- var path = '/images/' + course + '/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + course + '/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../../types/audio.jade
