h2 GENITIVE CASE AFTER NUMERALS
p To indicate a precise quantity, we use the construction "a numeral plus a noun".
p
  | When there is one object, a noun is always in the Nominative case and a numeral agrees with the noun's gender:
br
b один
|  час
br
b одна
|  минута
br
b одно
|  такси
br
br
p
  | If there are more objects than one, the construction "a numeral + a noun in Genitive singular or plural" is used. Please, study the tables.
table
  tr
    td
      b числительное +существительные мужского рода:
      br
      img(src='/images/' + course + '/grammar/lesson06/8.jpg')
  tr
    td
      b числительное + существительные женского рода:
      br
      img(src='/images/' + course + '/grammar/lesson06/9.jpg')
p Please, note! The noun agrees with the last numeral!
| 20 (двадцать) рублей, долларов
br
| 21 (двадцать
b один
| ) рубль, доллар
br
| 22 (двадцать
b два
| ) рубля, доллара
br
| 25 (двадцать
b пять
| ) рублей, долларов
br
| 30 (тридцать) минут
br
| 31 (тридцать одна) минута
br
| 32 (тридцать две) минуты
br
| 35 (тридцать пять) минут
br
p
  | Please, note the word forms:
  b два / две
  |  ("two")
  br
  br
  | два студента, два доллара (2 + существительные мужского рода)
  br
  b две
  |  студентки,
  b две
  |  книги (2 + существительные женского рода)
p
  | The invariant (never changing) nouns (see the section "Plural Nouns (continued)") do not change their form even when counted.
| 1 один евро,  одно интервью, одно такси
br
| 2 (два) евро, интервью, такси
br
| 5 (пять) евро, интервью, такси
br
h2 Complex sentence with the word «который» (which, that)
p
  | To describe a person or inanimate object (i.e. to answer the question: какой? = what is it like?), we can use a complex sentence with the word "который".
| Например:
br
| Это человек. Он меняет деньги.
br
| Какой это человек? – Это человек, который меняет деньги.
br
| Это девушка. Она работает в банке.
br
| Какая это девушка? – Это девушка, которая работает в банке.
br
img(src='/images/' + course + '/grammar/lesson06/bank.jpg')
p
  | The word "который" behaves as an adjective: it is inflected for gender and number to agree with the word it serves as a substitute for.
| человек – он – который
br
| девушка – она – которая
br
| люди – они – которые
p
  | The same happens when the word "который" serves as a substitute for the inanimate noun:
| стол - он - который
br
| книга - она - которая
br
| дерево - оно - которое
br
| книги - они - которые
br
br
b Please, remember!
p
  | The form of the word "который" is determined by its function in a subordinate clause, not in the principal one! Please, consult the tables: the clause that starts with the word "который" doesn't change, and it can be added to any principal clause from the left column.
img(src='/images/' + course + '/grammar/lesson06/on.jpg')
br
br
img(src='/images/' + course + '/grammar/lesson06/ona.jpg')
br
br
img(src='/images/' + course + '/grammar/lesson06/ono.jpg')
br
br
img(src='/images/' + course + '/grammar/lesson06/oni.jpg')
