extends ../../../index.jade

block vars
	- var task = 'Listen to the recording and write down a number you will hear:'
	- var items = 4

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/' + course + '/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			include ../../../types/audio.jade
			- var sortable = [[8, 9, 16, 34, 1, 56] , [58, 3, 76, 50] , [8, 90, 3, 12, 21] , [12, 6, 76, 68] , [48, 93, 12, 26, 80] , [2, 71, 62, 44] , [8, 78, 5, 20, 90] , [6, 34, 8, 14, 56] , [9, 35, 89, 94]]
			include ../../../types/sort.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + course + '/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../../types/audio.jade
