extends ../../index.jade

block vars
	- var task = 'Ответьте на вопрос'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../types/image.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			- var questions = [{'qs': ['Он кана́дец.', 'Он украи́нец.'], 'answer': 1}, {'qs': ['Рестора́н наверху́.', 'Рестора́н внизу́.'], 'answer': 1}, {'qs': ['Лифт спра́ва.', 'Лифт сле́ва.'], 'answer': 0}, {'qs': ['Э́то молодо́й челове́к.', 'Э́то де́вушка.'], 'answer': 0}]
			include ../../types/question.jade