extends ../../index.jade

block vars
	- var task = 'Compose a word from letters:'
	- var items = 4

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/exercises/' + ex_path + '/' + ('0' + select).slice(-2) + '.png'
			include ../../types/image.jade
			- var sortable = [['д', 'р', 'у', 'з', 'ь', 'я'], ['д', 'е', 'т', 'и'], ['у', 'л', 'и.', 'ц', 'ы']]
			include ../../types/sort.jade

	.exercise_column
		.exercise_blocks_block
			//- - var path = '/audio/' + ex_path + '/' + ('0' + select).slice(-2) + '.m4a'
			//- include ../../types/audio.jade
