extends ../../../index.jade

block vars
	- var task = 'Answer the question'
	- var items = 9

block columns
	.exercise_column
		.exercise_blocks_block
			- var texts = ['Маша решила, что Наташа опаздывает, потому что', 'Вход в дом Маши', 'Наташа не может войти в подъезд,', 'Маша должна нажать код 32В23 решётка,', 'Маша', 'Наташа живёт']
			include ../../../types/text.jade

	.exercise_column
		.exercise_blocks_block
			- var questions = [{'qs': ['она не может войти в подъезд', 'потому что она не может найти её дом', 'потому что она долго ищет её подъезд'], 'answer': 1}, {'qs': ['с улицы', 'со двора', 'с угла'], 'answer': 0}, {'qs': ['потому что не знает код', 'потому что код не работает', 'потому что Наташа сказала неправильный код'], 'answer': 0}, {'qs': ['когда она открывает первую дверь', 'когда она открывает вторую дверь', 'когда она входит в лифт'], 'answer': 0}, {'qs': ['не помнит этаж и номер квартиры Наташи', 'не знает этаж и номер квартиры Наташи', 'перепутала этаж и номер квартиры Наташи'], 'answer': 0}, {'qs': ['на третьем этаже в восьмой квартире', 'на восьмом этаже в третьей квартире', 'на девятом этаже в третьей квартире'], 'answer': 0}]
			include ../../../types/question_mute.jade