.lesson_block_item
	.block_item_title Nouns

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l1_b1_cont1') Occupations. Feminine Nouns: Professions
			.set_item.content(class='l1_b1_cont2') Natinality Nouns (канадец, русский, украинец)
			.set_item.content(class='l1_b1_cont3') Nouns: Number
			.set_item.content(class='l1_b1_cont4') Plural nouns with exceptions


.lesson_block_item
	.block_item_title Cases in Russian

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l1_b2_cont1') Prepositional Case
			.set_item.content(class='l1_b2_cont2') Accusative Case
			.set_item.content(class='l1_b2_cont3') Dative Case