.lesson_block_item
	.block_item_title Syntax

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l7_b1_cont1') Conjunctions (И, НО, ДА, ИЛИ — AND BUT OR)
			.set_item.content(class='l7_b1_cont2') Negation in Russian
			.set_item.content(class='l7_b1_cont3') Complex sentence with the words "ПОЭТОМУ" (that's why) и "ПОТОМУ ЧТО" (because)