.lesson_block_item
	.block_item_title Numerals

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l6_b1_cont1') Ordinal Numerals

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l6_b1_exs1_words') Numerals