.lesson_block_item
	.block_item_title Verbs

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l4_b1_cont1') Introduction
			.set_item.content(class='l4_b1_cont2') When and how to use the verb ЕСТЬ (to have)?
			.set_item.content(class='l4_b1_cont3') Imperative
			.set_item.content(class='l4_b1_cont4') Verb: Past Tense