.lesson_block_item
	.block_item_title Adjectives

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l3_b1_cont1') Question Words: "Какой? Какая? Какое? "(what kind? which one?)
			.set_item.content(class='l3_b1_cont2') Modal Words: рад (glad), уверен (sure), должен (have to), готов (ready), надо / нужно (need)