.lesson_block_item
	.block_item_title Adverbs

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l5_b1_cont1') Using Adverbs «по-русски» with verbs «говорить», «понимать»