.lesson_block_item
	.block_item_title Pronouns

	.block_item_study
		.study_title Notes
		.study_set.content
			.set_item.content(class='l2_b1_cont1') Personal Pronouns
			.set_item.content(class='l2_b1_cont2') Possessive Pronouns
			.set_item.content(class='l2_b1_cont3') Demonstrative Pronouns