.lesson_block_item
	.block_item_title Карта России

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs1_words') Read the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs2_words') Letters: Listen and repeat


.lesson_block_item
	.block_item_title Огромная страна

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs1_words') Read the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs2_words') Letters: Listen and repeat


.lesson_block_item
	.block_item_title Москва, центр

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs1_words') Read the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs2_words') Letters: Listen and repeat
