.lesson_block_item
	.block_item_title Мавзолей

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs1_words') Read the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b1_exs2_words') Listen and repeat


.lesson_block_item
	.block_item_title Храм Василия Блаженного

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs1_words') Read the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs2_words') Listen and repeat


.lesson_block_item
	.block_item_title Русский язык - смеяться или плакать? (глаголы «стоять» и «лежать»)

	.block_item_study
		.study_title Tasks
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs1_words') Read the text

	.block_item_study.statistic
		.study_title Exercises
		.study_set.exercises
			.set_item.exercise(class='l1_b2_exs2_words') Listen and repeat