h2 Местоимения
img(src='/time_new/images/grammar/lesson01/mestoimenia.rus.gif')
ol
  li
    | Притяжательные местоимения всегда согласуются с существительными, к которым они относятся, в роде и числе. Например, мой билет (билет – существительное мужского рода), твоя виза (виза – существительное женского рода), моё яблоко (яблоко – существительное среднего рода), ваши деньги (деньги – существительное множественного числа).
  li
    | Форма местоимений его, её, их не изменяется. Выбор формы местоимений третьего лица  зависит от рода субъекта, которому принадлежит вещь:
    ul
      li Это Антон. Он здесь. Это его билет, его виза, его фото, его деньги.
      li Это Анна. Она там. Это её билет, её виза, её фото, её деньги.
      li Это Антон и Анна. Это они. Это их журнал, их виза, их фото, их деньги.
  li
    | Для того, чтобы задать вопрос к притяжательному местоимению и узнать, кому принадлежит вещь, в русском языке используются специальные формы: чей? чья? чьё? чьи? Выбор формы местоимения зависит от рода и числа существительного, к которому относится вопросительное метоимение:
    ul
      li
        | Это Мария. Это билет. Это её билет. Чей это билет? («билет» мужского рода, поэтому выбран вопрос «чей»).
      li
        | Это Джон. Это виза. Это его виза. Чья это виза? («виза» женского рода – вопрос «чья»).
      li
        | Это Антон. Это яблоко. Это его яблоко. Чьё это яблоко? («яблоко» среднего рода – вопрос «чьё»).
      li
        | Это Анна и Джон. Это деньги. Это их деньги. Чьи это деньги? («деньги» – множественное число, поэтому вопрос «чьи»).

