ul
	li Джон, привет! Ну, как дела? Тебе нравится в Москве?
	li Здравствуй, Лёва! Спасибо, у меня все хорошо. Правда, у меня есть одна проблема…
	li Нет, нет, я не хочу знать твою проблему.
	li Сначала мы завтракаем - потом решаем проблемы.
	li Девушка, меню, пожалуйста!
	li Что Вы хотите заказать?
	li Так, мне салат «Столичный» на закуску - там есть овощи, мне очень нравятся овощи. Потом…
	li У нас есть вкусные супы…
	li Нет, суп я не хочу, сейчас утро, только 11.
	li Посмотрите, может быть, вам понравится горячее блюдо.
	li Вот здесь горячие блюда - у нас очень большой выбор: мясо, рыба, вегетарианские блюда…
	li Очень хорошо… Дайте мне, пожалуйста, курицу.
	li Какой гарнир? Картошка? Рис? Овощи?
	li Дайте картошку.
	li Что хотите пить?
	li Сначала дайте пива «Балтика», а потом... я ещё не знаю.
	li Хорошо. Ваш заказ: курица и картошка, пиво «Балтика», десерт - потом.
	li Так, теперь, Джон, я слушаю тебя. Какая у тебя проблема? Что случилось?
	li Ты знаешь, Лёва, у меня очень большая проблема и я думаю, что…
	li Алло! Алло! Мария, это Вы? Я плохо слышу, я ничего не слышу…
	li Кто это говорит? Мария? А… это ты, мама… Да, да, я сейчас слышу тебя…