div Джон, привет! Ну, как дела? Тебе нравится в Москве?
div Здравствуй, Лёва! Спасибо, у меня все хорошо. Правда, у меня есть одна проблема…
div Нет, нет, я не хочу знать твою проблему.
div Сначала мы завтракаем - потом решаем проблемы.
div Девушка, меню, пожалуйста!
div Что Вы хотите заказать?
div Так, мне салат «Столичный» на закуску - там есть овощи, мне очень нравятся овощи. Потом…
div У нас есть вкусные супы…
div Нет, суп я не хочу, сейчас утро, только 11.
div Посмотрите, может быть, вам понравится горячее блюдо.
div Вот здесь горячие блюда - у нас очень большой выбор: мясо, рыба, вегетарианские блюда…
div Очень хорошо… Дайте мне, пожалуйста, курицу.
div Какой гарнир? Картошка? Рис? Овощи?
div Дайте картошку.
div Что хотите пить?
div Сначала дайте пива «Балтика», а потом... я ещё не знаю.
div Хорошо. Ваш заказ: курица и картошка, пиво «Балтика», десерт - потом.
div Так, теперь, Джон, я слушаю тебя. Какая у тебя проблема? Что случилось?
div Ты знаешь, Лёва, у меня очень большая проблема и я думаю, что…
div Алло! Алло! Мария, это Вы? Я плохо слышу, я ничего не слышу…
div Кто это говорит? Мария? А… это ты, мама… Да, да, я сейчас слышу тебя…