h1 GENITIVE CASE
p
	img(src='/images/' + course + '/grammar/lesson06/t1.gif')
p
	| Expressing absense: Genitive in negative sentenses with the word "
	b НЕТ
	| ".
p
	| To express absence of something or somebody, in Russian we use the negative word "НЕТ" (there is no...) + a noun or a pronoun in the Genetive case to indicate what or who is absent or lacking.
br
br
table(width='100%')
	tr
		td У неё есть собака.
		td
			| У него
			b нет
			|  собак
			b и
			| .
p
	img(src='/images/' + course + '/grammar/lesson06/sob.gif')
p To put a singular noun in the Genetive case, you have to do the following:
p
	img(src='/images/' + course + '/grammar/lesson06/t2.gif')
p
	| Negative pronouns " НИКТО́" (nobody) and "НИЧТО́" (nothing) have the following Genitive case forms: "НИКОГО́" and "НИЧЕГО́".
table(width='100%')
	tr
		td Это зал. Здесь никого́ нет.
		td Это магазин. Здесь ничего́ нет.
	tr
		td
			img(src='/images/' + course + '/grammar/lesson06/1.jpg')
		td
			img(src='/images/' + course + '/grammar/lesson06/2.jpg')
h2 POSSESSION: "ЧЕЙ?" (WHOSE?)
p
	| In Russian the Genitive case (2) is used to indicate WHO possesses an object (and to answer the question ЧЕЙ? ЧЬЯ? ЧЬЁ? ЧЬИ? - Whose object is it? )
table
	tr
		td
			b Это Джон.
			br
			br
			| Это его рюкзак.
			br
			| Чей это рюкзак?
			br
			| Это рюкзак Джона.
			br
			br
			| Это его газета.
			br
			| Чья это газета?
			br
			| Это газета Джона.
		td
			img(src='/images/' + course + '/grammar/lesson06/3.jpg')
		td
			b Это Мария.
			br
			br
			| Это её багаж.
			br
			| Чей это багаж?
			br
			| Это багаж Марии.
			br
			br
			| Это её визитка.
			br
			| Чья это визитка?
			br
			| Это визитка Марии.
br
br
table
	tr
		td
			img(src='/images/' + course + '/grammar/lesson06/4.jpg')
		td
			| -
			b Чей
			|  роман «Идиот»?
			br
			| - «Идиот»  - роман Достоевского.
h2 2. Description or definition (what?)
p
	| The Genitive case is also used to answer the questions: КАКОЙ? КАКАЯ? КАКОЕ? КАКИЕ? (what?)
table
	tr
		td(align='center')
			img(src='/images/' + course + '/grammar/lesson06/5.jpg')
			br
			| Это Пушкин, русский поэт.
		td(align='center')
			img(src='/images/' + course + '/grammar/lesson06/6.jpg')
			br
			| Это Музей Пушкина.
			br
			| (Какой это музей?)
br
br
| Какая это улица? – Это улица Чехова.
br
| Какой это театр? – Это Театр оперы и балета.
h2 3. PART AND WHOLE
p
	| To describe a certain part of a whole object, the combination of two nouns is often used: the first one indicates a part and the second one, used in the Genitive case, indicates the whole object. For example:
table
	tr
		td
			| Это центр города.
			br
			img(src='/images/' + course + '/grammar/lesson06/7.jpg')
br
| Париж –
b столица Франции.
br
| Дай мне
b стакан воды!
br
br
p
	b Please, note!
	br
	| To put such a phrase in a different case, you will need to change the first noun form. But the second noun in the Genitive case will not change. For example:
br
br
| Вот
b центр Москвы.
|  В
b центре Москвы
|  находится
b Театр оперы и балета.
b В Театре оперы и балета
|  работают известные артисты.