ul
	li Па́спорт, пожа́луйста!
	li Па́спорт? Пожа́луйста, вот он.
	li Так, па́спорт: фами́лия, страна́, хорошо́.
	li А где ви́за?
	li А ви́за? Вот она́.
	li Так, па́спорт тут, ви́за то́же тут, хорошо́.
	li Вы тури́ст?
	li Да, я тури́ст. И музыкант.
	li Хорошо́.
	li Па́спорт, пожа́луйста.