.lessons_navigator_block
	.lessons_block.gram
		.circles
			.circle(l_title='Nouns', l_fail='50', l_success='50')
			.circle(l_title='Pronouns', l_fail='50', l_success='50')
			.circle(l_title='Adjectives', l_fail='50', l_success='50')
			.circle(l_title='Verbs', l_fail='50', l_success='50')
			.circle(l_title='Adverbs', l_fail='50', l_success='50')
			.circle(l_title='Numerals', l_fail='50', l_success='50')
			.circle(l_title='Syntax', l_fail='50', l_success='50')
	.dictionary_block
		.dictionary_title Dictionary:
		.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я
	.lesson_navigator_block
		.lesson_navigator_inner