.lessons_navigator_block
	.lessons_block.reading
		.circles
			.circle(l_title='Elementary level', l_fail='50', l_success='50')
			.circle(l_title='Basic level', l_fail='50', l_success='50')
			.circle(l_title='Advanced level', l_fail='50', l_success='50')
	.dictionary_block
		.dictionary_title Dictionary:
		.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я
	.lesson_navigator_block
		.lesson_navigator_inner