.lessons_navigator_block
	.lessons_block
		.circles
			.circle(l_title='Lesson 1', l_fail='50', l_success='50')
			.circle(l_title='Lesson 2', l_fail='50', l_success='50')
			.circle(l_title='Lesson 3', l_fail='50', l_success='50')
			.circle(l_title='Lesson 4', l_fail='50', l_success='50')
			.circle(l_title='Lesson 5', l_fail='50', l_success='50')
	.dictionary_block
		.dictionary_title Dictionary:
		.letters_block А Б В Г Д Е Ё Ж З И К Л М Н О П Р С Т У Ф Х Ц Ч Ш Щ Ъ Ы Я
	.lesson_navigator_block
		.lesson_navigator_inner