h1 Instrumental Case
h2 The Meanings of the Instrumental Case (continued)
h3 3. Using nouns in the Instrumental case to describe occupation or profession
p When we need to describe a person's occupation, we can do so, using nouns only :
p Виктор инженер. Мария  журналистка.
p
	| However, if we want to provide a more detailed information, we will rely on a verb. When an occupation is discussed, the verbs "работать" (work as), "быть" (be) and "стать" (become) are most commonly used. These verbs are followed by a noun in the Instrumental case.
p Инна работает менеджером.
img(src='/images/' + course + '/grammar/lesson10/01.jpg')
h3 Please, note!
p
	| The verb "БЫТЬ": do you remember that in Russian this verb is never used in the present tense?
p
	| Катя не хочет
	b быть врачом
	| , она хочет
	b быть журналисткой
	| .
p Иван был студентом, а сейчас он банкир, работает в банке.
img(src='/images/' + course + '/grammar/lesson10/02.jpg')
p Николай сейчас  еще студент, но после института он будет инженером.
h3 СТАТЬ
p
	| Они стали политик
	b ами
	| .
	br
	| Татьяна стала музыкант
	b ом
	| .
	br
	| Сергей станет бизнесмен
	b ом
	| .
	br
	| Мы станем друзь
	b ями
	| .

