extends ../../../index.jade

block vars
	- var task = 'Listen to the words and select the right picture'
	- var items = 9
	- var rand = function(min, max) { return (min + Math.random()*(max+1-min))^0; }
	- var current = rand(+select, +items)

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/' + course + '/exercises/' + ex_path + '/'
			include ../../../types/select.jade

	.exercise_column
		.exercise_blocks_block
			- var path = '/audio/' + course + '/' + ex_path + '/' + ('0' + current).slice(-2) + '.m4a'
			include ../../../types/audio.jade