extends ../../../index.jade

block vars
	- var task = 'Drag the right word to match a picture:'
	- var items = 1
	- var words = [{'word':'торт', 'position': 1}, {'word':'мороженное', 'position': 2}, {'word':'кекс', 'position': 3}, {'word':'пирожное', 'position': 4}]

block columns
	.exercise_column
		.exercise_blocks_block
			- var path = '/images/exercises/' + ex_path + '/'
			include ../../../types/drag.jade

	.exercise_column
		.exercise_blocks_block
			//- include types/audio.jade
