ul
	li Вы в Москве первый раз?
	li Да, я первый раз приехал в Москву.
	li Вы приехали сюда отдыхать или работать? Вам нравится город?
	li Я приехал как турист два дня назад и почти ничего ещё не видел в Москве.
	li А мы тоже не москвичи, мы приехали в Москву из Сибири. Меня зовут Катя, это Андрей. Мы студенты, приехали тоже отдохнуть и посмотреть Москву.
	li Мы живём в Москве уже две недели. Какой огромный город!
	li Мы уже хорошо знаем центр: были в Кремле, видели Большой театр, вчера ходили в Третьяковскую галерею…
	li Вот, смотрите, вход в Кремль, тут Манеж. Давайте сфотографируемся вместе!
	li А сейчас мы идём покупать билеты в Малый театр и на концерт. Вы любите музыку?
	li Конечно, я люблю, я же профессиональный музыкант, дома в Канаде играю в джаз - клубе. Я и мои друзья много раз ездили в Америку, Мексику, Европу. Мы даже в Азии были – давали концерты в Японии и Сингапуре. Мне очень интересно послушать, какая музыка сейчас популярна в России, в Москве.
	li Давайте пойдём вместе на концерт в музыкальный клуб, где играют красивую музыку, например, хороший джаз, давай, Джон, а?
	li Мы пришли. Вот дом 5, где находится Дом Журналиста, который вам нужен, Джон.
	li Спасибо огромное! Давайте пойдём в джаз-клуб вместе, как здорово! Но сегодня я занят. Вот мой телефон, позвоните мне завтра или через два дня, ладно?
	li Конечно, Джон. До встречи в джаз – клубе!