extends ../../../index.jade

block vars
	- var task = 'Лексические упражнения'
	- var items = 1

block columns
	.exercise_column
		.exercise_blocks_block
			include ../../../types/drop.jade
			.exercise_block(class='drop_words')

				if select == 1
					.drop_items
						p Выберите логическое продолжение и закончите предложение.
						ol
							li!= item('Когда Иван кончил завтракать, он {list:вымыл посуду|рассказал интересную историю|увидел Красную площадь|забыл номер её квартиры}.')
							li!= item('Когда Николай был около дома подруги, он вспомнил, что {list:забыл номер её квартиры|вымыл посуду|рассказал интересную историю|увидел Красную площадь}.')
							li!= item('Когда Миша кончил читать газету, он мне {list:рассказал интересную историю|забыл номер её квартиры|вымыл посуду|увидел Красную площадь}.')
							li!= item('Когда иностранец приехал в Москву, он {list:увидел Красную площадь|рассказал интересную историю|забыл номер её квартиры|вымыл посуду}.')