ul
	li Так, что же купить? Мне нравится, например, русский шоколад, но я не знаю, любит его Мария или нет.
	li Может, у неё аллергия на шоколад. Я ничего о ней не знаю.
	li У меня прекрасная идея: мы сейчас попросим продавца нам помочь!
	li Одна женщина всегда знает, что подарить другой женщине.
	li Пожалуйста…
	li Понимаете, мы сегодня вечером пойдём к одной девушке, она журналистка, нам нужен для неё подарок.
	li Вы можете нам помочь выбрать …э… что-нибудь?
	li А... понимаю. Вы, наверно, идёте на день рожденья. Тогда вам нужен торт. И сколько лет вашей девушке?
	li Мария молодая, может, ей 28 лет, 30 лет. Но это не важно, потому что мы идём не на её день рожденья!
	li Извините, я думала, что на день рожденья.
	li Всё равно, я считаю, что вам нужен торт.
	li Посмотрите вот на этот - вам нравится? Женщины часто выбирают именно этот торт.
	li Как красиво он выглядит- с кремом, с розой, с шоколадом! И он очень сладкий и вкусный!
	li Лева, может быть, Мария любит сладкое, но не этот торт. Этот торт как её чемодан - Мария не будет его есть, я уверен!
	li Да, мне кажется, ты прав. Большое вам спасибо!
	li Знаешь, Джон, давай купим ей шампанское и вкусный большой ананас.
	li Это будет необычный и красивый подарок - цветы и шампанское с ананасом. Этот подарок Марии понравится.
	li Я согласен, давай.